[2015-06-22 23:34] Jinsuke opened #1 "Dashboard Functionality"
Needs working functionality for the Dashboard (Attendance Tracker's main page)

[Reference mockup]
![image](https://cloud.githubusercontent.com/assets/10201846/8295606/ef4320fc-1978-11e5-95ed-3b2c6276aaa3.png)

*Clicking on LASTNAME & FIRSTNAME will redirect to specific user's profile page
*STATUS list can be sorted
*GEO should be renamed as TEAM

[2015-06-22 23:46] Jinsuke opened #2 "UI - Individual Profile Page"
Individual Profile page of every Agent, Supervisor, Manager and Admin. Should contain the ff:
*Real-time Impact360 schedule
*History
*Calendar
*Edit Profile

Reference MockUps:
![image](https://cloud.githubusercontent.com/assets/10201846/8295871/793371b6-197b-11e5-9520-fc4c5f5f1db2.png)

![image](https://cloud.githubusercontent.com/assets/10201846/8295866/6db9aa6c-197b-11e5-8478-a249a97bbe57.png)

[2015-06-22 23:47] Jinsuke opened #3 "Functionality - Individual Profile Page"
Individual Profile page of every Agent, Supervisor, Manager and Admin. Should contain the ff:
*Real-time Impact360 schedule
*History
*Calendar
*Edit Profile

Reference MockUps:
![image](https://cloud.githubusercontent.com/assets/10201846/8295871/793371b6-197b-11e5-9520-fc4c5f5f1db2.png)

![image](https://cloud.githubusercontent.com/assets/10201846/8295866/6db9aa6c-197b-11e5-8478-a249a97bbe57.png)

[2015-06-22 23:51] Jinsuke opened #4 "UI - Member's Page"
This page shows the list of all the members in the Organization (including those who doesn't have a TEAM).
-
USER INTERFACE
*SEARCH member
*ADD member button
*REMOVE member button

FUNCTIONALITIES
*SEARCH member
*ADD members
*REMOVE members

Reference Mockup
![image](https://cloud.githubusercontent.com/assets/10201846/8295926/5e1c24bc-197c-11e5-9de2-2df8daef9e04.png)

[2015-06-22 23:54] Jinsuke opened #5 "Functionality - Member's Page"
Site: http://16.178.42.203/organization/members
-
This page shows the list of all the members in the Organization (including those who doesn't have a TEAM).

**USER INTERFACE**
- SEARCH member
- ADD member button
- REMOVE member button

**FUNCTIONALITIES**
- SEARCH member
- ADD members
- REMOVE members

Reference Mockup
-
![image](https://cloud.githubusercontent.com/assets/10201846/8295926/5e1c24b

[2015-06-23 00:06] Jinsuke opened #6 "UI - Create Organization page"
User Interface for Creating Organizations.
-
**USER INTERFACE**
- Organization ID
- Organization Name
- CREATE button
- CANCEL button

**FUNCTIONALITY**
- CREATE
- CANCEL

**Reference Mockup**
![image](https://cloud.githubusercontent.com/assets/10201846/8296037/d77aa54e-197d-11e5-8d38-bc6ac8de3b89.png)

[2015-06-23 00:08] Jinsuke opened #7 "Functionality - Create Organization"
User Interface for Creating Organizations.
-
**USER INTERFACE**
- Organization ID
- Organization Name
- CREATE button
- CANCEL button

**FUNCTIONALITY**
- CREATE
- CANCEL

**Reference Mockup**
![image](https://cloud.githubusercontent.com/assets/10201846/8296037/d77aa54e-197d-11e5-8d38-bc6ac8de3b89.png)

[2015-06-23 00:20] Jinsuke opened #8 "UI - Groups / My Team"
**NOTE: My Teams tab should be changed to "Groups"**

This page is the main Team Creation Page. This should show where ADMIN users can create TEAMs and Add Team Members

**USER INTERFACE**
* TEAM ID creation
* Team Name creation
* Search field for adding team member
* Team Members list

**FUNCTIONALITY**
* CREATE team
* CANCEL team
* ADD team member

**Reference MockUp**
![image](https://cloud.git

[2015-06-23 00:20] Jinsuke opened #9 "Functionality - Groups / My Team"
**NOTE: My Teams tab should be changed to "Groups"**

This page is the main Team Creation Page. This should show where ADMIN users can create TEAMs and Add Team Members

**USER INTERFACE**
* TEAM ID creation
* Team Name creation
* Search field for adding team member
* Team Members list

**FUNCTIONALITY**
* CREATE team
* CANCEL team
* ADD team member

**Reference MockUp**
![image](https://cloud.git

[2015-06-23 00:27] Jinsuke opened #10 "UI - Individual Groups Page"
This page shows TEAM MEMBERS of a particular Group.
-
**USER INTERFACE**
- Search field for Adding Team Members
- ADD button
- Members list
- REMOVE button
- EDIT button (will redirect to user profile)

**FUNCTIONALITY**
- SEARCH and ADD
- REMOVE
- EDIT

Screenshot
-
![image](https://cloud.githubusercontent.com/assets/10201846/8296285/51d0a142-1981-11e5-92dd-9c37e53f375a.png)

[2015-06-23 00:27] Jinsuke opened #11 "Functionality - Individual Groups Page"
This page shows TEAM MEMBERS of a particular Group.
-
**USER INTERFACE**
- Search field for Adding Team Members
- ADD button
- Members list
- REMOVE button
- EDIT button (will redirect to user profile)

**FUNCTIONALITY**
- SEARCH and ADD
- REMOVE
- EDIT

Screenshot
-
![image](https://cloud.githubusercontent.com/assets/10201846/8296285/51d0a142-1981-11e5-92dd-9c37e53f375a.png)

[2015-06-23 00:32] Jinsuke opened #12 "Functionality - Roles / User Group"
**NOTE: User Group tab should be changed to "User Role"**

**NOTE: LEVEL 1 has the lowest access. Level access is ascending.**
MANAGER - LEVEL 4
SUPERVISOR - LEVEL 3
TEAM LEAD - LEVEL 2
AGENT - LEVEL 1

FUNCTIONALITIES
-
* Hierarchy (Level selection)
* Add Group (add group role)
* Edit button
* Delete button (delete group role)
* Add Hierarchy (add new hierarchy)
* Delete button (delete hierarchy

[2015-06-23 07:33] Jinsuke opened #13 "Software - UI Additional Changes"
Task
-
* ALERT WINDOW should be on top.
* OVERBREAK ALERT time should be in RED Color.
* ALERT WINDOW should have at least 5 minutes notification before actual time lapses

**Note: We will PROVIDE Log-in details for agents to view information on the attendance tracker**

[2015-06-23 07:36] Jinsuke commented on #8
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:36] Jinsuke commented on #9
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:38] Jinsuke opened #14 "UI - Dashboard Page"
*Add TARDINESS tab that will show the running time for lates once the actual shift has started.

Reference (Add the Tardiness Tab after STATUS)
![image](https://cloud.githubusercontent.com/assets/10201846/8301130/ea998c36-19bd-11e5-93c0-3055a161d95a.png)

[2015-06-23 07:41] Jinsuke commented on #5
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:41] Jinsuke commented on #4
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:43] Jinsuke commented on #10
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:43] Jinsuke commented on #11
*Add MEMBERS AND CALENDAR TAB
*MEMBERS tab still has the same output
*Add CALENDAR Function that will show users who are on leave (Refer to Outlook's Calendar)

[2015-06-23 07:46] Jinsuke opened #15 "Functionality - Employee Attendance Tracker Viewer"
**Note: We will PROVIDE Log-in details for agents to view information on the attendance tracker**

**What agents can see and access on the Attendance Tracker Page:**
- Can access PROFILE PAGE which only shows CALENDAR/ATTENDANCE/INSTANCES
- Can see a page wherein Dates with Calendar / Time-in / Time-out is included.
- Users can view acc. minutes of tardiness

[2015-06-23 07:55] Jinsuke commented on #2
PROFILE PAGE
   INSTANCE TAB
     *DELETE the "# of Instance" table
     *CREATE another table for Late INSTANCES.
     *CREATE 2 check boxes for Supervisor's Approval to RESET TARDINESS count.
   LEAVES TAB
     *This page will only show the Summary of Leaves filed (VL, SL, EL, etc.)
     *This is the page where Supervisors can forcast Leaves for their agent once it has been approved. Results sho

[2015-06-23 07:56] Jinsuke commented on #3
PROFILE PAGE
   INSTANCE TAB
     *DELETE the "# of Instance" table
     *CREATE another table for Late INSTANCES.
     *CREATE 2 check boxes for Supervisor's Approval to RESET TARDINESS count.
   LEAVES TAB
     *This page will only show the Summary of Leaves filed (VL, SL, EL, etc.)
     *This is the page where Supervisors can forcast Leaves for their agent once it has been approved. Results sho

[2015-06-23 08:02] Jinsuke opened #16 "UI - Organization Settings"
Reference from local:
-
![image](https://cloud.githubusercontent.com/assets/10201846/8301542/302a09bc-19c1-11e5-8291-4f6ffd3a175c.png)

[2015-06-23 08:03] Jinsuke opened #17 "Functionality - Organization Settings"
FUNCTIONALITY:
-
* SAVE
* DELETE
* CANCEL
* Make Organization a Private org.

Reference from local:
-
![image](https://cloud.githubusercontent.com/assets/10201846/8301542/302a09bc-19c1-11e5-8291-4f6ffd3a175c.png)

[2015-06-23 08:20] Jinsuke opened #18 "UI - Reports Page"
This Page shows all the records and graphs.
-
**FUNCTIONALITY**
* Computation of Absenteeism
* Tardiness and Leaves
* Graphical performance of all agents

**MORE UPDATES Soon once a sample mock has been made.**

[2015-06-23 08:21] Jinsuke opened #19 "Functionality - Reports Page"
This Page shows all the records and graphs.
-
**FUNCTIONALITY**
* Computation of Absenteeism
* Tardiness and Leaves
* Graphical performance of all agents

**MORE UPDATES Soon once a sample mock has been made.**

[2015-06-23 09:14] Jinsuke commented on #14
*TITLE TAB will be removed

*Add ON DESK tab (has 2 columns)
   -AUX 7
   -SHORTBREAK
Note: ONDESK should total to 8hrs

*Add LONGBREAK tab

[2015-06-24 04:10] asjr4584 commented on #1
(1) Status column should show the following:
*Present
*Absent
*Leave

(2) Change Title Column to Team Lead (TL)

[2015-06-24 04:24] asjr4584 commented on #18
I also would like to see the computation of the following table here:

![image](https://cloud.githubusercontent.com/assets/4827031/8322678/e566a9e8-1a6b-11e5-935e-acb6a76d8b00.png)

[2015-06-24 04:31] asjr4584 commented on #12
For now, let's focus on the two different accounts:

(1) Admin Accounts (Managers, Supervisors, Team Leads): Read & Write or Full Control
(2) Agent Accounts: View only

Later on we can further differentiate the roles of Admin accounts using Levels; example:

Level 4 Manager has Full Control; can create organization and view different organization
Level 3 Supervisors has Read & Write but cannot cre

[2015-06-24 04:34] asjr4584 commented on #13
Add History button to the application that will allow the agent to view his/her employee's attendance history through a web browser.

However, he needs to sign in again since application and website have different sessions.

[2015-06-24 04:34] asjr4584 commented on #15
Add History button to the application that will allow the agent to view his/her employee's attendance history through a web browser.

However, he needs to sign in again since application and website have different sessions.

[2015-06-24 07:10] chrisperez commented on #7
Done in my Local and changes are pushed to Git.

[2015-06-24 07:33] chrisperez commented on #17
ISSUE-017 Organization Settings is updated.

- Latest UI
- Now able to delete organization records. Still need to add warning message before deletion continues.
- Now able to update/change organization's detail except the checkbox "Private Profile"

[2015-06-26 03:33] alvincrisuycorel commented on #6
The image above is for creating the groups. Though creating organization UI is now working :+1:

[2015-06-26 03:35] asjr4584 commented on #6
Hi Alvin, is this for testing in your local?

[2015-06-26 04:45] chrisperez commented on #12
- Removed Cancel Button on Adding Role
- Create individual view page for each role
- Role names on the role index page now have hyperlinks going to their respective view pages
- Calendar tab on individual role view page was removed.

[2015-06-26 04:52] chrisperez commented on #17
- Cancel button from the setting page was removed
- Cancel Button and Private Profile checkbox from the create organization page was removed

[2015-06-26 04:53] chrisperez commented on #7
- Cancel Button and Private Profile checkbox from the create organization page was removed

[2015-06-26 08:31] Jinsuke commented on #16
UI - Organization Settings #16
ORGANIZATION SETTINGS PAGE
-PRIVACY BUTTON is now hidden

[2015-06-26 08:32] Jinsuke commented on #10
UI - Individual Groups Page #10
INDIVIDUAL GROUP PAGE
-working links for NAMES and EDIT button

[2015-06-26 08:32] Jinsuke commented on #4
UI - Member's Page #4
MEMBER PAGE
-working links for NAMES and EDIT button

[2015-06-26 08:32] Jinsuke commented on #2
UI - Individual Profile Page #2
PROFILE PAGE
-fixed INSTANCES UI
-working link for EDIT PROFILE button

PROFILE/EDIT PAGE
-created UI for page
-button still doesn't work

USER/PROFILE
-fixed INSTANCES UI

[2015-06-26 09:11] chrisperez commented on #12
- Added filter on Role's member search

[2015-06-26 09:49] chrisperez commented on #9
- Added filter in Enter User text search field under Add Group Members
- You can search a member by enter the Employee Number, Email, or Name
- Added hyperlink to every group name in the Group List section going to each group's individual pages

[2015-06-26 09:59] chrisperez commented on #11
- Added filter in Individual Group Pages when Searching for members
- You can search a member by enter the Employee Number, Email, or Name

[2015-06-26 10:25] chrisperez commented on #9
- Change "Enter User" to "Search Member" in Member Search field
- Change "Name" to "Member List"
- Hide Cancel button

[2015-06-28 23:56] alvincrisuycorel opened #20 "Functionality - Access Rights"
Site: http://16.178.42.203/
-
Should not access different URLs when not logged in.

User must redirect to home page when a user access a URL when he/she is not log in

**Sample URLs that you can test.**
http://16.178.42.203/organization/members
http://16.178.42.203/users/profile?userid=2

[2015-06-29 06:16] chrisperez commented on #20
Redirects user to /admin/register when not logged in.

[2015-06-29 06:26] alvincrisuycorel opened #21 "Functionality - Hash Password"
String password will not be seen in database

[2015-06-29 09:04] Jinsuke opened #22 "UI - Responsive Sidebar"
Sidebar is missing if window is resized smaller.
--
![image](https://cloud.githubusercontent.com/assets/10201846/8404496/173fade4-1e80-11e5-92db-9835aa18d89b.png)

![image](https://cloud.githubusercontent.com/assets/10201846/8404607/df3532ec-1e80-11e5-833a-97cda5eef473.png)

[2015-06-29 18:23] gigiadamantopoulos commented on #16
Organization ID is not editable.

Organization name is ok.

[2015-06-29 19:01] gigiadamantopoulos commented on #2
Edit profile still not working...
![image](https://cloud.githubusercontent.com/assets/10202106/8415726/8742ff12-1ed3-11e5-85bd-909e91af544b.png)

[2015-06-29 19:02] gigiadamantopoulos commented on #2
Must add this:

![image](https://cloud.githubusercontent.com/assets/10202106/8415874/5779d0a2-1ed4-11e5-9135-15b50b00de74.png)

[2015-06-29 19:26] gigiadamantopoulos commented on #20
Does not redirect to  /admin/register ... instead displays this:

![image](https://cloud.githubusercontent.com/assets/10202106/8416346/b2b7cd36-1ed7-11e5-9ee9-29fafb29928b.png)

[2015-06-29 19:31] gigiadamantopoulos commented on #17
No problem found... but should add this:

![image](https://cloud.githubusercontent.com/assets/10202106/8416447/6f0ed312-1ed8-11e5-8d67-4a2d42071e1c.png)

[2015-06-29 19:35] gigiadamantopoulos commented on #12
Must add a restriction here.

Is it possible that a member can have 2 roles at the same time? If not, this needs to reassure that each member can be added to only one role and will not be added in other roles.

[2015-06-29 19:38] gigiadamantopoulos commented on #9
Can a member be part of 2 teams at the same time? if not, we should also add a restriction that a member can only be added to 1 team only.

[2015-06-29 19:38] gigiadamantopoulos commented on #8
No issues

[2015-06-29 19:39] gigiadamantopoulos commented on #7
No issues here

[2015-06-29 19:40] gigiadamantopoulos commented on #6
No Issues

[2015-06-29 19:41] gigiadamantopoulos commented on #5
No issues. User lands on the profile page when a member is clicked.

[2015-06-29 19:42] gigiadamantopoulos commented on #4
No issues

[2015-06-29 19:45] gigiadamantopoulos commented on #3
As for the leaves, when you first get in the page, the UI looks like this, without the calendar and the Add Event table is at the left.

![image](https://cloud.githubusercontent.com/assets/10202106/8416741/454a71ec-1eda-11e5-8414-7077cb8e6541.png)

Must first select the "Today" button to show the calendar

[2015-06-30 00:58] Jinsuke commented on #10
150630 UPDATE

Members Tab
![image](https://cloud.githubusercontent.com/assets/10201846/8421809/16f23326-1f06-11e5-97e9-43c4a195307a.png)

Calendar Tab
![image](https://cloud.githubusercontent.com/assets/10201846/8421815/2136d508-1f06-11e5-86c9-33234de29472.png)

[2015-06-30 00:59] chrisperez commented on #10
On groups/view/1 > Members Tab
---
- Adjust members list
- Change edit button to dark blue

![image](https://cloud.githubusercontent.com/assets/4833394/8421717/6457161e-1f05-11e5-978e-f5192aa69eca.png)

-----------

On groups/view/1 > Calendar Tab
---
- Removed Month, Week and Day View Buttons
- Move Month and Year to the right
- Remove style="width:200px" on Date Rang Picker under Select Date Ran

[2015-06-30 00:59] chrisperez commented on #2
On /profile
---
- Removed Month, Week and Day View Buttons
- Move Month and Year to the right
- Remove style="width:200px" on Date Rang Picker under Select Date Range Box
- Change Status Picklist
- Change Submit Button's color to green and font case to Camel Case

![image](https://cloud.githubusercontent.com/assets/4833394/8421570/58210316-1f03-11e5-8a2c-e1c09e694341.png)

--------

On /profile/ed

[2015-06-30 00:59] Jinsuke commented on #9
Hi @gigiadamantopoulos , yes, a member can only be added once. This will be implemented soon. :)

150630 UI UPDATE
![image](https://cloud.githubusercontent.com/assets/10201846/8421844/510529f6-1f06-11e5-9db2-8580fe714f9e.png)

[2015-06-30 01:00] Jinsuke commented on #8
150630 UI UPDATE
![image](https://cloud.githubusercontent.com/assets/10201846/8421844/510529f6-1f06-11e5-9db2-8580fe714f9e.png)

[2015-06-30 01:00] Jinsuke commented on #7
150630 UI UPDATE

![image](https://cloud.githubusercontent.com/assets/10201846/8421861/7f4789c6-1f06-11e5-8cfa-75fe5b9a9a02.png)

[2015-06-30 01:01] Jinsuke commented on #6
150630 UI UPDATE

![image](https://cloud.githubusercontent.com/assets/10201846/8421861/7f4789c6-1f06-11e5-8cfa-75fe5b9a9a02.png)

[2015-06-30 01:02] Jinsuke commented on #4
150630 UI UPDATE

MEMBERS TAB
![image](https://cloud.githubusercontent.com/assets/10201846/8421872/a45ae85c-1f06-11e5-955a-d876c9a75486.png)

REGISTER EMPLOYEE TAB
![image](https://cloud.githubusercontent.com/assets/10201846/8421874/b2b9578a-1f06-11e5-8ec1-7a4cd7cfe912.png)

[2015-06-30 01:02] Jinsuke commented on #5
150630 UI UPDATE

MEMBERS TAB
![image](https://cloud.githubusercontent.com/assets/10201846/8421872/a45ae85c-1f06-11e5-955a-d876c9a75486.png)

REGISTER EMPLOYEE TAB
![image](https://cloud.githubusercontent.com/assets/10201846/8421874/b2b9578a-1f06-11e5-8ec1-7a4cd7cfe912.png)

[2015-07-01 00:12] chrisperez opened #23 "UI Change - Role Index Page"
- Swap Hierarchy Column with Role Column
- Make these two colunms the same in width

[2015-07-01 01:08] chrisperez commented on #23
Done with changes

[2015-07-01 01:19] chrisperez opened #24 "Functionality - Create Admin Hierarchy and Manager Role When An Org Was Created"
When a new organization was created:
---
- Create a hierarchy named Admin
- Create a role named Manager
- Assign the role to the creator's profile

[2015-07-01 01:50] alvincrisuycorel commented on #20
Hi Gigi, this should not redirect to /admin/register hence it should redirect to 16.178.42.203 which is the home page.

![capture27](https://cloud.githubusercontent.com/assets/7260700/8445983/9ae93ff0-1fd6-11e5-9aa8-a0aa48243617.PNG)

[2015-07-01 04:49] chrisperez commented on #24
Please consolidate and test

[2015-07-01 06:13] chrisperez opened #25 "Functionality - User Edit and/or Profile Edit"
User Edit and/or Profile Edit Pages
---

- Add function that will update the user's details.
- Add Profile Picklist to the Form

[2015-07-01 06:15] Jinsuke commented on #2
On /profile
--
- Leave tab has been replaced by Calendar Tab
- Tab Order has been changed to [Attendance/Calendar/Instances]
![image](https://cloud.githubusercontent.com/assets/10201846/8448458/763d8fa2-1ffa-11e5-82f4-574d8423f29f.png)

----------

On Calendar Tab
--
- ADD EVENT and EVENT positions has been changed.
![image](https://cloud.githubusercontent.com/assets/10201846/8448548/7b6b7696-1ffb

[2015-07-01 06:16] chrisperez commented on #2
Added Value to Status Picklist. Please merge and test.

[2015-07-01 06:19] Jinsuke commented on #10
On Groups Calendar tab
--
- Removed ADD EVENT
- EVENT toggle is now on the bottom of the Calendar
- This will be a page for viewing status events only (no schedules).

![image](https://cloud.githubusercontent.com/assets/10201846/8448607/18a81d24-1ffc-11e5-8e3c-a8c3e96dffc3.png)
![image](https://cloud.githubusercontent.com/assets/10201846/8448611/1d36a270-1ffc-11e5-896b-1d22aaabd7c5.png)

[2015-07-01 06:22] Jinsuke commented on #16
Organization Settings UI
--
- Organization ID is not editable to make it a unique ID.
![image](https://cloud.githubusercontent.com/assets/10201846/8448652/7ffd5732-1ffc-11e5-952c-fc1c048686d6.png)

[2015-07-01 06:24] Jinsuke commented on #17
Organization Settings Update
--
- Members on the Organization won't be removed even after deleting the Organization. Member data will remain on the Database.

![image](https://cloud.githubusercontent.com/assets/10201846/8448652/7ffd5732-1ffc-11e5-952c-fc1c048686d6.png)

[2015-07-01 07:38] Jinsuke opened #26 "UI - Individual Role Page"
Page where to assign Roles to a user.
--
- ADD/REMOVE user
- EDIT button to direct to User Profile Edit page.

![image](https://cloud.githubusercontent.com/assets/10201846/8449808/286a91fa-2007-11e5-9ee8-02dc5fcc1316.png)

Site: http://16.178.42.203/roles/view/1
--

[2015-07-01 07:39] Jinsuke opened #27 "Functionality - Individual Role Page"
Page where to assign Roles to a user.
--
- ADD/REMOVE user
- EDIT button to direct to User Profile Edit page.

![image](https://cloud.githubusercontent.com/assets/10201846/8449808/286a91fa-2007-11e5-9ee8-02dc5fcc1316.png)

Site: http://16.178.42.203/roles/view/1
--

[2015-07-01 07:44] Jinsuke commented on #13
Software UI Update
--
- Added View Records (History button)

![image](https://cloud.githubusercontent.com/assets/10201846/8449896/fc1b1164-2007-11e5-952a-e8846de4613e.png)

[2015-07-01 07:57] Jinsuke opened #28 "Functionality - Change Password"
On /profile/changepassword
--
- Password change works on the first run. You can even check it change on the database, but after changing the password, and you've tried changing again, you'll get a wrong password input from the new password.

Steps to see the issue:
- Change password from old to new
- Get a password changed successfully
- Change password again by using the new password as the old p

[2015-07-01 08:05] Jinsuke commented on #14
Dashboard UI Update
--
- Added MEETING/ON DESK/LUNCH/TARDINESS/FLEXI TIME APPROVAL COLUMNS
![image](https://cloud.githubusercontent.com/assets/10201846/8450189/e326277c-200a-11e5-9c64-736b149b75ad.png)

[2015-07-01 08:22] Jinsuke opened #29 "UI- Individual Profile Page (Calendar Tab)"
Features
--
- This is where Admins can plot Agent events like VL, SL, New Schedule, etc.
- Events should be shown on the calendar according to their assigned dates.
- If NEW SHIFT Status is selected, there should be another field to select Shifts.

Screenshot
--
![image](https://cloud.githubusercontent.com/assets/10201846/8450346/b1b160a6-200c-11e5-85fb-885c51821069.png)
![image](https://cloud.git

[2015-07-01 08:22] Jinsuke opened #30 "Functionality - Individual Profile Page (Calendar Tab)"
Features
--
- This is where Admins can plot Agent events like VL, SL, New Schedule, etc.
- Events should be shown on the calendar according to their assigned dates.
- If NEW SHIFT Status is selected, there should be another field to select Shifts.

Screenshot
--
![image](https://cloud.githubusercontent.com/assets/10201846/8450346/b1b160a6-200c-11e5-85fb-885c51821069.png)
![image](https://cloud.git

[2015-07-01 08:25] Jinsuke opened #31 "UI- Individual Profile Page (InstancesTab)"
Site: http://16.178.42.203/users/profile?userid=1
--
Features
--
- Page to let Admins / Regular user to see their Lates/Instances/Sick Leaves.
- Admin access has the right to reset tardiness count on the Instances toggle.

Screenshot
--
![image](https://cloud.githubusercontent.com/assets/10201846/8450445/897ca9f0-200d-11e5-851b-5ef6a00fd8ed.png)

[2015-07-01 08:25] Jinsuke opened #32 "Functionality - Individual Profile Page (InstancesTab)"
Site: http://16.178.42.203/users/profile?userid=1
--
Features
--
- Page to let Admins / Regular user to see their Lates/Instances/Sick Leaves.
- Admin access has the right to reset tardiness count on the Instances toggle.

Screenshot
--
![image](https://cloud.githubusercontent.com/assets/10201846/8450445/897ca9f0-200d-11e5-851b-5ef6a00fd8ed.png)

[2015-07-01 16:27] gigiadamantopoulos commented on #6
No Issues

[2015-07-01 16:30] gigiadamantopoulos commented on #7
Hi All,

Tried creating an organization by only adding an organization name and it saved.

Issue: Organization ID should be automated and cannot be edited when creating an organization.

![image](https://cloud.githubusercontent.com/assets/10202106/8459694/9042e594-2051-11e5-8c9f-577b7f8cf172.png)

[2015-07-01 16:38] gigiadamantopoulos commented on #16
Organization ID should be auto-generated. Since it's not for the moment, the organization was saved even though the Organization ID was left blank. Since it's not editable, it remained empty.

Please refer to https://github.com/HP-Corel/AttendanceTracker/issues/7

![image](https://cloud.githubusercontent.com/assets/10202106/8459872/ab87bd10-2052-11e5-8587-ed66fbf395e1.png)

[2015-07-01 18:58] gigiadamantopoulos commented on #17
Member data will be in the database, but will they be still included in the member list? Since the organization will be deleted, this will not exist anymore, correct?

Will you still register an employee if, for example, you have already deleted the organization and decided to create a new one and add that same employee?

![image](https://cloud.githubusercontent.com/assets/10202106/8462358/efbd149

[2015-07-01 18:59] gigiadamantopoulos commented on #14
No Issues

[2015-07-01 19:07] gigiadamantopoulos commented on #4
Hi,

Question, can we add a dropdown list of the Group and Role when you are registering an employee? So that when you register a new employee, you don't have to go to the group or role tab just to add them...

![image](https://cloud.githubusercontent.com/assets/10202106/8462563/5a94c7c6-2067-11e5-9b06-caade9fcfcb2.png)

[2015-07-01 19:09] gigiadamantopoulos commented on #5
No Issues

[2015-07-01 19:13] gigiadamantopoulos commented on #8
Hi,

Similar to the organization tab, can we make the Group ID auto-generated and un-editable?

![image](https://cloud.githubusercontent.com/assets/10202106/8462710/39a1999e-2068-11e5-9d75-1ab08e392107.png)

[2015-07-01 19:16] gigiadamantopoulos commented on #9
Hi,

Is it possible that the members that is already added to the group will not show up to the search member list?

![image](https://cloud.githubusercontent.com/assets/10202106/8462764/a7581a08-2068-11e5-8df0-d8d9a035c052.png)

[2015-07-01 19:23] gigiadamantopoulos commented on #10
Hi,

Is it possible that when you click the calendar tab, the calendar will already be displayed instead of clicking the "today" button first??
![image](https://cloud.githubusercontent.com/assets/10202106/8462899/5ffcb30c-2069-11e5-9b96-a5e19121472d.png)

Also, the Events table should be below the calendar right?
![image](https://cloud.githubusercontent.com/assets/10202106/8462934/aee0c454-2069-11

[2015-07-01 19:24] gigiadamantopoulos commented on #11
No issues

[2015-07-01 19:25] gigiadamantopoulos commented on #23
No issues

[2015-07-01 19:28] gigiadamantopoulos commented on #26
No Issues

[2015-07-01 19:28] gigiadamantopoulos commented on #27
No Issues

[2015-07-01 19:30] gigiadamantopoulos commented on #20
No Issues

[2015-07-01 19:32] gigiadamantopoulos commented on #29
No Issues

[2015-07-01 19:33] gigiadamantopoulos commented on #31
No Issues

[2015-07-01 19:39] gigiadamantopoulos commented on #2
No Issues

[2015-07-01 23:13] asjr4584 opened #33 "Functionality - Notification icon (beside the User Profile tab)"
Admins should receive a notification when:
-

-  An agent incurred an instance
-  An agent reached 3 instances or accumulated 60 minutes of lates
-  An agent is on vacation, sick, etc.
-  A Supervisor approves/rejects a flexi
-  An agent forgot to logout after his/her shift (notification 4 hours after his/her shift)

Is it possible to receive an email notification of the above conditions?

[2015-07-01 23:48] alvincrisuycorel opened #34 "UI - Notification icon (beside the User Profile tab)"

[2015-07-01 23:49] alvincrisuycorel commented on #33
Hi sir I think it will be possible.

From who's email will we gonna use from sending the email messages?

[2015-07-02 00:14] Jinsuke commented on #17
[TBD]

[2015-07-02 00:33] asjr4584 commented on #33
Hi Alvin,

Can we use a dummy email (from Gmail) for now to test this functionality?

Also, email notifications should only be received by TL/Supervisor of that Agent.

Can that be done?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/33#issuecomment-117854789>.

[2015-07-02 01:04] Jinsuke commented on #28
This is now working and has been pushed to dev. :smirk:
--
![image](https://cloud.githubusercontent.com/assets/10201846/8468054/35087372-2099-11e5-9f08-603a7cec5e1d.png)

Thanks kuya @chrisperez !
Site: http://16.178.42.203/profile/changepassword
--

[2015-07-02 01:15] alvincrisuycorel commented on #33
I'm not sure yet sir if email functionality will work because the system only works locally not on a live server. Though we can give it a try if emailing system will work on a local network only.

References for local server
http://roshanbh.com.np/2007/12/sending-e-mail-from-localhost-in-php-in-windows-environment.html

cakephp implementation
http://book.cakephp.org/2.0/en/core-utility-libraries/e

[2015-07-02 01:23] Jinsuke commented on #5
Site: http://16.178.42.203/organization/members
--
Added Role and Group dropdown selection on Register Employee Tab.
--

![image](https://cloud.githubusercontent.com/assets/10201846/8468219/df33beea-209b-11e5-8a37-57ba1d718fda.png)

[2015-07-02 01:50] Jinsuke commented on #10
Calendar EVENT is now moved on the bottom of the tab.
--
![image](https://cloud.githubusercontent.com/assets/10201846/8468485/a52e2f60-209f-11e5-9f21-b4fae7710172.png)

Calendar's functionality (Including the today button is for Issue #30

[2015-07-02 01:52] chrisperez commented on #25
Added functionalities
---
- Update User Record
- Update Role
- Update Group
- Update Shift

[2015-07-02 03:13] asjr4584 commented on #33
Thanks Alvin,

To Everyone,

I also would like to get a notification when an agent forgot to logout his/her attendance tracker app; although this is not counted as an instance, a notification will be sent to his/her TL/Sup 4-hours after his/her shift.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/33#issuecomment-117867172>.

[2015-07-02 03:16] asjr4584 commented on #5
Hi Jin,

Can I register an employee if there is no group available yet?

Is the Role field and Group field mandatory?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/5#issuecomment-117868303>.

[2015-07-02 03:18] asjr4584 commented on #10
Hi Jin,

Can you make the size of the calendar adjustable or responsive? I would like to know if the calendar can match the width of the Event tab.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/10#issuecomment-117872961>.

[2015-07-02 03:26] asjr4584 commented on #28
Hi Jin,

Can you also add another field here where a user must re-type his/her new password for confirmation?

![image](https://cloud.githubusercontent.com/assets/4827031/8469417/1f6cf5c4-20ad-11e5-9603-644515ded18c.png)

[2015-07-02 03:26] asjr4584 commented on #28
Hi Jin,

Can you also add another field here where a user must re-type his/her new password for confirmation?
[cid:image001.png@01D0B4B9.A57593C0]

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/28#issuecomment-117866220>.

[2015-07-02 03:33] asjr4584 commented on #17
Please re-assign this back to Gigi once this issue is ready for QA again.

[2015-07-02 03:35] asjr4584 commented on #34
Assigning this to Jin.

[2015-07-02 04:37] chrisperez commented on #25
Added Field validations. Please merge and test.

[2015-07-02 05:19] Jinsuke commented on #29
Make Calendar Responsive
--

[2015-07-02 05:24] chrisperez commented on #12
Added field validation to required fields. Please merge and test

[2015-07-02 05:30] Jinsuke commented on #28
Re-type New Password has been added on the Attendance Tracker.
--

![image](https://cloud.githubusercontent.com/assets/10201846/8470485/81fad68c-20be-11e5-884d-e01ed321b028.png)

Site: http://16.178.42.203/profile/changepassword
--

[2015-07-02 06:30] Jinsuke commented on #34
Added Notification icon near User Profile dropdown.
--
- Added **Notifications Page** under **profile/notifications**
- **Notification Page** content is to be discussed.

![image](https://cloud.githubusercontent.com/assets/10201846/8471039/6de1f696-20c6-11e5-97a4-d9c6dcbad353.png)

Site: http://16.178.42.203/profile/notifications
-

[2015-07-02 06:37] Jinsuke commented on #5
**Hi Sir @asjr4584 ,**
The Role and Group field is not mandatory. Admins can still create User accounts without inputting fields for Role and Group. :sweat_smile:

[2015-07-02 06:42] asjr4584 commented on #20
@gigiadamantopoulos

All those issues that you have tested and passed, I will assign them back to you. Once the QA Server is ready, you need to test those assigned issues to you again.

[2015-07-02 07:13] asjr4584 commented on #5
Thanks @Jinsuke , in the future, let's add a help button or notification button just beside those fields so that admins are aware that they should create groups or roles first before adding members.

looping in @chrisperez , @alvincrisuycorel @gigiadamantopoulos and @lyn2711

[2015-07-02 07:22] asjr4584 commented on #19
@gigiadamantopoulos can you create a mockup page of the Reportings page where we can export the reports into Excel file. I believe @alvincrisuycorel already shared with you the Excel template the Team Leads are currently using to monitor our attendances. Basically we want to generate the same format within the Reporting Page of The Attendance Tracker Website.

[2015-07-02 07:23] asjr4584 commented on #18
@gigiadamantopoulos can you create a mockup page of the Reportings page where we can export the reports into Excel file. I believe @alvincrisuycorel already shared with you the Excel template the Team Leads are currently using to monitor our attendances. Basically we want to generate the same format within the Reporting Page of The Attendance Tracker Website.

[2015-07-02 07:37] asjr4584 commented on #10
I would like to see a responsive calendar in the groups:

![image](https://cloud.githubusercontent.com/assets/4827031/8472026/3fa4f8a0-20d0-11e5-956c-cdeee39d7c5e.png)

[2015-07-02 08:01] asjr4584 commented on #13
@alvincrisuycorel please refer to @gigiadamantopoulos mockup in the PowerPoint Presentation:

https://my.sharepoint.hp.com/my/asiapacific_salvadoa/_layouts/15/start.aspx#/Documents/Forms/All.aspx?RootFolder=%2fmy%2fasiapacific%5fsalvadoa%2fDocuments%2fAttendance%20Tracker%20Application%20Project&FolderCTID=0x0120007BCEA5205BA6C846870457F50EC214AB

[2015-07-02 08:04] asjr4584 commented on #1
@alvincrisuycorel once the agent is tagged as Absent, and then TL has confirmed that the agent is absent due to SL, etc. The status for that agent in the dashboard should be changed into SL (not Absent).

[2015-07-02 08:05] asjr4584 commented on #21
Hi @chrisperez is this ready for testing? If so, please assign this now to @gigiadamantopoulos

[2015-07-02 08:09] asjr4584 commented on #15
@alvincrisuycorel what can be done by @chrisperez here?

[2015-07-02 08:11] alvincrisuycorel opened #35 "Software - Login/AUX Functionalities"
Software UI Update
--
Logout not yet functioning :smile:

![image](https://cloud.githubusercontent.com/assets/10201846/8449896/fc1b1164-2007-11e5-952a-e8846de4613e.png)

[2015-07-02 08:12] asjr4584 commented on #12
@chrisperez do we have now specific levels for each Role?

NOTE: LEVEL 1 has the lowest access. Level access is ascending.
MANAGER - LEVEL 4
SUPERVISOR - LEVEL 3
TEAM LEAD - LEVEL 2
AGENT - LEVEL 1

[2015-07-02 08:15] asjr4584 commented on #11
@chrisperez is this now ready for testing? if so, please assign this now to @gigiadamantopoulos

[2015-07-02 08:20] asjr4584 commented on #2
@gigiadamantopoulos

All those issues that you have tested and passed must be assigned to @lyn2711 Once the QA Server is ready, @lyn2711 can start testing those issues in the QA Server (her computer).

[2015-07-02 08:21] asjr4584 commented on #19
@alvincrisuycorel when do you think we can start this one?

[2015-07-02 08:24] asjr4584 commented on #25
@alvincrisuycorel can you merge this so that @gigiadamantopoulos can do the testing later, please?

[2015-07-02 08:24] lyn2711 commented on #20
Fail. Sample url http://16.178.42.203/users/profile?userid=2 redirects to this page below when not logged in.

![image](https://cloud.githubusercontent.com/assets/7370325/8472783/b993627c-20d6-11e5-897d-d2673ddb1c39.png)

[2015-07-02 08:24] asjr4584 commented on #24
@alvincrisuycorel can you merge this so that @gigiadamantopoulos can do the testing later, please?

[2015-07-02 08:24] asjr4584 commented on #23
@gigiadamantopoulos

All those issues that you have tested and passed please assign them to @lyn2711 . Once the QA Server is ready, @lyn2711 can start testing those issues in the QA Server (her computer).

[2015-07-02 08:26] alvincrisuycorel commented on #35
Logout not yet functioning :smile:

[2015-07-02 08:27] asjr4584 commented on #16
@gigiadamantopoulos is latest comment a UI or Functionality issue? if it's functionality, can you look for the related issue and assign it to @alvincrisuycorel , please? Can you confirm if https://github.com/HP-Corel/AttendanceTracker/issues/16 has no issues in UI? if none, please assign this to @lyn2711

[2015-07-02 08:28] asjr4584 commented on #14
@gigiadamantopoulos

All those issues that you have tested and passed please assign them to @lyn2711 . Once the QA Server is ready, @lyn2711 can start testing those issues in the QA Server (her computer).

[2015-07-02 08:29] asjr4584 commented on #9
@chrisperez assigning this back to you for an answer.

[2015-07-02 08:30] asjr4584 commented on #8
@gigiadamantopoulos if there is no UI issue here, please assign this to @lyn2711 . Please add your functionality comment to the correct GitHub issue.

[2015-07-02 08:31] asjr4584 commented on #7
@alvincrisuycorel assigning this back to you for a comment.

[2015-07-02 08:32] asjr4584 commented on #6
@gigiadamantopoulos

All those issues that you have tested and passed please assign them to @lyn2711 . Once the QA Server is ready, @lyn2711 can start testing those issues in the QA Server (her computer).

[2015-07-02 08:33] asjr4584 commented on #4
@Jinsuke can you comment on this, please?

[2015-07-02 08:36] asjr4584 commented on #20
@lyn2711 for on-going issues, please assign those back to the assigned dev for fixes.

[2015-07-02 08:38] asjr4584 commented on #20
@lyn2711 also, you may start testing these issues once the QA Server (your computer) has the latest working copy of Attendance Tracker Project. The IP address above is @alvincrisuycorel PC which is currently being tested by Gigi.

[2015-07-02 08:45] chrisperez commented on #9
Done as requested. Please merge and test.

[2015-07-02 08:49] chrisperez commented on #12
No, we still don't have this feature.

[2015-07-02 08:50] chrisperez commented on #11
@gigiadamantopoulos, For testing.

[2015-07-02 08:51] chrisperez commented on #7
@gigiadamantopoulos,

Added field validation. Please test.

[2015-07-02 16:43] gigiadamantopoulos commented on #7
Passed

[2015-07-02 16:49] gigiadamantopoulos commented on #11
Passed!

[2015-07-02 16:51] gigiadamantopoulos commented on #16
No issue... assigning it to @lyn2711

[2015-07-02 16:56] gigiadamantopoulos commented on #28
Hi kuya @Jinsuke ,

This should be in asterisk form right since we're dealing with passwords?

![image](https://cloud.githubusercontent.com/assets/10202106/8482759/37ce2ebe-211e-11e5-9c39-f5ac10fdbc20.png)

[2015-07-02 16:56] gigiadamantopoulos commented on #34
No issues

[2015-07-02 17:11] gigiadamantopoulos commented on #9
Passed

[2015-07-02 23:24] Jinsuke commented on #28
Done! :)
--
![image](https://cloud.githubusercontent.com/assets/10201846/8489979/77a4b888-2154-11e5-868d-b2d0af3d373c.png)

[2015-07-02 23:43] alvincrisuycorel commented on #7
The organization id will be used in the future. I put it there so that the user can choose his/her organization id not generated by the system. It will be more difficult if the system will create an ID base on the organization name.

Though this feature is still not used in our system but in some case if the system goes larger the organization id will be use for addressing urls. Example usage

The

[2015-07-03 00:28] gigiadamantopoulos commented on #25
Passed

[2015-07-03 00:28] gigiadamantopoulos commented on #24
Passed

[2015-07-03 01:04] Jinsuke commented on #10
Calendar's full UI (Including the today button and responsiveness is for Issue #29
-
**Changes in Groups/View**
Made Calendar width same as EVENTS Toggle.
![image](https://cloud.githubusercontent.com/assets/10201846/8490787/9e01559c-2161-11e5-8fa5-b16a97212686.png)

Calendar is already responsive. You can test it out by re-sizing the whole window.

[2015-07-03 01:07] Jinsuke commented on #29
Changes
-
- Fixed Calendar's responsiveness when browser size is moved.
- Fixed ADD EVENT and Calendar's windows
![image](https://cloud.githubusercontent.com/assets/10201846/8490876/d7498e9a-2162-11e5-9529-7965d0873c5a.png)

[2015-07-03 01:14] Jinsuke commented on #4
Added Group, Role and Shift Dropdown selections when registering an employee
-
![image](https://cloud.githubusercontent.com/assets/10201846/8490910/a32feef0-2163-11e5-91e3-0686fdc0dbbe.png)

Functionality is still ongoing. Please refer to Issue #5 for functionality.

[2015-07-03 02:54] asjr4584 commented on #7
@alvincrisuycorel should we create a new GitHub issue for the organization ID enhancement and put it on hold until further notice? So that the focus of this issue is the functionality of the Organization. Please advise.

[2015-07-03 02:55] alvincrisuycorel commented on #13
Hi sir,

I did not change the color of the button rather I change the color of the running time label.

[2015-07-03 02:56] asjr4584 commented on #28
@gigiadamantopoulos for testing again, please.

[2015-07-03 02:57] asjr4584 commented on #34
@alvincrisuycorel @gigiadamantopoulos is that the final icon for notification? Do you have alternate colors for for new notifications and no notifications?

[2015-07-03 03:20] asjr4584 commented on #25
@chrisperez I could not find this GitHub https://github.com/HP-Corel/AttendanceTracker/issues/25 to our timeline sheet. Can you add it there, please?

[2015-07-03 03:21] asjr4584 commented on #24
@chrisperez I could not find this GitHub https://github.com/HP-Corel/AttendanceTracker/issues/24 to our timeline sheet. Can you add it there, please?

[2015-07-03 03:24] asjr4584 commented on #10
@gigiadamantopoulos for testing, please.

[2015-07-03 03:25] asjr4584 commented on #29
@gigiadamantopoulos for testing, please.

[2015-07-03 03:27] asjr4584 commented on #4
@gigiadamantopoulos for testing please.

[2015-07-03 03:28] chrisperez commented on #21
**Added hash password function on the following:**
- User First Time Registry
- User Login
- Change Password
- Members > Register Employee

@alvincrisuycorel, Please assign to @gigiadamantopoulos  after merging. Thanks!

[2015-07-03 03:34] asjr4584 commented on #13
@gigiadamantopoulos for testing, please.

[2015-07-03 04:25] asjr4584 commented on #35
@gigiadamantopoulos for testing, please.

[2015-07-03 04:27] asjr4584 commented on #33
Hi @alvincrisuycorel and @gigiadamantopoulos ,

Do you still remember the Pre-Made Music from Corel?

When a user goes to Pre-Made Music Google Site and enter his chosen music to the Pre-Made Music Google Form, an email notification shall be sent to the user’s email address that includes the download link of that music. The download links are stored in the Google Excel Log Sheet where you can also

[2015-07-03 04:42] alvincrisuycorel commented on #5
Additionals:

*Add search bar for finding employees/user that will be added in the list of org members
- search function can find existing users that does not have an organization (employees can not have 2 or more orgs)

[2015-07-03 04:50] asjr4584 commented on #22
@Jinsuke what is your progress here?

![image](https://cloud.githubusercontent.com/assets/4827031/8492774/0a26536a-2182-11e5-93dc-41bcefcff875.png)

[2015-07-03 04:51] asjr4584 commented on #17
@Jinsuke please explain here what we discussed regarding the org deletion. Then assign back to @gigiadamantopoulos

[2015-07-03 04:52] asjr4584 commented on #32
@alvincrisuycorel when can we implement the dashboard so that @Jinsuke can start computing the Instances record?

[2015-07-03 04:52] asjr4584 commented on #30
@alvincrisuycorel when can we implement the dashboard so that @Jinsuke can start computing the Instances record?

[2015-07-03 04:55] chrisperez commented on #25
@Jinsuke will add this one. Thanks!

[2015-07-03 04:59] chrisperez commented on #24
@Jinsuke, will add this one. Thanks!

[2015-07-03 05:01] Jinsuke commented on #22
Update
-
Added Sidebar Dropdown for smaller resolutions. (Window Max Width : 767px) :grin:

**Unclicked**
![image](https://cloud.githubusercontent.com/assets/10201846/8492854/7901ae3c-2183-11e5-9e39-a1d296b6c421.png)

**Clicked**
![image](https://cloud.githubusercontent.com/assets/10201846/8492861/9df672c2-2183-11e5-9acf-b92647c60a0d.png)

[2015-07-03 05:09] alvincrisuycorel commented on #1
Hi Kuya Jin,

Please study the ff before you start:

Database tables in SQL
- shift
- usershift
- attendance
-- attendancestatus
- log
-- logstatus
- userattendancelog

UserController methods
- employeelogin
- employeelogout
- updateattendancelog

[2015-07-03 05:22] Jinsuke commented on #34
Changes
-
Icon has been changed to bell. It will turn red once a notification has been received.

![image](https://cloud.githubusercontent.com/assets/10201846/8493039/9017b302-2186-11e5-8b3f-cea31ed7f1c7.png)

[2015-07-03 05:25] asjr4584 commented on #34
@gigiadamantopoulos for testing, please.

[2015-07-03 05:40] Jinsuke commented on #17
Updates
-
- If an Organization has been deleted, Members will not be deleted, only deactivated. Members will now become an employee account without an organization
- An employee account without an organization can still be searched and assigned to an organization to be active again.

[2015-07-03 09:20] chrisperez commented on #5
Added Search Member to Member Page to look for existing members from the database that are not yet in an organization.

To test, do the following:
- Create a new organization
- Create/register a new user/member
- Delete the new org created
- Select an existing org
- Go to members and search for the new user that you have just created from the deleted org.

[2015-07-03 09:24] chrisperez commented on #12
Can we create a new issue regarding hierarchy functions instead since this issue is for Roles?

[2015-07-03 09:25] asjr4584 commented on #1
@Jinsuke per your confirmation, the dashboard's functionality must be working by July 7.

[2015-07-03 09:26] asjr4584 commented on #12
@chrisperez yes please create a new issue and tag it to Milestone 2.

[2015-07-03 09:28] asjr4584 commented on #22
@Jinsuke this looks much better. :+1:

@gigiadamantopoulos for testing, please.

[2015-07-03 09:29] chrisperez commented on #12
Please test the Role Page functionality if working.

- Check field validation upon creating a role and/or hierarchy.
- When you add a person in a role it will be save to that role.
- When you add the same person on another role, then that person will be included in that role. However, his name from the previous role will be removed.

[2015-07-03 09:56] chrisperez opened #36 "Functionality - User's Hierarchy"
Create Hierarchy and add access restriction to the whole system.
-
**LEVEL 3 ADMIN - For Managers (The Super User Access all)**
- MANAGE ORG,MEMBERS,GROUPS,ROLES,HIERARCHY
- DASHBOARD
- FLEXI APPROVAL (2ND APPROVAL)
- RESET INSTANCES APPROVAL

**LEVEL 2 ADMIN - For Supervisors**
- MANAGE MEMBERS,GROUPS,ROLES
- DASHBOARD
- FLEXI APPROVAL (2ND APPROVAL)
- RESET INSTANCES APPROVAL

**LEVEL 1 ADMIN -

[2015-07-03 09:57] chrisperez commented on #36
@Jinsuke,

Please add this to our online sheet.

[2015-07-03 10:25] asjr4584 commented on #15
Redirection
Page Restriction
Disable Admin Functions

[2015-07-03 10:28] asjr4584 commented on #21
@gigiadamantopoulos this is ready for testing. please test.

[2015-07-03 10:54] Jinsuke commented on #10
Updates
-
- Changed Tab Order [Calendar, Members]
- Calendar now appears (without clicking Today button)

![image](https://cloud.githubusercontent.com/assets/10201846/8498028/d1aaa3a0-21b4-11e5-9664-af4fa2097635.png)

[2015-07-03 10:54] Jinsuke commented on #29
Updates
-
- Changed Tab Order [Calendar, Attendance, Instances]
- Calendar now appears (without clicking Today button)

![image](https://cloud.githubusercontent.com/assets/10201846/8498040/f69be390-21b4-11e5-9226-832b036b4569.png)

[2015-07-03 10:55] Jinsuke commented on #30
Updates
-
- Changed Tab Order [Calendar, Attendance, Instances]
- Calendar now appears (without clicking Today button)

![image](https://cloud.githubusercontent.com/assets/10201846/8498040/f69be390-21b4-11e5-9226-832b036b4569.png)

[2015-07-03 10:55] Jinsuke commented on #2
Updates
-
- Changed Tab Order [Calendar, Attendance, Instances]
- Calendar now appears (without clicking Today button)

![image](https://cloud.githubusercontent.com/assets/10201846/8498040/f69be390-21b4-11e5-9226-832b036b4569.png)

**NOTE:** Please refer to github issue #30 for Calendar's Functionality. :grin:

[2015-07-03 11:00] chrisperez commented on #20
Restricted people from accessing profile page if not logged in.

**Please test all the following pages while not logged in:**
- /organization/overview
- /organization/create
- /profile
- /profile/changepassword
- /organization/dashboard
- /organization/settings
- /organization/members
- /groups
- /groups/view/1
- /roles
- /roles/view/1
- /users/profile?userid=1
- /users/edit?userid=1

[2015-07-03 11:02] asjr4584 commented on #20
@gigiadamantopoulos for testing, please.

[2015-07-03 17:05] gigiadamantopoulos commented on #17
Noted. Thanks!

[2015-07-03 18:31] gigiadamantopoulos commented on #4
Passed

[2015-07-03 18:33] gigiadamantopoulos commented on #5
Passed!

[2015-07-03 18:35] gigiadamantopoulos commented on #10
Passed

[2015-07-03 18:38] gigiadamantopoulos commented on #12
"When you add the same person on another role, then that person will be included in that role. However, his name from the previous role will be removed."

- Can we add like a notification or a pop-up alert that the person was removed to another role?

[2015-07-03 18:48] gigiadamantopoulos commented on #13
Hi @alvincrisuycorel , I can't seem to test the software. It keeps on crashing when I open it. I'm using the latest version that you sent in my email.

![image](https://cloud.githubusercontent.com/assets/10202106/8503778/2ddee77a-21f7-11e5-81e4-57ee0825b265.png)

[2015-07-03 18:52] gigiadamantopoulos commented on #20
All is not accessible and was redirected to the login page, except the last link:
/users/edit?userid=1

![image](https://cloud.githubusercontent.com/assets/10202106/8503797/9fa48590-21f7-11e5-84ed-2b6dcd946361.png)

[2015-07-03 18:53] gigiadamantopoulos commented on #21
Passed

[2015-07-03 18:58] gigiadamantopoulos commented on #22
Hi Kuya @Jinsuke , The dropdown is now working, although the UI is a bit weird with the notification and the Username because it's side by side:
![image](https://cloud.githubusercontent.com/assets/10202106/8503825/1bcd6ccc-21f8-11e5-8380-70b0445707b7.png)

If you expand the username, the notification disappears:
![image](https://cloud.githubusercontent.com/assets/10202106/8503833/4cfa01a2-21f8-11e

[2015-07-03 18:59] gigiadamantopoulos commented on #24
No issues with this one... assigning it to Mam @lyn2711

[2015-07-03 19:00] gigiadamantopoulos commented on #25
No issues with this. Assigning it to Mam @lyn2711

[2015-07-03 19:00] gigiadamantopoulos commented on #28
Passed

[2015-07-03 19:02] gigiadamantopoulos commented on #29
Hi Kuya @Jinsuke ,

The tab names are ok, but the content stayed the same sequence as before:
![image](https://cloud.githubusercontent.com/assets/10202106/8503879/11de96e0-21f9-11e5-9433-ae9749bd3ae3.png)

![image](https://cloud.githubusercontent.com/assets/10202106/8503880/18d78592-21f9-11e5-92d0-d1f192a50179.png)

[2015-07-03 19:04] gigiadamantopoulos commented on #34
Size of the notification changes when you navigate other pages:

Dashboard:
![image](https://cloud.githubusercontent.com/assets/10202106/8503902/53365a06-21f9-11e5-8399-7c1e4040a705.png)

Members:
![image](https://cloud.githubusercontent.com/assets/10202106/8503906/5f6cfd0c-21f9-11e5-9da0-7fec34a95109.png)

[2015-07-03 19:05] gigiadamantopoulos commented on #35
Hi @alvincrisuycorel , I can't seem to test the software. It keeps on crashing when I open it. I'm using the latest version that you sent in my email.

https://cloud.githubusercontent.com/assets/10202106/8503778/2ddee77a-21f7-11e5-81e4-57ee0825b265.png

[2015-07-03 19:08] gigiadamantopoulos commented on #18
Still working on this one. I'm having a hard time visualizing what reports are needed for this.

Sir @asjr4584 may I ask what reports are expected to be generated with our system. The Excel Sheet has too much information I can't seem to grasp properly...

[2015-07-05 23:00] Jinsuke commented on #29
Hi @gigiadamantopoulos ,

Thanks for pointing it out. :sweat_smile:  I've tried checking on it on my local pc and the tab contents seems to be just fine. Maybe it wasn't included in Alvin's PC. I'll let him know about this later.

[2015-07-05 23:09] Jinsuke commented on #34
Hi @gigiadamantopoulos ,
I'm not sure what you mean about this, they are only using one default header so all changes on the header should reflect on all pages. Can you please check again? :smile:

[2015-07-05 23:41] Jinsuke commented on #22
Fixed Notification Icon's location when screen is resized.
-

Normal
![image](https://cloud.githubusercontent.com/assets/10201846/8513924/9241c974-23b1-11e5-8dca-94181ec9d570.png)

Resized
![image](https://cloud.githubusercontent.com/assets/10201846/8513936/5513abf2-23b2-11e5-9450-3908da80e02f.png)

[2015-07-05 23:42] alvincrisuycorel commented on #7
Hi sir we can create a new issue for this enhancement. It can be included in Milestone 3.

The current functions are working in creating an organization.

[2015-07-06 00:49] chrisperez commented on #20
Please test again.

[2015-07-06 04:07] asjr4584 commented on #12
@chrisperez can you reply to this, please?

[2015-07-06 04:08] asjr4584 commented on #20
@gigiadamantopoulos for testing, please.

[2015-07-06 04:09] asjr4584 commented on #22
@gigiadamantopoulos for testing again, please.

[2015-07-06 04:13] asjr4584 commented on #29
@alvincrisuycorel please check this out.

[2015-07-06 04:15] asjr4584 commented on #18
@lyn2711 we need your inputs on this one. Please advise.

[2015-07-06 04:17] asjr4584 commented on #18
Hi Ma’am Evelyn,

We need your inputs on this one. Please advise.

Regards,
Alfredo “Allan” A. Salvador, Jr.
Team Lead, Customer Solutions Rep V
HP ES Business Process Services

M + 639228901356
E alfredoa.salvadorjr@hp.com<mailto:alfredoa.salvadorjr@hp.com>
Hewlett-Packard Philippines Corporation
4th Floor Two World Square Building
22 Upper McKinley Road, Fort Bonifacio,
Taguig City, Philippines

[2015-07-06 04:22] asjr4584 commented on #7
Thanks @alvincrisuycorel

Hi @gigiadamantopoulos can you create a new GitHub issue for this enhancement and tag it to Milestone 3, please?

[2015-07-06 06:15] asjr4584 commented on #2
@gigiadamantopoulos for testing please.

[2015-07-06 09:56] chrisperez commented on #36
UI - Done.
Functionality - 20% Done

[2015-07-06 10:15] asjr4584 commented on #1
@Jinsuke @alvincrisuycorel please try to finish this tomorrow, July 7. Let's move the Individual Profile page (Impact Model) to Milestone 3.

[2015-07-06 10:19] asjr4584 commented on #2
@Jinsuke @alvincrisuycorel @chrisperez @lyn2711 @gigiadamantopoulos I'm moving this to Milestone 3.

[2015-07-06 10:19] asjr4584 commented on #3
@Jinsuke @alvincrisuycorel @chrisperez @lyn2711 @gigiadamantopoulos I'm moving this to Milestone 3.

[2015-07-06 11:30] asjr4584 commented on #35
@gigiadamantopoulos, please test the latest software sent by @alvincrisuycorel.

[2015-07-06 11:46] lyn2711 commented on #18
Hi @asjr4584 ,

What exact data do you want to be generated? At the bottom of the Excel Sheet, there's a separate table where it computes for the following account-wide:

Present Reps per day
Expected Attendance
Total Authorized Absence per Day
Total Unauthorized Absence per day
Total Absences per Day
Total Planned Leave per Day
Daily Absenteeism Rate - computed as Total Absences per Day / Expecte

[2015-07-06 11:57] asjr4584 commented on #18
Thanks @lyn2711 , @gigiadamantopoulos basically the reports that we need are already in the attendance tracker spreadsheet that @alvincrisuycorel shared with you. Please try to mockup a report page based on @lyn2711 comments above.

[2015-07-06 17:05] gigiadamantopoulos opened #37 "Functionality - Create Organization (Organization ID)"
Hi All,

As discussed in https://github.com/HP-Corel/AttendanceTracker/issues/7

Organization ID should be automated and cannot be edited when creating an organization.

![image](https://cloud.githubusercontent.com/assets/10202106/8528197/266d62e2-2444-11e5-9a59-d7a938e70dd4.png)

As what @alvincrisuycorel mentioned: The organization id will be used in the future. I put it there so that the user c

[2015-07-06 17:06] gigiadamantopoulos commented on #7
Github issue now created. Refer to https://github.com/HP-Corel/AttendanceTracker/issues/37

[2015-07-06 21:47] gigiadamantopoulos commented on #22
Hi Kuya @Jinsuke , it's ok now, just a minor adjustment:

Can you add more indention on the menu part, the one encircled in red... just so the users can see clearly that the options below are under the Menu title...

![image](https://cloud.githubusercontent.com/assets/10202106/8534061/ae39772a-246b-11e5-9743-62ffe44414d7.png)

[2015-07-06 21:50] gigiadamantopoulos commented on #20
Passed

[2015-07-07 00:56] gigiadamantopoulos commented on #13
Passed!

[2015-07-07 00:57] alvincrisuycorel commented on #29
This is now working :smile:

[2015-07-07 00:58] gigiadamantopoulos commented on #29
Passed!

[2015-07-07 03:33] asjr4584 commented on #20
@chrisperez I can access the dashboard even if I'm not login:

http://16.178.42.203/organization/dashboard

can you fix this, please?

[2015-07-07 04:02] asjr4584 commented on #37
@alvincrisuycorel can you add this to our timeline spreadsheet, please?

[2015-07-07 07:45] asjr4584 commented on #18
Hi Gigi,

May I follow up your mockups for the Reports page?

Regards,
Alfredo “Allan” A. Salvador, Jr.
Team Lead, Customer Solutions Rep V
HP ES Business Process Services

M + 639228901356
E alfredoa.salvadorjr@hp.com<mailto:alfredoa.salvadorjr@hp.com>
Hewlett-Packard Philippines Corporation
4th Floor Two World Square Building
22 Upper McKinley Road, Fort Bonifacio,
Taguig City, Philippines 1634

[2015-07-07 09:17] Jinsuke commented on #22
Update
-
This is already done and will be pushed once the Dashboard #1 has been completed.

![image](https://cloud.githubusercontent.com/assets/10201846/8542954/09070afe-24cc-11e5-8880-c41f39c10a79.png)

![image](https://cloud.githubusercontent.com/assets/10201846/8542965/17b9b0f6-24cc-11e5-9296-718fd0ea4801.png)

[2015-07-07 15:42] gigiadamantopoulos commented on #35
This is passed :D

[2015-07-07 16:28] gigiadamantopoulos commented on #22
Passed!

[2015-07-07 16:29] gigiadamantopoulos commented on #34
Hi Kuya @Jinsuke , as discussed earlier... it's still the same..

[2015-07-08 00:36] gigiadamantopoulos commented on #18
Hi Sir @asjr4584 , this is the proposed mock up as discussed with @alvincrisuycorel

![image](https://cloud.githubusercontent.com/assets/10202106/8560611/3b88ce6a-254c-11e5-80ce-86bca3fedf0c.png)

![image](https://cloud.githubusercontent.com/assets/10202106/8560630/6e99b670-254c-11e5-92db-ef0b1c930641.png)

[2015-07-08 00:46] alvincrisuycorel commented on #18
Hi all,

This mock up is base on web master tool in google chrome under crawl errors.

Functions under reports page
- User can choose which month to be display on the graph.
- User can choose which year
- User can choose which type of report can be display (e.g Absents, SLs, Emergency leaves, etc)

Graph
- The left side of the graph will be the count of absents or SLs etc. on that month
- Bottom,

[2015-07-08 03:07] asjr4584 commented on #35
@alvincrisuycorel i'm assigning this to you because I think the "View Records" button is still not working. Please transfer this issue back to @gigiadamantopoulos if the "View Records" is fully working.

[2015-07-08 03:21] asjr4584 commented on #18
@alvincrisuycorel @gigiadamantopoulos this looks good. What do you think @lyn2711 ?

[2015-07-08 06:39] lyn2711 commented on #18
Have a question, should VL be considered as an absence?

[2015-07-08 06:59] asjr4584 commented on #18
Hi Ms. Evs,

Yes VL is considered absent but not counted as an instance.

Can you please suggest a correct arrangement of all the entries in the Add Event Status drop-down list here? http://16.178.42.203/users/profile?userid=2

Group them according to these categories:

Present codes (this could be flexi time, new shift, etc.)
Absence Codes (this could be Holiday, VL, SL, etc.)

—
Reply to this em

[2015-07-08 07:02] lyn2711 commented on #18
I asked that coz when I looked at the Attendance spreadsheet, at the right side, when it computed for total absences, it only summed up columns AL to AP (A, SL, NCNS, EL and JA).

[2015-07-08 07:10] asjr4584 commented on #18
Should we also do the same computation in our application?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/18#issuecomment-119461837>.

[2015-07-08 07:11] lyn2711 commented on #18
It really depends on the requirements of those who will use the reports.  But if we want to show the same thing shown in the sheet, then yes.

[2015-07-08 07:21] asjr4584 commented on #18
What if we count VL as absence? Will that make any difference in the reporting?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/18#issuecomment-119465448>.

[2015-07-08 07:21] lyn2711 commented on #18
Yes, especially if we get the absenteeism rate, coz VL will be counted also.

[2015-07-08 07:27] asjr4584 commented on #18
Okay please discuss that to our developers so they will do the same computation as with the attendance spreadsheet.

Also, please arrange the list of statuses as I mentioned earlier and ask the devs to make the necessary changes.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/18#issuecomment-119466727>.

[2015-07-08 10:43] chrisperez commented on #36
@alvincrisuycorel,

Please pull and merge this to you Local. After that, please assign to @gigiadamantopoulos for testing.

@gigiadamantopoulos,

**To test:**
- Please create Hierarchy and Roles that are listed above this page.
- Go to **Roles > Hierarchy > click Access Settings Button**
- Check the appropriate checkboxes that matches the criteria
- Register members by going to **Members > Registe

[2015-07-08 11:01] alvincrisuycorel commented on #18
@gigiadamantopoulos Please update the mockup design we have :smile:

REPORTING PAGE

-	In the line graph.
o	Change left side of the graph from “5, 10, 15, 20” to “10%, 20%... 100%” – The representation of percentage will be the DAILY ABSENTEEISM RATE in the EXCEL SHEET.

Please also review the computations given in the EXCEL SHEET. That will serve as our guide

[2015-07-08 15:59] gigiadamantopoulos commented on #36
Hi Sir @chrisperez , I do not have the Access Settings button.

![image](https://cloud.githubusercontent.com/assets/10202106/8575197/5a96d19a-25cd-11e5-85fe-2063f279e680.png)

[2015-07-08 17:10] gigiadamantopoulos commented on #18
Hi @alvincrisuycorel ... is this ok?

![image](https://cloud.githubusercontent.com/assets/10202106/8576843/515a2924-25d7-11e5-8734-cd167eb99db2.png)

[2015-07-09 03:29] chrisperez commented on #36
@alvincrisuycorel,

Please merge my update codes to your PC and let me know if there will be issues.

[2015-07-09 03:32] chrisperez commented on #20
@alvincrisuycorel, please merge my latest update to your local. Let me know if there are issues. If none, please assign to @gigiadamantopoulos to test. Thanks!

[2015-07-09 04:09] asjr4584 commented on #3
@alvincrisuycorel

As discussed, attached is the revised attendance tab for your reference.

Changes:
1.) Will display the impact model according to Shift
2.) No need to link the previous day and the following day
3.) Highlighting the tardiness, overbreak, undertime will remain the same for the Actual Impact Schedule vs. Expected Schedule.
4.) Displaying per month, no pagination needed
5.) Dates a

[2015-07-09 04:09] asjr4584 commented on #2
@alvincrisuycorel

As discussed, attached is the revised attendance tab for your reference.

Changes:
1.) Will display the impact model according to Shift
2.) No need to link the previous day and the following day
3.) Highlighting the tardiness, overbreak, undertime will remain the same for the Actual Impact Schedule vs. Expected Schedule.
4.) Displaying per month, no pagination needed
5.) Dates a

[2015-07-09 04:47] Jinsuke commented on #34
Hi @gigiadamantopoulos , I have consulted this to @alvincrisuycorel and it seems that this maybe caused by the scrollbar on certain pages. This works fine. :grin:

[2015-07-09 06:49] alvincrisuycorel commented on #36
@chrisperez ,

Done merging.

@gigiadamantopoulos

Please test po :+1:

[2015-07-09 06:53] alvincrisuycorel commented on #35
@gigiadamantopoulos  ,

Hi Gigi, could you test it again if the "View Records" button will redirect you to the site's home page login?

[2015-07-09 06:54] asjr4584 commented on #35
@lyn2711 i'm assigning this to you for testing today since @gigiadamantopoulos is on vacation.

[2015-07-09 06:56] asjr4584 commented on #35
@lyn2711 please disregard my message. @gigiadamantopoulos for testing tonight, please.

[2015-07-09 07:07] alvincrisuycorel commented on #20
@gigiadamantopoulos
Please test :smile:

[2015-07-09 07:11] asjr4584 commented on #31
Thanks Gigi,

I would like further changes to the Absenteeism table:

(1)	Replace disable with excuse and the function should be similar to flexi schedule.
(2)	Reset Instances check boxes will act, as "Select ALL" so if reset is both approved by TL & Sup, the checkboxes from the entries will be marked check too.
(3)	Per row check boxes are for individual excuse; reset checkboxes will reset all but

[2015-07-09 07:31] asjr4584 commented on #32
@Jinsuke @alvincrisuycorel I would like the functionality of the Excuse button be similar to Flexi time:

![sdfad](https://cloud.githubusercontent.com/assets/4827031/8590077/85395fe4-264f-11e5-9b3a-013ed3b10f0f.png)

[2015-07-09 16:34] gigiadamantopoulos commented on #34
Thanks!

[2015-07-09 17:05] gigiadamantopoulos commented on #36
For Supervisor:

-I can only see the User Profile.

![image](https://cloud.githubusercontent.com/assets/10202106/8601541/32c896a8-269f-11e5-9e87-6c0195a11f67.png)

For Team Lead:

-I can only see the User Profile

![image](https://cloud.githubusercontent.com/assets/10202106/8601582/64bef134-269f-11e5-8051-eaff0aa971e9.png)

For Agent:

- I can only see the User Profile

![image](https://cloud.gith

[2015-07-09 17:08] gigiadamantopoulos commented on #35
View Records button is working, when clicked, it directed me to the homepage, but though I am logged in, it still shows the login page.

![image](https://cloud.githubusercontent.com/assets/10202106/8601684/316b9e08-26a0-11e5-860d-1b637c756beb.png)

[2015-07-09 17:14] gigiadamantopoulos commented on #35
After 5 mins, the software crashed again...

![image](https://cloud.githubusercontent.com/assets/10202106/8601783/f54daa14-26a0-11e5-8a25-16f0bb7e08e4.png)

[2015-07-09 21:05] gigiadamantopoulos commented on #31
Hi Sir @asjr4584, here's the mock-up

![image](https://cloud.githubusercontent.com/assets/10202106/8606855/48ed3a34-26c1-11e5-9130-1d5131e1ccdb.png)

[2015-07-09 21:08] gigiadamantopoulos commented on #20
No issues found. All links are not accessible when logged out

[2015-07-10 04:52] alvincrisuycorel commented on #35
Hi Gigi, @gigiadamantopoulos

I will confirm this :smiley: thank you for reporting :+1:

[2015-07-13 00:47] alvincrisuycorel commented on #35
Hi Gigi please try again :smile:

[2015-07-13 05:53] chrisperez commented on #18
For testing once merge with Alvin's Local.

[2015-07-13 21:44] gigiadamantopoulos commented on #35
It's ok now @alvincrisuycorel . thanks!

[2015-07-13 23:50] chrisperez opened #38 "UI - Notification Page"
Create a page where users can view their notification details.

[2015-07-14 00:00] chrisperez commented on #38
@Jinsuke, Please add this to our spreadsheet. Thanks.

[2015-07-14 02:18] chrisperez commented on #38
New page has been created. Please add this to our slides also @gigiadamantopoulos.

[2015-07-14 03:19] chrisperez commented on #18
Added new feature on table. Limited table height and added scroll bars.

[2015-07-14 07:40] alvincrisuycorel commented on #31
@gigiadamantopoulos kindly access and check this UI on the site?

[2015-07-14 07:43] Jinsuke commented on #38
Done adding on Spreadsheet. :smile:

[2015-07-14 07:43] alvincrisuycorel commented on #36
@gigiadamantopoulos could you try this again?

[2015-07-14 07:49] Jinsuke commented on #1
Update 150714
-
- Working Calendar selection
- Working Time tracking

**To follow:**
- Tardiness count for early Time outs
- Issue when logging out
- Flexi time not yet working

Screenshot
-
![image](https://cloud.githubusercontent.com/assets/10201846/8668642/ec291b10-2a3f-11e5-9ea2-147b450de1a3.png)

[2015-07-14 07:52] alvincrisuycorel commented on #12
@gigiadamantopoulos this can be add in the future.

Please create an issue regarding the notification/pop up alert

[2015-07-14 07:54] Jinsuke commented on #32
Update
-
- Slightly working functionalities [Login/Shortbreak/Longbreak/Status/Late in Minutes counting]

**To Follow:**
- Fix table information per day and per month
- Fix Total Minutes of Late/No. of instances and Rest Tardiness Button
- Fix Absenteeism table

**NOTE: TABS HAS BEEN CHANGED. CALENDAR, ATTENDANCE AND INSTANCES TABS ARE NOW SEPARATE PAGES**

Screenshot
-
![image](https://cloud.gith

[2015-07-14 07:56] Jinsuke commented on #31
Update
-
- Slightly working functionalities [Login/Shortbreak/Longbreak/Status/Late in Minutes counting]

**To Follow:**
- Fix table information per day and per month
- Fix Total Minutes of Late/No. of instances and Rest Tardiness Button
- Fix Absenteeism table

**NOTE: TABS HAS BEEN CHANGED. CALENDAR, ATTENDANCE AND INSTANCES TABS ARE NOW SEPARATE PAGES**

Screenshot
-
![image](https://cloud.gith

[2015-07-15 00:52] alvincrisuycorel commented on #30
Functionality - Individual Profile Page (Calendar Tab) #30

[2015-07-15 00:53] alvincrisuycorel commented on #30
For testing :smile:

[2015-07-15 02:16] chrisperez commented on #34
Added new feature.
---

When there are unread messages, the count will appear next to the bell icon and the bell icon will turn red.

![image](https://cloud.githubusercontent.com/assets/4833394/8689287/2a2c3fee-2ad8-11e5-92be-ea05c5a63643.png)

[2015-07-15 06:35] Jinsuke commented on #5
:new: UPDATE 150715
-
- **EVENTS** toggle should have EDIT and REMOVE BUTTON
 - EDIT BUTTON when clicked should have a pop-up for editing event schedule.
 - REMOVE BUTTON will delete event schedule.

[2015-07-15 06:35] Jinsuke commented on #4
:new: UPDATE 150715
-
- **EVENTS** toggle should have EDIT and REMOVE BUTTON
 - EDIT BUTTON when clicked should have a pop-up for editing event schedule.
 - REMOVE BUTTON will delete event schedule.

[2015-07-15 06:36] Jinsuke commented on #29
:new: UPDATE 150715
-
- **EVENTS** toggle should have EDIT and REMOVE BUTTON
 - EDIT BUTTON when clicked should have a pop-up for editing event schedule.
 - REMOVE BUTTON will delete event schedule.

[2015-07-15 06:36] Jinsuke commented on #30
:new: UPDATE 150715
-
- **EVENTS** toggle should have EDIT and REMOVE BUTTON
 - EDIT BUTTON when clicked should have a pop-up for editing event schedule.
 - REMOVE BUTTON will delete event schedule.

[2015-07-15 06:47] Jinsuke opened #39 "Functionality - Auto Creation of Roles and Hierarchy upon creating an organization"
Task
-
**Auto create the following Roles - Hierarchy**
 - MANAGER - Level 3 Admin
 - SUPERVISOR - Level 2 Admin
 - TEAM LEAD - Level 1 Admin
 - AGENT - User

***NOTE: ISSUE ADDED IN MILESTONE 1 Spreadsheet***

[2015-07-15 07:00] Jinsuke opened #40 "Functionality - 24/7 Work Schedule"
TASK
-
- This feature should be implemented on the **users/profile** page (Calendar Event filing).
- When selecting **Off (Rest Day)** in the **ADD EVENT** selection, a new field should appear where Admins can select specific days for an individual agent to set as their Rest Day for the week.
 - This will be in Check boxes and two (2) check boxes can only be selected.
- Total of work per week is 4

[2015-07-15 07:57] Jinsuke commented on #10
:new: UPDATE
-
- Separate Calendar Page from Members page
- Member's page will now have Roles table category

[2015-07-15 08:26] Jinsuke opened #41 "Functionality - Error Handling"
Task
-
- Ensure that all pages has their own Error Handling messages, correct URL redirections.
- Task is to test all pages for all possible errors.
 - e.g. Wrong Password, Buttons that are not yet working, correct URL redirections
- If something has been found that needs error handling, please indicate the exact issue, possible error message and solution.

[2015-07-15 23:45] Jinsuke commented on #4
Update
-
**MEMBER'S PAGE**
![image](https://cloud.githubusercontent.com/assets/10201846/8712401/724bc0fe-2b8e-11e5-893d-dea715a260fd.png)
**CALENDAR**
![image](https://cloud.githubusercontent.com/assets/10201846/8712406/7f75beec-2b8e-11e5-92d1-65d17033af7b.png)
**REGISTER EMPLOYEE**
![image](https://cloud.githubusercontent.com/assets/10201846/8712415/8b5ebb00-2b8e-11e5-9f47-04ea322f3983.png)

***F

[2015-07-16 00:10] chrisperez commented on #15
I forgot to inform you that this is already done together with the **#36 Functionality - User's Hierarchy**

For testing.

[2015-07-16 02:32] Jinsuke commented on #29
Update
-
- Added Edit button with popup on Event Toggle
![image](https://cloud.githubusercontent.com/assets/10201846/8714297/d4f6052c-2ba5-11e5-9f9f-dfec65771111.png)

- Edit Event Pop Up
![image](https://cloud.githubusercontent.com/assets/10201846/8714301/e78a8b36-2ba5-11e5-9ab0-8d363527d171.png)

[2015-07-16 06:07] Jinsuke commented on #2
:new: Update
-
:exclamation: This page has been temporarily disabled. Updates will continue after the demonstration.

[2015-07-16 06:07] Jinsuke commented on #3
:new: Update 150716
-
:exclamation: This page has been temporarily disabled. Updates will continue after the demonstration.

[2015-07-16 06:16] Jinsuke commented on #10
:new: Update 150716
-
- **Separate Pages for Calendar and Members Page**
![image](https://cloud.githubusercontent.com/assets/10201846/8716555/0b33e3b0-2bc5-11e5-9aaf-bd302a88fe13.png)

- **Roles are already included in the tables. Role entries is still ongoing**
![image](https://cloud.githubusercontent.com/assets/10201846/8716570/3c7d0ee2-2bc5-11e5-8d34-62d525379812.png)

[2015-07-16 06:16] Jinsuke commented on #11
:new: UPDATE 150715
-
- Separate Calendar Page from Members page
- Member's page will now have Roles table category for determining Supervisor role from Agents

[2015-07-16 06:20] Jinsuke commented on #14
:new: Dashboard UI Update 150716
-
![image](https://cloud.githubusercontent.com/assets/10201846/8716637/bc750870-2bc5-11e5-9fe1-4f969c6f7613.png)

**Note: refer to issue #1 for Dashboard's functionality**

[2015-07-16 06:23] Jinsuke commented on #18
:new: UI Update 150716
-
![image](https://cloud.githubusercontent.com/assets/10201846/8716693/29326e4e-2bc6-11e5-9884-afac7d4db07f.png)
![image](https://cloud.githubusercontent.com/assets/10201846/8716700/327b2400-2bc6-11e5-8034-5ba3700e014f.png)

:exclamation: **Functionality is on-going.**

[2015-07-16 06:23] Jinsuke commented on #19
:new: UI Update 150716
-
![image](https://cloud.githubusercontent.com/assets/10201846/8716693/29326e4e-2bc6-11e5-9884-afac7d4db07f.png)
![image](https://cloud.githubusercontent.com/assets/10201846/8716700/327b2400-2bc6-11e5-8034-5ba3700e014f.png)

:exclamation: **Functionality is on-going.**

[2015-07-16 07:49] chrisperez commented on #33
Function of the Notification Bell is - Done

However, the comeplete functionality of the notification has not been started. Such Functions includes:
- Creating a notification message.
- Assigning the notification to the right person.
- Sending email allert to the key person.

[2015-07-20 00:20] chrisperez commented on #39
Push to github. For testing.

[2015-07-20 16:34] gigiadamantopoulos commented on #31
Hi @alvincrisuycorel ,

Just to clarify, the table will expand downwards whenever there are instances right? What happens to the "Totals" and "Overalls" ???

![image](https://cloud.githubusercontent.com/assets/10202106/8781191/31b5f8d8-2f40-11e5-905d-9e33b8d3f084.png)

[2015-07-20 16:38] gigiadamantopoulos commented on #30
Hi kuya @Jinsuke ,

the EDIT button is not working.

[2015-07-20 16:40] gigiadamantopoulos commented on #29
Hi kuya @Jinsuke ,

Pop-up not showing.

Minor edit: Can we make all the title uniform? Like make it all in Caps?

![image](https://cloud.githubusercontent.com/assets/10202106/8781329/e6c3109e-2f40-11e5-87bd-a306c3490e20.png)

[2015-07-20 16:42] gigiadamantopoulos commented on #4
Passed!

[2015-07-20 16:52] gigiadamantopoulos commented on #15
Minor UI Issue:

Can we move the texts a little bit to the right? It's too much on the left.

![image](https://cloud.githubusercontent.com/assets/10202106/8781611/aaf494fa-2f42-11e5-83e5-f7d20b43812f.png)

[2015-07-20 16:53] gigiadamantopoulos opened #42 "Notification for removed employees"
"When you add the same person on another role, then that person will be included in that role. However, his name from the previous role will be removed."

Can we add like a notification or a pop-up alert that the person was removed to another role?

Please refer to https://github.com/HP-Corel/AttendanceTracker/issues/12#issuecomment-121156368

[2015-07-20 16:53] gigiadamantopoulos commented on #12
Issue created https://github.com/HP-Corel/AttendanceTracker/issues/42

[2015-07-20 16:57] gigiadamantopoulos commented on #18
Passed... looks great

[2015-07-20 22:34] gigiadamantopoulos commented on #36
Seems to work fine.

[2015-07-20 22:34] gigiadamantopoulos commented on #39
Passed.

[2015-07-20 23:03] Jinsuke commented on #4
:new: Update
-
- **CALENDAR** has now been moved to Sidebar.

![image](https://cloud.githubusercontent.com/assets/10201846/8789584/866a7b48-2f76-11e5-843d-22faffec13c5.png)

[2015-07-20 23:06] Jinsuke commented on #29
:new: Update
-
- Changed text to ALLCAPS.

![image](https://cloud.githubusercontent.com/assets/10201846/8789633/008654d8-2f77-11e5-81c7-030b874e08fd.png)

[2015-07-20 23:21] Jinsuke commented on #15
:new:  Update
-
- Added **margin-left: 15px** for Agent view.

![image](https://cloud.githubusercontent.com/assets/10201846/8789806/e6c06974-2f78-11e5-8792-27fa2c8ffce3.png)

[2015-07-21 00:43] Jinsuke commented on #10
:new: Update
-
- Fixed active link for Individual Groups page

![image](https://cloud.githubusercontent.com/assets/10201846/8790782/7a00e2bc-2f84-11e5-8a06-428b2c4558c3.png)

[2015-07-21 02:36] alvincrisuycorel commented on #39
Change logic - Please test again :smile:

[2015-07-21 04:34] Jinsuke commented on #36
Testing
-

- Supervisor
![image](https://cloud.githubusercontent.com/assets/10201846/8793129/aa16f4b2-2fa4-11e5-9b83-8566f469840b.png)

- Team Lead
![image](https://cloud.githubusercontent.com/assets/10201846/8793140/d3511da8-2fa4-11e5-93fc-14fa26330c89.png)

[2015-07-21 05:18] Jinsuke commented on #5
:new: Update
-
- **CALENDAR** has now been moved to Sidebar.

![image](https://cloud.githubusercontent.com/assets/10201846/8789584/866a7b48-2f76-11e5-843d-22faffec13c5.png)

[2015-07-21 09:01] lyn2711 commented on #6
Pass

[2015-07-21 09:28] lyn2711 commented on #7
Pass

[2015-07-21 10:08] lyn2711 commented on #8
Pass

[2015-07-21 11:42] lyn2711 commented on #9
Pass

[2015-07-21 11:49] lyn2711 commented on #10
Question:

What's the use of the "today" button under the Calendar tab?

[2015-07-21 12:01] lyn2711 commented on #11
When I am on the CS group, and I enter my employee number in the box (since it was mentioned that I can search for a member using the employee number), the page just refreshes but still shows the same content, no error messages or something.

[2015-07-21 12:18] lyn2711 commented on #14
Pass

[2015-07-21 12:31] lyn2711 commented on #17
Under Organizations tab at the top, click on Create Organization, then it will show Organization Settings.  Can we change that to Create Organization also since that's the only function of it?

And if I clicked on, for example, Corel Org, can we change the word "Settings" on the left side to "Update/Delete"?

![image](https://cloud.githubusercontent.com/assets/7370325/8800666/4291a7cc-2fe7-11e5-9b

[2015-07-21 12:50] lyn2711 commented on #18
Can we have an identifier on what the set of numbers in the screenshot below are?  If I hover my mouse over the points, what are the numbers shown? Is it the number of leaves, etc?

![image](https://cloud.githubusercontent.com/assets/7370325/8801028/153d1a7e-2fea-11e5-99d7-82319140c4a7.png)

[2015-07-21 13:16] lyn2711 commented on #23
Pass

[2015-07-21 13:17] lyn2711 commented on #26
Pass

[2015-07-21 13:19] lyn2711 commented on #27
Pass

[2015-07-21 13:21] lyn2711 commented on #35
Program crashes

![image](https://cloud.githubusercontent.com/assets/7370325/8801589/65b8376e-2fee-11e5-9318-a06e2f6b17af.png)

[2015-07-21 13:22] lyn2711 commented on #13
Program crashes

![image](https://cloud.githubusercontent.com/assets/7370325/8801603/86a1017c-2fee-11e5-8971-a091bd1bdcc2.png)

[2015-07-21 13:35] lyn2711 commented on #15
Question: If I am an agent, can I edit an Event?  And if I click on Edit, nothing happens.

[2015-07-22 02:29] Jinsuke commented on #29
:new: Update
-
- **CHANGED ADD EVENT FORM UI AND REMOVED TOGGLE**
![image](https://cloud.githubusercontent.com/assets/10201846/8816651/6891a2e0-305c-11e5-82f7-3859b0c7b176.png)
- **CHANGED EDIT EVENT MODAL**
![image](https://cloud.githubusercontent.com/assets/10201846/8816654/7ccfab26-305c-11e5-8714-393f3575acc1.png)

[2015-07-22 02:37] Jinsuke commented on #10
Hi Ms. @lyn2711 ,
 Today button is used when you want to go back to the current date. This is only clickable if you're navigating the calendar to other months. :smile:

[2015-07-22 02:44] Jinsuke commented on #15
Hi Ms. @lyn2711 ,
   If you're accessing the site as Agent's view, you shouldn't be able edit an event. to sum up the Agent's View:

- Can view Calendar page (Scheduled events approved by TL and Sup. View Only)
- Can view Instances page (Live tracking of Instances, Absences and Late. View Only)
- Change password

[2015-07-22 03:12] alvincrisuycorel commented on #32
For Testing

[2015-07-22 03:14] alvincrisuycorel commented on #13
:disappointed:

[2015-07-22 03:16] alvincrisuycorel commented on #13
Hi Ma'am Evs,

@lyn2711

When did this happened?

When clicking a certain button like logout and different auxes or it just stop working?

[2015-07-22 03:17] alvincrisuycorel commented on #35
Hi Ma'am Evs,

@lyn2711

When did this happened?

When clicking a certain button like logout and different auxes or it just stop working?

[2015-07-22 07:07] Jinsuke commented on #17
:new: Update
-
- Settings page is now moved to the name of the Organization as a clickable link.
![image](https://cloud.githubusercontent.com/assets/10201846/8819910/286455ec-3083-11e5-9151-61f8247cb362.png)

- "Organization Settings" text under /organization/create is now "CREATE ORGANIZATION"
![image](https://cloud.githubusercontent.com/assets/10201846/8819921/53574a0c-3083-11e5-9537-d4c752c932b

[2015-07-22 07:07] Jinsuke commented on #16
:new: Update
-
- Settings page is now moved to the name of the Organization as a clickable link.
![image](https://cloud.githubusercontent.com/assets/10201846/8819910/286455ec-3083-11e5-9151-61f8247cb362.png)

- "Organization Settings" text under /organization/create is now "CREATE ORGANIZATION"
![image](https://cloud.githubusercontent.com/assets/10201846/8819921/53574a0c-3083-11e5-9537-d4c752c932b

[2015-07-22 07:32] alvincrisuycorel commented on #41
- admin/register (will use AJAX for checking details)
-- Employee id checker
-- Email checker
-- Password strength checker
-- Password Confirm checker

[2015-07-23 00:08] asjr4584 commented on #41
@Jinsuke I'm assigning this to you.

Please add this github issue to Milestone 2 and Timeline Spreadsheet: https://my.sharepoint.hp.com/my/asiapacific_salvadoa/Documents/Attendance%20Tracker%20Application%20Project/Attendance%20and%20Time%20Tracker%20Project%20Timeline.xlsx?Web=1

[2015-07-23 00:20] asjr4584 commented on #40
@gigiadamantopoulos please create a UI mockup of this feature.

[2015-07-23 00:48] asjr4584 commented on #16
@lyn2711 for testing again, please.

[2015-07-23 01:22] asjr4584 commented on #42
@gigiadamantopoulos can you add this to the timeline spreadsheet, please? Under Milestone 3.

https://my.sharepoint.hp.com/my/asiapacific_salvadoa/Documents/Attendance%20Tracker%20Application%20Project/Attendance%20and%20Time%20Tracker%20Project%20Timeline.xlsx?Web=1

[2015-07-23 01:33] asjr4584 commented on #36
@chrisperez @Jinsuke is this ready for testing? If so, please assign it to @gigiadamantopoulos.

[2015-07-23 01:34] asjr4584 commented on #18
@chrisperez for your comments, please.

[2015-07-23 01:37] asjr4584 commented on #32
@gigiadamantopoulos for testing, please.

[2015-07-23 01:47] asjr4584 commented on #30
@lyn2711 this is ready for testing.

[2015-07-23 02:08] lyn2711 commented on #20
Pass, all links not accessible when logged out.

[2015-07-23 02:19] lyn2711 commented on #21
Got an error when changing password

![image](https://cloud.githubusercontent.com/assets/7370325/8841748/5359eb80-3124-11e5-8cb9-38ac922374a6.png)

[2015-07-23 02:46] lyn2711 commented on #22
![image](https://cloud.githubusercontent.com/assets/7370325/8842057/16f16764-3128-11e5-8b0f-9cb44a363465.png)

[2015-07-23 02:51] lyn2711 commented on #28
Refer to issue #21

[2015-07-23 03:22] lyn2711 commented on #30
Added VL from Aug 27-31, but only Aug 27 was filled up in the calendar. Please refer to screenshot below.

![image](https://cloud.githubusercontent.com/assets/7370325/8842411/633fb0ae-312c-11e5-82f6-ee8689ff6f10.png)

When I clicked on the Edit button and made the changes, it was only added as a new event.

[2015-07-23 03:26] lyn2711 commented on #29
Can we make Start Date and End Date's positioning the same?

![image](https://cloud.githubusercontent.com/assets/7370325/8842504/949321ee-312d-11e5-8f31-97cfe290af03.png)

[2015-07-23 05:23] lyn2711 commented on #31
Suggestion:

![image](https://cloud.githubusercontent.com/assets/7370325/8843666/0ca9977a-313e-11e5-9314-ed437ca39e67.png)

[2015-07-23 05:36] lyn2711 commented on #24
Pass

[2015-07-23 05:51] lyn2711 commented on #39
Pass

[2015-07-23 06:37] lyn2711 commented on #41
Notification: (Suggestion)
If there are no notifications, when you hover over the icon, a message "No new notifications" will appear.

[2015-07-23 07:16] lyn2711 commented on #34
Suggestion:

When there are no notifications, when you hover your mouse over the icon, a message "No new notifications" will appear

[2015-07-23 07:28] lyn2711 commented on #38
Suggestion:  Replace the word "Subject" with "Messages"

![image](https://cloud.githubusercontent.com/assets/7370325/8845206/56441fca-314f-11e5-93d5-7699d08738d2.png)

[2015-07-23 07:40] lyn2711 commented on #35
When I click View Records, it directs me to the login page. It should be directed to the profile page

[2015-07-23 16:32] gigiadamantopoulos commented on #42
Done!

[2015-07-23 17:03] gigiadamantopoulos commented on #40
Hi Sir,

As discussed earlier, the Off-Day setting will be included in the "Members Profile Page".

![image](https://cloud.githubusercontent.com/assets/10202106/8856411/4a9cb0f8-319d-11e5-8404-505a29624c4b.png)

Once 2 days are selected,

![image](https://cloud.githubusercontent.com/assets/10202106/8856693/f6033e7a-319e-11e5-8978-d3d63fbac33d.png)

it should be reflected to the calendar of the mem

[2015-07-23 18:56] gigiadamantopoulos commented on #36
Tried logging an Agent account, it has the same access as the admin account

![image](https://cloud.githubusercontent.com/assets/10202106/8859373/8f6837d6-31af-11e5-847d-421e7268f44d.png)

[2015-07-23 22:14] alvincrisuycorel commented on #1
Notification for flexi time now working.

Still missing
- Email: when flexi time of TL is click an email will be send to all supervisor
- Email: when flexi time of supervisor is click an email will be send to all TL

[2015-07-23 23:36] alvincrisuycorel commented on #35
Fixed. Kindly test po again :smile:

[2015-07-23 23:48] alvincrisuycorel commented on #33
- An agent incurred an instance
- An agent reached 3 instances or accumulated 60 minutes of lates
- An agent is on vacation, sick, etc.
- A Supervisor approves/rejects a flexi :white_check_mark:
- An agent forgot to logout after his/her shift (notification 4 hours after his/her shift)

[2015-07-24 00:00] alvincrisuycorel commented on #33
Questions:
- An agent incurred an instance
Who are the admins? Manager, Supervisor, and the Team Lead? or Just the Manager

- An agent is on vacation, sick, etc.
Will the notification applies when the TL or Sup added a vacation, sick etc to the agent?
Example: After adding an event for the agent a notification will be send to the TL sup manager.
or
Will the notification applies if an agent is VL,

[2015-07-24 06:14] Jinsuke commented on #5
:new: Update
-
- Global Calendar event filing is now working
![image](https://cloud.githubusercontent.com/assets/10201846/8868716/fb7007fc-320d-11e5-8cf1-bad3e25d5a7c.png)

[2015-07-24 06:36] Jinsuke commented on #29
Update 150724
-
- This is now fixed. For testing.
![image](https://cloud.githubusercontent.com/assets/10201846/8868861/b7071b3a-320f-11e5-8f12-f329e72e0eef.png)

[2015-07-24 13:19] lyn2711 commented on #4
Admin Account - Calendar:  Suggestion

Since the event added here are holidays, can we rename "Add Event" to "Add Holidays" then remove "Status"?

Then can we change "Status" to "Holidays" and then in the dropdown list, we can show there all the holidays.

[2015-07-24 13:31] lyn2711 commented on #5
Tried to create a new org, register a member and I got an error as per screenshot below:

![image](https://cloud.githubusercontent.com/assets/7370325/8875380/658fcb94-324b-11e5-9154-534114526ea3.png)

[2015-07-24 19:20] gigiadamantopoulos commented on #1
Passed

Although I have a little revision. Is it possible that once the TL and the Supervisor approves the Flexi time, can we make the check box disabled?

[2015-07-27 00:52] Jinsuke commented on #31
:new: Update 150727
-
- Changed text for overall and total instances/late record.
- Added responsive tables instead of div
![image](https://cloud.githubusercontent.com/assets/10201846/8896907/d075effe-343c-11e5-853a-40a3866f1d10.png)

[2015-07-27 00:54] chrisperez commented on #34
Done

- When there are unread messages

![image](https://cloud.githubusercontent.com/assets/4833394/8896906/cf58a616-343c-11e5-9779-a766e6e6be3f.png)

- When there are NO unread messages

![image](https://cloud.githubusercontent.com/assets/4833394/8896911/f5b19e76-343c-11e5-960f-50815a69c18d.png)

[2015-07-27 00:56] chrisperez commented on #38
Done with changes.

![image](https://cloud.githubusercontent.com/assets/4833394/8896927/41b8d258-343d-11e5-8371-4bb5156b3680.png)

[2015-07-27 00:58] Jinsuke commented on #32
:new: Update 150727
-
- Changed text for overall and total instances/late record.
- Added responsive tables instead of div
![image](https://cloud.githubusercontent.com/assets/10201846/8896907/d075effe-343c-11e5-853a-40a3866f1d10.png)

Hi @gigiadamantopoulos ,
Are there still any functions in this page that doesn't work? I was wondering why I assigned this case to my name last Friday. If possible,

[2015-07-27 03:22] Jinsuke commented on #22
:new:  Update 150727
-
- **Full Screen**
![image](https://cloud.githubusercontent.com/assets/10201846/8898087/9035b298-3451-11e5-84bc-64d511beb68e.png)

- **Reduced Size with Sidebar**
![image](https://cloud.githubusercontent.com/assets/10201846/8898092/a0bac39c-3451-11e5-8c59-0dcf373e6e84.png)

- **Sidebar compressed**
![image](https://cloud.githubusercontent.com/assets/10201846/8898099/b3a15ae8-

[2015-07-28 00:12] Jinsuke commented on #30
Update 150728
-
- **Fixed Calendar Schedule filing (nextDayThreshold)**
![image](https://cloud.githubusercontent.com/assets/10201846/8920801/695c6d2e-3500-11e5-8822-a2ada57c6db3.png)

For testing. :)

[2015-07-28 01:23] Jinsuke commented on #4
Hi Ms. @lyn2711 ,

Thank you for your suggestion but as of the moment, there would be no need to make specific holidays for selections as discussed. :relieved:

[2015-07-28 03:33] Jinsuke commented on #5
Hi @lyn2711 ,

I believe that the reason is because of the duplicate Employee IDs,  you might have registered using an employee ID who is already included. In Alvin's PC, I have registeredall the agents, supervisor, team lead's accounts along with their employee IDs. So that maybe the reason why this happened. :grin: Thank you!!!

[2015-07-28 07:38] Jinsuke commented on #41
![image](https://cloud.githubusercontent.com/assets/10201846/8925985/9a58ae72-353e-11e5-824c-7a9e73920575.png)

[2015-07-29 06:10] Jinsuke commented on #41
Update 150729
-
![image](https://cloud.githubusercontent.com/assets/10201846/8950960/e13a5b6c-35fa-11e5-85c9-76a975bb0d91.png)

[2015-07-29 06:11] Jinsuke commented on #40
Update 150729
-
![image](https://cloud.githubusercontent.com/assets/10201846/8951030/aa4dbc10-35fb-11e5-997b-5ab946bca7d2.png)

**Functions not yet done**

[2015-07-29 12:47] lyn2711 commented on #5
Okay, tried to create an org again, register a member and made sure that it is not a duplicate employee ID and I got an Internal Error.

![image](https://cloud.githubusercontent.com/assets/7370325/8957749/0dc9394a-3633-11e5-9f71-0e364a543f29.png)

[2015-07-29 12:57] lyn2711 commented on #10
Pass

[2015-07-30 01:22] alvincrisuycorel commented on #5
Please check

[2015-07-30 02:07] alvincrisuycorel commented on #1
Hi Gigi,

I did not disable the check box button because their is still no way that the TL or Supervisor can revert the request. If they accidentally click the check boxes.

Though you can suggest if how it can be disable by means of enabling it again that would not take to much process.

[2015-07-30 02:09] alvincrisuycorel commented on #1
Hi Gigi,

Could you also check if when the TL and Supervisor accepts the Flexi Time of that agent. That agent should not reflect any instances on his/her profile.

[2015-07-30 06:59] chrisperez commented on #36
For your testing after merge..

[2015-07-30 07:47] Jinsuke commented on #41
From @gigiadamantopoulos
Here’s what I found:

- When I remove my own account in the list of members, this message occurs:
![image](https://cloud.githubusercontent.com/assets/10201846/8978141/ef450dec-36d1-11e5-846a-d9125e1af7f6.png)

  - Then I clicked the back button, my account was removed as well as the organization:
![image](https://cloud.githubusercontent.com/assets/10201846/8978145/00fc086a

[2015-07-30 07:49] Jinsuke commented on #41
Hi @gigiadamantopoulos ,

I have included your suggestions for the error handling in this issue. Some of the suggestions that you have sent will be discussed tomorrow if it would be approved or not. For now, can you help and check the whole system for more error checking? :grin: Congratulations! :confetti_ball:

[2015-07-30 09:38] lyn2711 commented on #38
![image](https://cloud.githubusercontent.com/assets/7370325/8980225/945ad1cc-36e1-11e5-83d8-7522372b4666.png)

[2015-07-30 09:44] lyn2711 commented on #35
Same thing happens. When I click on View Records, it still directs me to the login page.

[2015-07-30 11:38] lyn2711 commented on #34
Can we show the latest date on top of the list of notifications?  Can we show the New notifications in bold letters or a way make it more prominent than the Old notifications?

[2015-07-30 11:48] lyn2711 commented on #31
Can we put in the center the Monthly and Overall table?

![image](https://cloud.githubusercontent.com/assets/7370325/8982445/ecc94642-36f3-11e5-9ff8-0689a30cad8a.png)

[2015-07-30 11:54] lyn2711 commented on #30
Pass

[2015-07-30 11:56] lyn2711 commented on #29
Can we differentiate the events (leaves, holidays) in the Calendar by color so it will be easier to distinguish one from the other?

Example:
VL - green
SL - yellow
NCNS - red
etc.

[2015-07-30 12:00] lyn2711 commented on #28
Pass

[2015-07-30 12:07] lyn2711 commented on #25
Is this correct? When I login and click on Profile, Role and Group is empty as per screenshot below:

![image](https://cloud.githubusercontent.com/assets/7370325/8982706/653a47d2-36f6-11e5-8ef6-57e27ab71353.png)

But when I clicked on Organizations, click on Corel, click Profile, click Edit Profile, Role and Group are filled up:

![image](https://cloud.githubusercontent.com/assets/7370325/8982728/

[2015-07-30 12:16] lyn2711 commented on #22
Pass

[2015-07-30 12:21] lyn2711 commented on #17
Even if there is a disclaimer at the top of the Delete button, can we still add a message "Are you sure you want to delete "Name of Organization" once "Delete" is clicked?

[2015-07-30 12:24] lyn2711 commented on #16
Even if there is a disclaimer at the top of the Delete button, can we still add a message "Are you sure you want to delete "Name of Organization" once "Delete" is clicked?

[2015-07-30 12:28] lyn2711 commented on #15
Pass

[2015-07-30 12:31] lyn2711 commented on #13
Suggestion: Can we add background color to the application?

[2015-07-30 12:35] lyn2711 commented on #12
Pass

[2015-07-30 12:42] lyn2711 commented on #4
Pass

[2015-07-30 12:44] lyn2711 commented on #36
I don't seem to have the Settings button.

[2015-07-30 17:20] gigiadamantopoulos commented on #32
I didn't find any error as of now... although I have a question:

Is it possible that we add an hour conversion if it exceeds 60 mins?

![image](https://cloud.githubusercontent.com/assets/10202106/8990027/51abf220-3722-11e5-9312-be2d5b3cd9fc.png)

[2015-07-30 22:15] gigiadamantopoulos commented on #1
Hi Alvin,

I can't test this one because the software kept on crashing... :'(

[2015-07-31 00:32] alvincrisuycorel commented on #35
Hi Ma'am Evs, @lyn2711

If you are logged in already in the website. You must redirected to the user profile when you click the "View Record" in the software.

If you are not logged in in the website. You must be redirected to the login page when you click the "View Record" in the software.

Are these still not happening?

[2015-07-31 00:34] alvincrisuycorel commented on #13
Yes po :smile: You can suggest what will it look like

[2015-07-31 01:21] alvincrisuycorel commented on #33
- An agent incurred an instance :white_check_mark:
- An agent reached 3 instances or accumulated 60 minutes of lates
- An agent is on vacation, sick, etc. :white_check_mark:
- A Supervisor approves/rejects a flexi :white_check_mark:

[2015-07-31 01:55] chrisperez commented on #36
Hi Miss Eve,

Please elaborate your comment. Thanks!

[2015-07-31 02:09] alvincrisuycorel commented on #33
- An agent reached 3 instances or accumulated 60 minutes of lates

I think that, this is a large feature that could automate the notifications. Similar to (BOT)
- An agent forgot to logout after his/her shift (notification 4 hours after his/her shift)

[2015-07-31 03:05] alvincrisuycorel commented on #16
This can be included in the error handling issue #41

[2015-07-31 03:12] chrisperez commented on #34
The Unread are now on top and sorted according to the latest date. Please test.

[2015-07-31 03:20] chrisperez commented on #38
How about this instead to be uniform with other pages?

![image](https://cloud.githubusercontent.com/assets/4833394/9000186/205717dc-3776-11e5-9a53-2bbd0e9674dc.png)

[2015-07-31 03:25] chrisperez commented on #25
Looks good on my local.. can you redo the testing?

[2015-07-31 03:39] alvincrisuycorel commented on #16
Done merging. Please check :smile:

[2015-07-31 03:39] alvincrisuycorel commented on #17
Reference #41

Done Merging. Please check :smile:

[2015-07-31 03:45] alvincrisuycorel commented on #29
Hi Ma'am Evs,

Could you list all the colors of the statuses?

PLANNED ABSENCE
Off - Rest Day
P - Present
VL - Vacation Leave (Planned Leave)
T- Training
ML - Maternity Leave
S - Separated
LOA - Leave of Absence
SLOA - Suspended
PL - Paternity Leave

UNPLANNED ABSENCE
A -  Unauthorize Absence
UT - Undertime
NCNS - No Call No Show
SL - Authorized Absence
JA - Job Abandonment
1SL - 1st Half Authoriz

[2015-07-31 05:01] alvincrisuycorel commented on #31
Done. Please check

[2015-07-31 05:03] alvincrisuycorel commented on #32
Hi Ma'am Evs,

Possible po :smile:

[2015-07-31 05:23] alvincrisuycorel commented on #32
Done. Please check po :smile:

[2015-08-02 23:38] Jinsuke commented on #19
Ma’am Evs and I have discussed the Attendance Tracker to Ms. Tara, our new workforce colleague. She will be using the Attendance Tracker (Probably, Supervisor Access) to generate Reports and use it for information tracking of employees.
We’ve noted some of the suggestions and comments from her that might help us in developing the software to make it more efficient.

1.	As per Ms. Tara, she said th

[2015-08-03 04:42] gigiadamantopoulos opened #43 "Error Handling: Deleting Manager Account"
Issue:

When I remove my own account in the list of members, this message occurs:
![image](https://cloud.githubusercontent.com/assets/10202106/9030941/c8106556-39dc-11e5-82ab-29b58175047d.png)

Then I clicked the back button, my account was removed as well as the organization:
![image](https://cloud.githubusercontent.com/assets/10202106/9030944/e34bd7b0-39dc-11e5-9233-fc6dca5221ae.png)

Solution:

[2015-08-03 04:45] gigiadamantopoulos opened #44 "Error Handling: Transferring roles"
Issue:

I tried adding a Team Lead account into an Agent role. While it did delete the account from the Team Lead list, it did not show a confirmation message that it was deleted.

Solution:
![image](https://cloud.githubusercontent.com/assets/10202106/9030992/813febf0-39dd-11e5-9998-fa6359e36f52.png)

Sir @asjr4584 's comment:
- only applicable to Manager and Supervisor

[2015-08-03 04:46] gigiadamantopoulos opened #45 "Error Handling: Editing Roles"
Task
-
Team Leads are not allowed to change their roles.
a.	Manager – can change roles to any employees
b.	Supervisor – can change roles except himself
c.	Team Lead – can only view roles and groups but cannot edit
d.	Agent – can only view roles; no edit profile

[2015-08-03 05:56] gigiadamantopoulos opened #46 "Filing for VL"
Here’s my proposed flow for filing a VL using our system:

1.	Agent’s account view will consist of an additional feature on the side
![image](https://cloud.githubusercontent.com/assets/10202106/9031374/caa12dca-39e4-11e5-9627-67f312845e81.png)

2.	Once they click that, they will be directed to the page where they will file their leave.
![image](https://cloud.githubusercontent.com/assets/10202106/9

[2015-08-03 06:27] Jinsuke commented on #41
:new: Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9031902/b60f6582-39eb-11e5-8a93-b3fd2d65f48d.png)

[2015-08-03 07:10] Jinsuke commented on #43
Update
-
- Added Modal whenever manager account tries to remove his/her account.

![image](https://cloud.githubusercontent.com/assets/10201846/9032482/b1970ff4-39f1-11e5-948c-01bb7cb08389.png)

Sir @asjr4584 's comments is to follow. :grin:

[2015-08-03 07:26] gigiadamantopoulos opened #47 "UI Revision: Dashboard"
Hi All,

Here's the revised Dashboard columns.

![image](https://cloud.githubusercontent.com/assets/10202106/9032714/e57659e0-39f3-11e5-93f8-edcf313c2094.png)

[2015-08-03 07:27] gigiadamantopoulos opened #48 "Extract Data for Reports"
Task
-
Suggestion is to be able to extract team member’s data. (member list, etc.) to export data into Excel format.

[2015-08-04 02:05] Jinsuke commented on #41
:new Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9051681/5a7aef3e-3a90-11e5-8999-568f1b915b3b.png)

[2015-08-04 02:13] alvincrisuycorel commented on #1
Hi @gigiadamantopoulos

could you try it again? :smile:

[2015-08-04 02:15] alvincrisuycorel commented on #40
Hi @gigiadamantopoulos

Could you test this? :smile:

[2015-08-04 02:16] asjr4584 commented on #48
@gigiadamantopoulos is this already added to our timeline spreadsheet?

[2015-08-04 02:17] asjr4584 commented on #37
@gigiadamantopoulos please move this to Milestone 4 in the timeline spreadsheet.

[2015-08-04 02:17] asjr4584 commented on #3
@gigiadamantopoulos please move this to Milestone 4 in the timeline spreadsheet.

[2015-08-04 02:18] asjr4584 commented on #2
@gigiadamantopoulos please move this to Milestone 4 in the timeline spreadsheet.

[2015-08-04 02:28] alvincrisuycorel commented on #47
remove bio break :smile:
add ajax :sob:

[2015-08-04 02:31] asjr4584 commented on #47
@gigiadamantopoulos please move this to Milestone 3 in the timeline spreadsheet.

[2015-08-04 02:33] asjr4584 commented on #19
@chrisperez when this going to be ready for testing?

[2015-08-04 02:34] asjr4584 commented on #18
@chrisperez when this going to be ready for testing?

[2015-08-04 02:35] asjr4584 commented on #46
@gigiadamantopoulos please add this to the timeline spreadsheet, under Milestone 4.

[2015-08-04 02:35] asjr4584 commented on #46
@Jinsuke when you are planning to start the UI for this new page?

[2015-08-04 02:36] asjr4584 commented on #45
@gigiadamantopoulos please add this to the timeline spreadsheet, under Milestone 4.

[2015-08-04 02:36] asjr4584 commented on #44
@gigiadamantopoulos please add this to the timeline spreadsheet, under Milestone 4.

[2015-08-04 02:37] asjr4584 commented on #43
@gigiadamantopoulos please add this to the timeline spreadsheet, under Milestone 4.

[2015-08-04 02:37] asjr4584 commented on #41
@Jinsuke when is this going to be ready for testing?

[2015-08-04 02:50] asjr4584 commented on #46
![attedance tracker flowchart](https://cloud.githubusercontent.com/assets/4827031/9052154/a909890c-3a96-11e5-97b1-140232fdd6e8.jpg)

[2015-08-04 02:51] asjr4584 commented on #46
@chrisperez @lyn2711 @Jinsuke @alvincrisuycorel what can you say about this flowchart?

[2015-08-04 04:51] gigiadamantopoulos opened #49 "Flow of Manager's First time use"
Here’s the mock-up for this:

1. Manager registers (no change)
![image](https://cloud.githubusercontent.com/assets/10202106/9053397/186ff4ce-3aa7-11e5-99d8-af1c742ea332.png)

2. Manager logs in (no change)
![image](https://cloud.githubusercontent.com/assets/10202106/9053400/240bd37a-3aa7-11e5-836c-44effd19e6de.png)

3. Setting up page
![image](https://cloud.githubusercontent.com/assets/10202106/90

[2015-08-04 05:08] chrisperez commented on #18
When you hover on the number, it is the number of person who is on leave or whatever is selected from the report type.

[2015-08-04 05:10] chrisperez commented on #19
Please merge. for testing.

@Jinsuke, for the comments from Tara.. please place here those are related only to the reports finctionality. Thanks.

[2015-08-04 06:27] gigiadamantopoulos commented on #1
Tested using 201.

Passed for Agent's view. Dashboard is not accessible anymore.

For other roles: Passed.

![image](https://cloud.githubusercontent.com/assets/10202106/9054520/f23cfcb2-3ab4-11e5-987e-0e05f619782a.png)

Minor revisions:
1. For Manager account, please disable the Flexi Time Approval.
2. Please arrange the list of employees alphabetically.

[2015-08-04 06:31] gigiadamantopoulos commented on #5
Passed.

Minor rev, @alvincrisuycorel
Please disable the checkbox if 2 checkbox are already selected
![image](https://cloud.githubusercontent.com/assets/10202106/9054581/81f4576a-3ab5-11e5-834f-269dadf59e64.png)

[2015-08-04 06:33] gigiadamantopoulos commented on #13
Minor Rev:

Change to ellipses if the name is too long so that the Logout button will not be blocked.
![image](https://cloud.githubusercontent.com/assets/10202106/9054594/aabe8eea-3ab5-11e5-81e5-15375ed81e6a.png)

[2015-08-04 06:34] gigiadamantopoulos commented on #16
Passed

[2015-08-04 06:35] gigiadamantopoulos commented on #17
Passed.

[2015-08-04 06:39] gigiadamantopoulos commented on #18
Passed

[2015-08-04 06:40] gigiadamantopoulos commented on #19
Passed

[2015-08-04 06:41] gigiadamantopoulos commented on #18
Please add a "Sorry" or a "No Record Found" message if the value is 0

![image](https://cloud.githubusercontent.com/assets/10202106/9054718/e07b7592-3ab6-11e5-8f14-972391aed92f.png)

[2015-08-04 06:42] gigiadamantopoulos commented on #21
Passed

[2015-08-04 06:44] gigiadamantopoulos commented on #25
For the Manager and Supervisor,

Please disable the Required info for group. They don't have a Team so they should be able to save their profile without this entry

![image](https://cloud.githubusercontent.com/assets/10202106/9054762/3cba63e0-3ab7-11e5-9c1b-e345dc11f343.png)

[2015-08-04 06:46] gigiadamantopoulos commented on #25
Nevermind... haha

[2015-08-04 06:48] gigiadamantopoulos commented on #29
Passed...

Color coding to be done in the future

[2015-08-04 06:48] gigiadamantopoulos commented on #31
Passed

[2015-08-04 06:49] gigiadamantopoulos commented on #32
Passed, although we must find a way to auto-refresh the page so that the instances will be updated.

[2015-08-04 06:50] gigiadamantopoulos commented on #33
Passed

[2015-08-04 06:51] gigiadamantopoulos commented on #34
Passed for the icon... but the notif page is not... @alvincrisuycorel

![image](https://cloud.githubusercontent.com/assets/10202106/9054885/3ecf2e8a-3ab8-11e5-8203-e63e77408dad.png)

[2015-08-04 06:54] gigiadamantopoulos commented on #35
Clicking the logout button results to crashing

[2015-08-04 06:55] gigiadamantopoulos commented on #36
Passed

[2015-08-04 06:56] gigiadamantopoulos commented on #38
Notification contains codes...

![image](https://cloud.githubusercontent.com/assets/10202106/9054977/ea503dee-3ab8-11e5-8a43-a0d04d55a88d.png)

[2015-08-04 06:57] gigiadamantopoulos commented on #40
Passed... although in the edit profile, please disable the checkbox if two days are already chosen... @alvincrisuycorel

![image](https://cloud.githubusercontent.com/assets/10202106/9054996/1c695324-3ab9-11e5-9c19-778186939ee5.png)

[2015-08-04 07:31] chrisperez commented on #18
Please merge for testing.

[2015-08-04 23:56] gigiadamantopoulos commented on #38
Passed. Tested in http://16.178.42.203/

[2015-08-04 23:58] gigiadamantopoulos commented on #18
Passed. Tested in http://16.178.42.181

[2015-08-05 01:02] Jinsuke commented on #41
:new: Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9076101/b20e9a0a-3b50-11e5-95e1-1b5ee1c2feed.png)

[2015-08-05 01:51] asjr4584 commented on #18
@lyn2711 for testing, please.

[2015-08-05 02:12] gigiadamantopoulos opened #50 "Total number of Teams"
Hi,

As suggested by Tara, on the red box, please add a total number of the employees under that team.

![image](https://cloud.githubusercontent.com/assets/10202106/9076866/3c628d0c-3b5a-11e5-9dbd-22291ab1f5c2.png)

[2015-08-05 02:38] gigiadamantopoulos opened #51 "Auto Create Admin Group"
Hi,

Is it possible that when you first register a manager account, an ADMIN group will be auto created and the Manager will be added there?

![image](https://cloud.githubusercontent.com/assets/10202106/9077221/2235a668-3b5e-11e5-9878-933eac2e533e.png)

Thanks!!!

[2015-08-05 03:16] chrisperez commented on #50
Added members count to Group List. Please merge for testing.

![image](https://cloud.githubusercontent.com/assets/4833394/9077658/47d2fdf8-3b63-11e5-969d-75343cf6f592.png)

[2015-08-05 03:17] chrisperez commented on #51
Done. Please merge for testing.

![image](https://cloud.githubusercontent.com/assets/4833394/9077679/98a22a74-3b63-11e5-921f-33598da13f3d.png)

[2015-08-05 05:56] Jinsuke commented on #29
:new: Task
-
Show the agent's name in the Group Calendar to identify the filed event.
![image](https://cloud.githubusercontent.com/assets/10201846/9079138/86ad7f10-3b79-11e5-8697-ae479d6ea4e0.png)

[2015-08-05 06:53] Jinsuke commented on #29
:new: Fix Update
-
Added Name table.
![image](https://cloud.githubusercontent.com/assets/10201846/9079932/b0034004-3b81-11e5-9757-281062457deb.png)

[2015-08-05 10:44] alvincrisuycorel commented on #13
- Adding popup when changing status of the user.

[2015-08-05 10:53] alvincrisuycorel commented on #35
Hi Gigi please check if the message is fine when changing the status of the user :smile:

[2015-08-05 10:58] alvincrisuycorel commented on #13
Hi Gigi

@gigiadamantopoulos

please check if the message is fine when changing the status of the user :smile:

[2015-08-05 11:24] alvincrisuycorel commented on #35
- Added Software application can only have one instance

[2015-08-05 23:20] alvincrisuycorel commented on #35
Hi Gigi

@gigiadamantopoulos

Please change the popup alert messages on the software :smile: :pouch:

[2015-08-05 23:23] alvincrisuycorel opened #52 "Wrong logic - Aux 7"
Wrong output Summing up all AUX 7 (On Desk)

This occurrence happens when the shift of the user is between two days
Ex. 7PM - 4AM from Aug 5 to Aug 6 (2 Days)

[2015-08-05 23:27] alvincrisuycorel opened #53 "Wrong Notification Message"
Wrong Notification received by Team Leads when an instance is created.

Only Scenario
- When a user add an event for the agent for
A, SL, NCNS, EL, JA
this must send a notification

- When a user visit the profile->instance page of an employee. If and only if that employee has an instance

[2015-08-05 23:50] alvincrisuycorel commented on #44
Hi Gigi

@gigiadamantopoulos

Is it possible that the 2nd image above that the TLs will receive become a notification? It has a similar function to notification.

[2015-08-06 01:12] Jinsuke commented on #45
:new: Update
-
**Done in local.**
TL Access:
![image](https://cloud.githubusercontent.com/assets/10201846/9101565/2ab79252-3c1b-11e5-9bc9-4ae8b6996d06.png)

For Testing on Local
http://16.178.42.181/   USERS/Edit
-

[2015-08-06 01:40] Jinsuke commented on #41
:new: Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9101895/1db4d304-3c1f-11e5-9263-d5961811696c.png)

[2015-08-06 02:08] gigiadamantopoulos commented on #48
Added

[2015-08-06 02:08] gigiadamantopoulos commented on #47
Added

[2015-08-06 02:13] gigiadamantopoulos commented on #44
Hi @alvincrisuycorel , yes, i think that's more correct

[2015-08-06 02:13] asjr4584 opened #54 "[TBD] Enhancement: Tracking Customer Calls from AVAYA?"
From: Salvador Jr., Allan Agura
Sent: Thursday, August 06, 2015 8:02 AM
To: Cunanan, Sash Cabrera
Cc: Saguyod, Sarih Viel S
Subject: RE: Attendance Tracker
Importance: High

Thank you so much for your feedback Sash! 

Right now, this project focuses on the attendance adherences; we have not thought of monitoring customer calls yet but surely, I will take note of your suggestions.

Although I cann

[2015-08-06 02:31] gigiadamantopoulos commented on #35
- When you logout then you log in, the buttons should be disabled to avoid the crash
- Alert the user when you first log in for Aux 7.

[2015-08-06 02:31] gigiadamantopoulos commented on #13
It's ok now @alvincrisuycorel thanks!

[2015-08-06 02:36] gigiadamantopoulos commented on #29
Passed. Tested using http://16.178.42.181/

[2015-08-06 02:47] gigiadamantopoulos commented on #45
Passed!

Hi @alvincrisuycorel , please merge

[2015-08-06 05:21] gigiadamantopoulos commented on #33
Hi @alvincrisuycorel is it possible that the instances occurred by the agents will send a notification to their TLs only? The Supervisor will only receive notifications regarding approvals.

This is to prevent the clutter on the notification page of both the TLs and Supervisors.

[2015-08-06 05:47] alvincrisuycorel commented on #35
Hi Gigi

@gigiadamantopoulos

Please test po again :smile:

[2015-08-06 05:50] alvincrisuycorel commented on #33
Okie :smile:

[2015-08-06 06:01] alvincrisuycorel commented on #45
Done

[2015-08-06 06:01] alvincrisuycorel commented on #29
Done

[2015-08-06 06:33] gigiadamantopoulos opened #55 "Reports: Lost hours"
Lost hours: Login/logout - overbreaks

[2015-08-06 06:34] gigiadamantopoulos opened #56 "Reports: Adherence"
Adherence: Per team (each person 540 hours - overbreak and undertime daily, weekly, monthly)

[2015-08-06 06:34] gigiadamantopoulos opened #57 "Reports: Graph: Month"
Graph: Month(ASC) by time (24 hrs)

[2015-08-06 06:37] alvincrisuycorel commented on #51
Already merge.

@gigiadamantopoulos

[2015-08-06 06:45] gigiadamantopoulos commented on #51
Hi Sir @chrisperez , can we change the group to Admin and not Admins?

This is passed. Thanks!

[2015-08-06 06:51] gigiadamantopoulos commented on #50
Hi Sir @chrisperez

The number of members are still 1.

![image](https://cloud.githubusercontent.com/assets/10202106/9105462/a3f8320a-3c4a-11e5-9539-c13e18f79779.png)

![image](https://cloud.githubusercontent.com/assets/10202106/9105464/a958fe32-3c4a-11e5-8ab9-2929523ae959.png)

[2015-08-06 06:52] gigiadamantopoulos commented on #35
Passed!

[2015-08-06 06:53] gigiadamantopoulos commented on #29
PAssed!

[2015-08-06 06:54] gigiadamantopoulos commented on #45
PAssed

[2015-08-06 07:49] Jinsuke commented on #43
Update
-
http://16.178.42.181/organization/members
-
(*ALVIN UY'S ACCOUNT IS SUPERVISOR*)
**MANAGER ACCESS**
- Modal for deleting own manager account
![image](https://cloud.githubusercontent.com/assets/10201846/9106192/fca55e7c-3c50-11e5-96cf-ee8d914f5807.png)

**SUPERVISOR ACCESS**
- Disabled **REMOVE** button for Manager and Supervisor
- Disabled **EDIT** button for Manager and Enabled **EDIT**

[2015-08-06 12:44] lyn2711 commented on #42
Is this done already, coz when I tested, there was no notification or pop up alert.

[2015-08-06 12:52] lyn2711 commented on #40
Other boxes still not disabled when selecting 2 days:

![image](https://cloud.githubusercontent.com/assets/7370325/9111792/fe4b93a0-3c7c-11e5-8008-e6a8f5d51115.png)

[2015-08-06 12:55] lyn2711 commented on #39
Pass

[2015-08-06 12:58] lyn2711 commented on #38
Pass, test done in  http://16.178.42.201/

[2015-08-06 13:10] lyn2711 commented on #35
Pass, test done in http://16.178.42.201/

[2015-08-07 00:15] chrisperez commented on #51
Changed "Admins" to "Adimn". Please Merge for testing.

[2015-08-07 00:34] gigiadamantopoulos commented on #1
Issue: Loading of data in the Dashboard takes a long time.
Solution: Code refinement from Alvin

Alternative solution:
- sorting by team in the dashboard
- move the dashboard to groups page.

[2015-08-07 01:24] alvincrisuycorel commented on #51
Done merging on my local server

[2015-08-07 01:38] chrisperez commented on #50
Fix Group members count. Please merge for testing.

[2015-08-07 01:49] Jinsuke commented on #29
Update
-
- Edited Calendar Event Table Font Sizes
![image](https://cloud.githubusercontent.com/assets/10201846/9127189/98b233f6-3ce9-11e5-986a-303a0a411ce2.png)

[2015-08-07 02:08] alvincrisuycorel commented on #50
Done merging :smile:

[2015-08-07 03:31] alvincrisuycorel commented on #33
Done. Please test :smile:

[2015-08-07 05:43] Jinsuke commented on #40
:new: Update
-
http://16.178.42.181/organization/register
-
- Fixed checkbox disable button when selecting more than two off-days.
![image](https://cloud.githubusercontent.com/assets/10201846/9129429/34cc3794-3d0a-11e5-93ae-bd0486e3c4b3.png)

[2015-08-07 06:44] asjr4584 commented on #46
Deadline: Thursday, August 13, 2015.

[2015-08-07 06:46] asjr4584 commented on #44
Deadline: Monday, August 10, 2015.

[2015-08-07 06:47] asjr4584 commented on #41
Deadline: Wednesday, August 12, 2015.

[2015-08-07 06:48] asjr4584 commented on #40
Deadline: August 7, 2015.

[2015-08-07 06:49] asjr4584 commented on #52
Deadline: Wednesday, August 12, 2015.

[2015-08-07 06:50] asjr4584 commented on #1
Refine code to address performance Issue - Deadline:Thursday, August 13, 2015.

[2015-08-07 06:52] asjr4584 commented on #49
Deadline: Wednesday, August 12,2015.

[2015-08-07 06:56] asjr4584 commented on #42
Deadline: Friday, August 14, 2015.

[2015-08-07 07:32] gigiadamantopoulos commented on #43
Passed!

[2015-08-07 07:33] gigiadamantopoulos commented on #51
Passed!

[2015-08-07 07:46] gigiadamantopoulos commented on #40
Passed

[2015-08-07 07:47] gigiadamantopoulos commented on #33
Passed

[2015-08-07 07:55] chrisperez commented on #50
For testing @gigiadamantopoulos

[2015-08-09 23:47] gigiadamantopoulos commented on #52
Hi @alvincrisuycorel ,

Agents did not log out, but they didn't log in either

![image](https://cloud.githubusercontent.com/assets/10202106/9157524/af88f3de-3f33-11e5-9c87-817073c927f3.png)

[2015-08-10 00:19] gigiadamantopoulos commented on #52
Hi @alvincrisuycorel ,

Another issue, agent logs out, but the status says Not  yet logged out

![image](https://cloud.githubusercontent.com/assets/10202106/9157641/75827066-3f38-11e5-9c9f-5806843b7fa6.png)

[2015-08-10 00:23] gigiadamantopoulos commented on #52
Hi @alvincrisuycorel ,

Another issue... employee logs in at 12mn, logs out at 9pm.... is this possible?

![image](https://cloud.githubusercontent.com/assets/10202106/9157658/0898f94c-3f39-11e5-8ca6-72ba7844418b.png)

[2015-08-10 01:43] gigiadamantopoulos commented on #50
Passed in 203...

[2015-08-10 04:40] chrisperez commented on #50
Hi @lyn2711,

For testing in 201...

[2015-08-10 04:42] alvincrisuycorel commented on #1
Hi Gigi,

Please try if the dashboard is kinda loading faster :smile:

[2015-08-10 04:50] alvincrisuycorel commented on #50
Hi Gigi

Please notify me if this is ready to merge in 201

[2015-08-10 05:27] Jinsuke commented on #44
Update
-
As discussed, this will not be implemented as changing user roles are already working. Transferred issue to sir @asjr4584 .

[2015-08-10 05:39] #44 closed

[2015-08-10 06:45] gigiadamantopoulos commented on #50
Passed in 201...
![image](https://cloud.githubusercontent.com/assets/10202106/9160618/7171d6ca-3f6e-11e5-94f4-1daecd71279c.png)

[2015-08-10 06:57] gigiadamantopoulos commented on #1
Hi @alvincrisuycorel ... it's faster today than last friday... but still slow...

[2015-08-10 06:58] gigiadamantopoulos commented on #53
Hi @alvincrisuycorel , it works fine as what you mentioned above.

[2015-08-10 07:30] Jinsuke commented on #41
:new: Update 150810
-
![image](https://cloud.githubusercontent.com/assets/10201846/9161632/bd7c382a-3f74-11e5-91ff-e2bcdad7c70a.png)

[2015-08-10 12:36] lyn2711 commented on #22
Pass, test done on QA server

[2015-08-10 12:39] lyn2711 commented on #4
Pass, test done on QA server

[2015-08-10 12:43] lyn2711 commented on #5
Pass, test done on QA server

[2015-08-10 12:45] lyn2711 commented on #6
Pass, test done on QA server

[2015-08-10 12:49] lyn2711 commented on #7
Pass, test done on QA server

[2015-08-10 13:02] lyn2711 commented on #8
Pass, test done on QA server

[2015-08-10 13:10] lyn2711 commented on #9
Pass, test done on QA

[2015-08-11 02:23] Jinsuke commented on #41
:new:  Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9188793/07c58eba-4013-11e5-869f-0f70bd39593d.png)

[2015-08-11 02:31] Jinsuke commented on #5
Update
-
- Fix OffDays checkbox. Please test.
![image](https://cloud.githubusercontent.com/assets/10201846/9188896/25f10954-4014-11e5-8062-91c602ec5309.png)

[2015-08-11 05:29] chrisperez commented on #49
Please see my comments below:

Original Suggested User Flow: Manager's First Time Use
---

1. New Manager Registration
   - `Existing process :+1: `
2. User Login
   - `Existing process :+1: `
3. Create an Organization
   - `Existing process :+1: `
4. Create a Group
   - `Since we already had auto creation of group name Admin, I think we don't need to include this anymore ~ @alvincrisuycorel`
5. E

[2015-08-11 05:29] chrisperez commented on #49
Please pull for testing

[2015-08-11 05:59] #42 closed

[2015-08-11 23:15] alvincrisuycorel commented on #49
Hi Gigi

@gigiadamantopoulos

Please test in 16.178.42.203 :smile:

[2015-08-11 23:32] gigiadamantopoulos commented on #5
Passed. Tested in 181

[2015-08-11 23:49] gigiadamantopoulos commented on #49
Hi Sir @chrisperez , i'm receiving this error when I save the Profile in the process...

![image](https://cloud.githubusercontent.com/assets/10202106/9213560/6731fc86-40c6-11e5-909c-e125118deba9.png)

[2015-08-12 00:01] chrisperez commented on #49
This is working on my local. Please merge before testing. Thanks!

[2015-08-12 00:10] chrisperez opened #58 "Functionality - User's Hierarchy Edit Settings"
Create a page where you can edit the Access Settings of the created Hierarchy.

![image](https://cloud.githubusercontent.com/assets/4833394/9213837/5e839826-40c9-11e5-8a94-4d55e9eb5477.png)

[2015-08-12 00:11] Jinsuke commented on #41
:new: Update
-
![image](https://cloud.githubusercontent.com/assets/10201846/9213856/b46395ac-40c9-11e5-9dd9-564b22a6f3d3.png)

[2015-08-12 00:49] alvincrisuycorel commented on #49
Done merge

[2015-08-12 00:51] alvincrisuycorel commented on #5
Done Merge. Please test in 203

[2015-08-12 00:56] alvincrisuycorel commented on #52
Please test. Done merging :smile:

[2015-08-12 00:56] alvincrisuycorel commented on #1
:sob:

[2015-08-12 01:59] gigiadamantopoulos commented on #5
Hi Kuya @Jinsuke , as discussed, the Admin should still edit the day-off even after his/her account has been created.

Thanks!

[2015-08-12 02:30] gigiadamantopoulos commented on #52
Hi @alvincrisuycorel , here are some issues I found:

1. Shift displayed in the dashboard is not the same as what is displayed in the software
![image](https://cloud.githubusercontent.com/assets/10202106/9215380/670e7d7c-40dc-11e5-8fec-2925c0463e1d.png)
![image](https://cloud.githubusercontent.com/assets/10202106/9215381/71bb160e-40dc-11e5-93a4-fa600550959a.png)

2. In the dashboard, the shift of

[2015-08-12 02:36] gigiadamantopoulos commented on #49
Passed.... although issue https://github.com/HP-Corel/AttendanceTracker/issues/5 should be fixed @Jinsuke

[2015-08-12 02:40] chrisperez commented on #58
Done with UI and Functionality. Ready for testing @gigiadamantopoulos.

[2015-08-12 03:20] Jinsuke commented on #5
Update
-
**DONE!** For testing in Local:
http://16.178.42.181/users/edit?userid=1
-
![image](https://cloud.githubusercontent.com/assets/10201846/9215928/20467d92-40e4-11e5-9bda-fee326d4f223.png)

[2015-08-12 03:21] Jinsuke commented on #49
Hi @gigiadamantopoulos , Done in #5. For testing in local. :)

[2015-08-12 04:38] alvincrisuycorel commented on #52
Hi @gigiadamantopoulos could you test it again?

[2015-08-12 05:17] gigiadamantopoulos opened #59 "Add Password Field in the Software login"
Hi @alvincrisuycorel ,

As discussed, please add a password field in the software login. The password that they will use is the same password that they will use to login in the web.

[2015-08-12 05:50] alvincrisuycorel commented on #59
Hi Gigi,

Please test :smile:

[2015-08-12 07:01] gigiadamantopoulos commented on #49
Passed! :D

[2015-08-12 07:08] gigiadamantopoulos commented on #5
Passed! Please pull for 201. Thanks

[2015-08-12 07:12] gigiadamantopoulos commented on #59
Passed. Please pull for 201.

[2015-08-12 07:29] gigiadamantopoulos commented on #58
PASS!!! Please pull for 201.

[2015-08-13 04:56] alvincrisuycorel commented on #1
For Testing :smile: 16.178.42.203

[2015-08-14 00:09] Jinsuke commented on #41
:new: Update 150814
-
![image](https://cloud.githubusercontent.com/assets/10201846/9264675/89f8bd22-425b-11e5-982b-fc13380d0e04.png)

**ALL DONE! Thank you** @alvincrisuycorel :grin:

[2015-08-14 00:09] alvincrisuycorel commented on #41
Hi @gigiadamantopoulos

Please test :smile:

[2015-08-14 02:00] Jinsuke commented on #4
:new: Update
-
Member's page is now on Ascending Order.

![image](https://cloud.githubusercontent.com/assets/10201846/9265821/341672c2-426b-11e5-9f43-0400075cf827.png)

[2015-08-14 02:00] Jinsuke commented on #10
:new: Update
-
Member's page is now on Ascending Order.

![image](https://cloud.githubusercontent.com/assets/10201846/9265820/286744f6-426b-11e5-9ae0-a3c8fcfdc570.png)

[2015-08-14 05:22] alvincrisuycorel commented on #59
Ma'am @lyn2711 will test in 203. Before pulling in 201

[2015-08-14 05:22] alvincrisuycorel commented on #58
Ma'am @lyn2711 will test in 203. Before pulling in 201

[2015-08-14 05:22] alvincrisuycorel commented on #49
Ma'am @lyn2711 will test in 203. Before pulling in 201

[2015-08-14 05:23] alvincrisuycorel commented on #5
Ma'am @lyn2711 will test in 203. Before pulling in 201

[2015-08-14 09:45] lyn2711 commented on #5
Pass, test done in 203.

[2015-08-14 10:41] lyn2711 commented on #49
Pass, test done in 203

[2015-08-14 10:57] lyn2711 commented on #58
Pass, test done in 203

[2015-08-14 10:59] lyn2711 commented on #59
Pass, test done in 203

[2015-08-14 11:06] lyn2711 commented on #52
Changed Francisco, Christine's shift to 1:30-10:30 PM and shift in Dashboard did not change:

![image](https://cloud.githubusercontent.com/assets/7370325/9272672/6ff0d020-42b7-11e5-8925-c9ea3cf72ce0.png)

![image](https://cloud.githubusercontent.com/assets/7370325/9272685/8855f974-42b7-11e5-9e47-ae32bac5bdb3.png)

[2015-08-14 11:18] lyn2711 commented on #41
![image](https://cloud.githubusercontent.com/assets/7370325/9272799/8fbe4b16-42b8-11e5-8513-4ba481ccc280.png)

Tried to register a new member and got myself an error.  Plus, the 1st break, lunch and 2nd break are all 12AM

![image](https://cloud.githubusercontent.com/assets/7370325/9272873/3cfee2d6-42b9-11e5-9879-10aad3849772.png)

[2015-08-14 11:30] lyn2711 commented on #41
Can we change the confirmation messages for delete/remove/setting button from "Confirm" to for example:

![image](https://cloud.githubusercontent.com/assets/7370325/9273021/a1151848-42ba-11e5-9e7c-db5df10ded51.png)

![image](https://cloud.githubusercontent.com/assets/7370325/9273032/c15eecd2-42ba-11e5-8846-e5211dd6bf1b.png)

![image](https://cloud.githubusercontent.com/assets/7370325/9273047/f1880

[2015-08-14 11:58] lyn2711 commented on #1
Got an error when loading dashboard:

![image](https://cloud.githubusercontent.com/assets/7370325/9273369/d0923db8-42be-11e5-897e-92df098d38ce.png)

[2015-08-14 12:00] lyn2711 commented on #4
Pass, test done in 203

[2015-08-14 12:05] lyn2711 commented on #10
Pass, test done in 203

[2015-08-14 12:16] lyn2711 commented on #53
Pass, test done on 203

[2015-08-14 12:18] lyn2711 commented on #51
Under Groups, it still shows "Admins". Test done in 203

[2015-08-14 12:21] lyn2711 commented on #50
Test done in 203.

Change "Admins" to "Admin" And is it correct that there is no Remove button beside Admin?

![image](https://cloud.githubusercontent.com/assets/7370325/9273749/110d710c-42c2-11e5-8c5a-25e3d17dd725.png)

[2015-08-14 12:23] lyn2711 commented on #45
Pass, test done in 203

[2015-08-14 12:27] lyn2711 commented on #43
Pass, test done in 203

[2015-08-14 12:36] lyn2711 commented on #40
Pass, test done in 203

[2015-08-14 12:40] lyn2711 commented on #36
Pass, test done on 203

[2015-08-14 12:43] lyn2711 commented on #34
Pass, test done on 203

[2015-08-14 12:48] lyn2711 commented on #33
Passed, test done on 203

[2015-08-14 12:59] lyn2711 commented on #32
Can we change "Total # of Late" to "Total mins late".  And I think it should be shown in minutes even if it is over 60 minutes.

![image](https://cloud.githubusercontent.com/assets/7370325/9274326/60642a2a-42c7-11e5-902f-9d736b50694e.png)

[2015-08-14 13:08] lyn2711 commented on #31
Passed, done on 203

[2015-08-14 13:09] lyn2711 commented on #31
Can we change "Total # of Late" to "Total mins late".  And I think it should be shown in minutes even if it is over 60 minutes.

![image](https://cloud.githubusercontent.com/assets/7370325/9274326/60642a2a-42c7-11e5-902f-9d736b50694e.png)

[2015-08-14 13:19] lyn2711 commented on #30
Passed, done on 203

[2015-08-14 13:21] lyn2711 commented on #29
Passed, done on 203

[2015-08-14 13:24] lyn2711 commented on #28
Passed, done on 203

[2015-08-14 13:27] lyn2711 commented on #27
Passed, done on 203

[2015-08-14 13:28] lyn2711 commented on #26
Passed, done on 203

[2015-08-14 13:35] lyn2711 commented on #25
I logged in as Allan, clicked on Profile, Role and Group are empty:

![image](https://cloud.githubusercontent.com/assets/7370325/9274922/33e48260-42cc-11e5-9bc7-a062a304f2c1.png)

After that, clicked on Organizations -> Corel -> Profile -> Edit Profile - Role is filled up but Group is blank:

![image](https://cloud.githubusercontent.com/assets/7370325/9274940/606770d6-42cc-11e5-801e-6fbc8bc7832e.p

[2015-08-14 13:37] lyn2711 commented on #24
Passed, done on 203

[2015-08-14 13:41] lyn2711 commented on #23
Passed, done on 203

[2015-08-14 13:45] lyn2711 commented on #21
Changed password but when I tried logging in, got an error message:

![image](https://cloud.githubusercontent.com/assets/7370325/9275164/c1fc1ff8-42cd-11e5-9c18-ac101d6a50d2.png)

[2015-08-14 13:52] lyn2711 commented on #20
Got an error when accessing /users/profile?userid=1

![image](https://cloud.githubusercontent.com/assets/7370325/9275281/96e2da54-42ce-11e5-8b8a-80e9a40580fc.png)

All other urls not accessible and directs me to the login page

[2015-08-14 13:57] lyn2711 commented on #19
When a user goes on leave for 2 or more days, can we instead show a date range under the Report Details instead of listing down all the dates? What if it is Maternity Leave which is normally 2-3 months?

[2015-08-17 01:20] Jinsuke commented on #31
Update
-
- Changed Table title to TOTAL MINS LATE
![image](https://cloud.githubusercontent.com/assets/10201846/9296520/1eebb5c6-44c1-11e5-8a0b-71553b159a23.png)

As discussed, time will still be the same (hours:minutes:seconds). :)

For testing on my local:
http://16.178.42.181/users/instances/35002194
-

[2015-08-17 01:23] gigiadamantopoulos commented on #31
Passed in 181

[2015-08-17 02:14] Jinsuke commented on #21
Update
-
- This is now fixed on my local. For testing.
http://16.178.42.181/
-

[2015-08-17 02:26] chrisperez commented on #51
Please merge to 203 for testing.

[2015-08-17 02:30] chrisperez commented on #50
Miss @lyn2711,

Please see comments below.

 - Change "Admins" to "Admin" - `this is for Issue #51`
 - And is it correct that there is no Remove button beside Admin? - `Admin is a super group and must not be deleted`

[2015-08-17 02:32] chrisperez commented on #41
Assigning this to @Jinsuke :+1:

[2015-08-17 02:59] Jinsuke commented on #46
:new: Update
-
**LEAVE APPROVAL PAGE**
![image](https://cloud.githubusercontent.com/assets/10201846/9297247/ebbfff1e-44ce-11e5-9b89-2c503ab0e81a.png)

**LEAVE FILING PAGE**
![image](https://cloud.githubusercontent.com/assets/10201846/9297250/fb184692-44ce-11e5-99a8-0074ce1f3071.png)

*Function is ongoing*

[2015-08-17 05:27] Jinsuke commented on #41
Done in Local. For Testing.
http://16.178.42.181/organization/dashboard
-

[2015-08-17 05:33] lyn2711 commented on #50
Passed, done in 203

[2015-08-17 05:39] lyn2711 commented on #18
Passed, done on 203

[2015-08-17 05:42] gigiadamantopoulos commented on #51
PASS! in 181

[2015-08-17 05:43] lyn2711 commented on #17
Passed, done in 203

[2015-08-17 05:44] lyn2711 commented on #16
Passed, done in 203

[2015-08-17 05:48] chrisperez commented on #37
Done. Please pull latest changes to your local @Jinsuke and pass to @gigiadamantopoulos for testing.

[2015-08-17 05:49] chrisperez commented on #51
Please merge in 203 for testing.

[2015-08-17 05:57] lyn2711 commented on #15
Calendar too wide, alam mo na un @Jinsuke

[2015-08-17 05:58] lyn2711 commented on #14
Passed, test done in 203

[2015-08-17 06:01] lyn2711 commented on #13
Passed, test done in 203

[2015-08-17 06:02] lyn2711 commented on #12
Passed, test done in 203

[2015-08-17 06:02] Jinsuke opened #60 "Functionality - Aux 1 for Bio Break"
Task:
-
- **AUX 1** will now be used as BIO BREAK (Maximum of 10Mins)
- Dashboard tables should include AUX 1 and computations should follow.

[2015-08-17 06:03] lyn2711 commented on #11
Passed, test done in 203

[2015-08-17 06:04] chrisperez commented on #25
Please try again.

[2015-08-17 06:06] chrisperez commented on #20
Please test again.

[2015-08-17 07:19] lyn2711 opened #61 "UI: Alert Window"
Suggestion:
When alert shows up, user cannot go to other pages/windows unless he clicks on OK on the alert window

OR

We can do away with the alert window, and just show the overbreak in red color and blinking (if possible).  User cannot also go to other windows, unless user clicks on "On Desk"

[2015-08-17 07:20] lyn2711 opened #62 "UI: Include Login time"
Suggestion:
Please include login time in the Attendance tracker, after Shift.

[2015-08-17 23:50] Jinsuke commented on #37
Done pulling on my local. For testing!

http://16.178.42.181/
-

[2015-08-18 06:21] Jinsuke commented on #15
:new: Update
-
- **Fixed Calendar Size for Agent View**
![image](https://cloud.githubusercontent.com/assets/10201846/9323561/5d06da5e-45b4-11e5-96e9-3e4d20d84976.png)

For testing in my local:
http://16.178.42.181/users/profile/102
-

u: jin@gmail.com
p: 123

[2015-08-18 06:30] gigiadamantopoulos opened #63 "Deleted employee remains inside a team"
Hi,

Found this issue in 201. When I delete an employee in the organization, that employee still remains on the group/teams list.

[2015-08-19 04:56] Jinsuke commented on #1
New Issue
-
12AM-9AM SHIFT
11:58PM LOGIN
STATUS P RED
TIME IS RESET TO 12:01 LOGIN

[2015-08-19 05:47] alvincrisuycorel commented on #31
Done :smile:

[2015-08-19 05:56] gigiadamantopoulos commented on #51
Passed.. tested in 201

[2015-08-19 05:58] gigiadamantopoulos commented on #41
Passed.... tested in 181.. please merge @alvincrisuycorel  :D

[2015-08-19 05:58] gigiadamantopoulos commented on #37
Passed in 181 and 201.

[2015-08-19 23:39] alvincrisuycorel commented on #41
merged in 203 :smiley:

[2015-08-20 00:28] gigiadamantopoulos commented on #21
Passed... ready for merging in 203

[2015-08-20 00:28] gigiadamantopoulos commented on #15
Passed... ready for merging in 203

[2015-08-20 05:56] asjr4584 commented on #61
Change the background color of the form. or background color of label.

[2015-08-20 06:00] asjr4584 commented on #46
Moved Deadline: August 26, 2015

[2015-08-20 06:05] asjr4584 commented on #19
@chrisperez please follow up with Tara the reports template that will be generating from the application.

[2015-08-20 06:12] asjr4584 commented on #63
Deadline: August 24, 2015

[2015-08-20 06:14] asjr4584 commented on #62
![image](https://cloud.githubusercontent.com/assets/4827031/9376897/9810cb36-4745-11e5-9b7c-9b847ce3cd7e.png)

Deadline: August 24, 2015

[2015-08-20 06:21] asjr4584 commented on #3
Deadline: September 15, 2015

[2015-08-20 06:22] asjr4584 commented on #2
Deadline: September 15, 2015

[2015-08-20 06:23] asjr4584 commented on #52
@lyn2711 for testing in 201.

[2015-08-20 06:24] asjr4584 commented on #51
@lyn2711 for testing in 201.

[2015-08-20 06:25] asjr4584 commented on #37
@lyn2711 for testing in 201.

[2015-08-20 06:26] asjr4584 commented on #25
@lyn2711 for testing 181, 203, 201.

[2015-08-20 06:27] asjr4584 commented on #20
@lyn2711  for testing in 181, 203 and 201.

[2015-08-20 06:27] asjr4584 commented on #41
@gigiadamantopoulos for testing in 203, 201

[2015-08-20 06:29] asjr4584 commented on #31
@gigiadamantopoulos for testing in 203, 201

[2015-08-20 07:11] alvincrisuycorel commented on #21
Merged :smile:

@gigiadamantopoulos

[2015-08-20 07:12] alvincrisuycorel commented on #15
Merged :smile:

@gigiadamantopoulos

[2015-08-20 07:18] gigiadamantopoulos commented on #31
Passed in both 203 and 201

[2015-08-20 07:21] gigiadamantopoulos commented on #21
Pass in 203....

[2015-08-20 07:21] gigiadamantopoulos commented on #41
Passed in 203

[2015-08-20 07:22] gigiadamantopoulos commented on #15
Passed in 203

[2015-08-24 02:59] chrisperez commented on #63
Please merge for testing. Thanks!

[2015-08-24 05:29] Jinsuke commented on #63
Done Merging. For Testing on my local.
http://16.178.42.181/organization/members
-

[2015-08-24 05:30] Jinsuke commented on #1
Update
-
- Fixed time tracking if agent's schedule is 12:00AM-9:00AM
- Fixed tardiness tracking if agent's schedule is 12:00AM-9:00AM
- Fixed INSTANCES page Tardiness Tracking if agent's schedule is 12:00AM-9:00AM

[2015-08-24 05:33] alvincrisuycorel commented on #1
Done pulling changes

[2015-08-24 23:52] Jinsuke opened #64 "Functionality - Absent Status"
Task
-
- This will be done on DASHBOARD Page
- After work shift has past, Agents who didn't log in and is not on leave or off that day should be tagged as Absent status.

[2015-08-25 07:30] gigiadamantopoulos opened #65 "Filtering of Dashboard entries"
As discussed, please add a filter on the entries of the dashboard.

[2015-08-25 07:42] gigiadamantopoulos commented on #63
Testes and passed in 203.. ready for merging in 201

[2015-08-25 07:43] gigiadamantopoulos commented on #1
Tested in 203... ready to merge in 201

[2015-08-26 02:13] chrisperez commented on #19
Answer the question below..

The view that we have right now is per month only and the records shown are the raw data. I will review the file Tara and Miss Eve gave and will get back to you guys ASAP.

[2015-08-26 08:00] Jinsuke commented on #46
Update
-
Done in my local pc. For Testing on local.
http://16.178.42.181/
-
- Admin Account: jin@gmail.com

- Supervisor Account: alvincris.uy@hp.com

- TL Account:
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Robby: robby@gmail.com

- Agent Account:
  - Dev Team:
    - chris@gmail.com
  - Team Robby:
    - lenny@gmail.com

Instructions:
-
- Login to Agent Account and **File A Leave**
- After

[2015-08-26 11:58] lyn2711 commented on #46
Suggestion:
When an agent files a leave, can it be added under events then add a comment like "Pending approval/Denied/Approved"?

Question: What if I want to cancel a leave request that has not been approved yet? What if I want to cancel an approved leave request?

[2015-08-26 12:05] lyn2711 commented on #63
Passed, test done in 181

[2015-08-26 12:11] lyn2711 commented on #15
It is smaller but it is positioned at the left side leaving the right side bare.

![image](https://cloud.githubusercontent.com/assets/7370325/9492943/933a1b6a-4c2e-11e5-86ba-8b0f63e0253b.png)

[2015-08-26 12:15] lyn2711 commented on #41
![image](https://cloud.githubusercontent.com/assets/7370325/9493018/2e36d234-4c2f-11e5-86f2-d2eed0c2b245.png)

"Confirm" was not changed to "Remove Member"

[2015-08-26 12:34] lyn2711 commented on #21
Passed, test done in 181

[2015-08-26 12:36] lyn2711 commented on #31
Passed, test done in 201

[2015-08-26 12:40] lyn2711 commented on #41
Passed in 201

[2015-08-26 12:40] #41 closed

[2015-08-26 13:49] lyn2711 commented on #52
Passed, test done in 201

[2015-08-26 13:49] #52 closed

[2015-08-26 13:50] lyn2711 commented on #51
Passed, test done in 201

[2015-08-26 13:50] #51 closed

[2015-08-26 13:55] lyn2711 commented on #37
Passed, test done in 201

[2015-08-26 13:55] #37 closed

[2015-08-26 14:03] lyn2711 commented on #25
In 181, Group field in empty, when I logged in and clicked on Profile:

![image](https://cloud.githubusercontent.com/assets/7370325/9495427/136035a4-4c3e-11e5-96af-24fd7a99a04f.png)

Test done in 201 is okay

[2015-08-26 14:05] lyn2711 commented on #20
Passed, test done in 181, 203 and 201

[2015-08-26 14:05] #20 closed

[2015-08-26 23:14] asjr4584 commented on #63
@Jinsuke please merge this in 201 and then assign to @lyn2711 for testing.

[2015-08-26 23:33] asjr4584 commented on #21
@lyn2711 we need to test this again in 201 before assigning this issue back to me. We will not close an issue until we go live.

[2015-08-26 23:36] asjr4584 commented on #21
by the way @lyn2711 you may close GitHub issue once it was tested and passed in 201. Then assign the issue to me. Thanks!

[2015-08-26 23:36] chrisperez commented on #25
Mine is also working.

@Jinsuke, please pull latest changes to your local.

No Issues here if its still working in 203

[2015-08-26 23:55] Jinsuke commented on #46
Hi Ms. @lyn2711 ,

- As discussed, the Disapprove button will serve as a notification to the agents if their event request has been denied. The reason is because we don't have 'Pending' status available in our event database.

As of now, Cancellation of Leave request is not possible. This will be discussed soon. :)

[2015-08-27 23:38] lyn2711 commented on #46
Passed, test done in 181

[2015-08-28 02:31] Jinsuke commented on #46
Update
-
- DISAPPROVE button is now working
  - If TL Denies the VL Request, a notification will be sent to the Agent and Event will not be plotted on the Calendar
  - If Supervisor Denies the VL Request, a notification will be sent to the Agent and Team Lead and Event will not be plotted on the Calendar.

For Testing on Local.
http://16.178.42.181/organization/dashboard
-

[2015-08-28 02:32] Jinsuke commented on #25
This is now fixed on my local server. Please test.

![image](https://cloud.githubusercontent.com/assets/10201846/9537822/0be055c4-4d70-11e5-966b-44bc7c6141a5.png)

[2015-08-28 02:52] lyn2711 commented on #46
Send notification to user whenever he/she files a leave with approval status.

[2015-08-28 02:54] lyn2711 commented on #25
Disable Profile button upon logging in and when user has not selected an organization yet.

[2015-08-28 03:11] asjr4584 commented on #62
Deadline: September 15, 2015.

[2015-08-28 03:23] asjr4584 commented on #19
@lyn2711  for testing in 181.

[2015-08-28 03:25] asjr4584 commented on #65
Deadline: September 15, 2015.

[2015-08-28 03:26] asjr4584 commented on #64
Deadline: September 15, 2015.

[2015-08-28 03:28] asjr4584 commented on #63
@lyn2711 please test this today in 201.

[2015-08-28 03:30] asjr4584 commented on #61
@alvincrisuycorel please assist @Jinsuke

[2015-08-28 03:30] asjr4584 commented on #46
@lyn2711 for testing in 201.

[2015-08-28 03:32] asjr4584 commented on #25
Deadline: September 2, 2015.

[2015-08-28 03:33] asjr4584 commented on #15
Deadline: September 2, 2015.

[2015-08-28 06:36] Jinsuke commented on #63
Pushed in 201. Please test.
http://16.178.42.201/
-

[2015-08-28 06:37] Jinsuke commented on #46
Pushed in 201. Please test.
http://16.178.42.201/
-

[2015-08-28 07:03] lyn2711 commented on #46
Test done in 201.

Suggestion:

Please specify leave date in Notifications

[2015-08-28 07:12] Jinsuke commented on #61
As Discussed with @alvincrisuycorel ,
- Time duration text color is now changed to Red.
- It will be difficult to implement the red button when agent is on overbreak.

- Changes will be seen on the next export of the Tracker software.

[2015-08-28 07:14] lyn2711 commented on #63
Passed, test done in 201

[2015-08-28 07:14] #63 closed

[2015-08-28 07:18] Jinsuke commented on #25
Update
-
Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hp.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Robby: mark@gmail.com

- **Agent Account:**
  - Dev Team:
    - christopher.perez@hp.com
  - Team Robby:
    - pogs@gmail.com

[2015-08-28 07:20] lyn2711 commented on #25
Pass, test done in 181

[2015-08-28 07:24] Jinsuke commented on #25
Transferred to 203 for testing.

[2015-08-28 07:28] lyn2711 commented on #25
Pass, test done in 203

[2015-08-28 07:39] chrisperez commented on #19
Note: Additional colums for short breaks and longbreaks will be implimented next week.

[2015-09-03 00:02] Jinsuke commented on #25
For testing on Prod.

[2015-09-03 00:52] Jinsuke commented on #15
Update
-
- Moved Calendar to Center
![image](https://cloud.githubusercontent.com/assets/10201846/9648252/0466110a-5219-11e5-8a53-215202ed9033.png)

[2015-09-03 07:00] Jinsuke commented on #61
Update
-
- Fix DONE by @chrisperez
![image](https://cloud.githubusercontent.com/assets/10201846/9652290/8cf7e916-524c-11e5-8bb4-2b709a778593.png)

[2015-09-03 07:32] #35 closed

[2015-09-03 07:34] gigiadamantopoulos commented on #31
Passed...

[2015-09-03 07:34] #31 closed

[2015-09-03 07:51] gigiadamantopoulos commented on #61
Passed on 203

[2015-09-03 23:25] gigiadamantopoulos commented on #4
Passed in 201

[2015-09-03 23:25] #4 closed

[2015-09-03 23:34] gigiadamantopoulos commented on #5
Passed in 201

[2015-09-03 23:34] #5 closed

[2015-09-03 23:35] gigiadamantopoulos commented on #6
Passed in 201

[2015-09-03 23:35] #6 closed

[2015-09-03 23:36] gigiadamantopoulos commented on #7
Passed in 201

[2015-09-03 23:36] #7 closed

[2015-09-03 23:36] gigiadamantopoulos commented on #8
Passed in 201

[2015-09-03 23:36] #8 closed

[2015-09-03 23:37] gigiadamantopoulos commented on #9
passed in 201

[2015-09-03 23:37] #9 closed

[2015-09-03 23:37] gigiadamantopoulos commented on #10
passed in 201

[2015-09-03 23:37] #10 closed

[2015-09-03 23:40] gigiadamantopoulos commented on #11
Passed in 201

[2015-09-03 23:40] #11 closed

[2015-09-03 23:40] gigiadamantopoulos commented on #12
passed in 201

[2015-09-03 23:40] #12 closed

[2015-09-03 23:41] gigiadamantopoulos commented on #13
Passed in 201

[2015-09-03 23:41] #13 closed

[2015-09-03 23:42] gigiadamantopoulos commented on #14
Passed in 201

[2015-09-03 23:42] #14 closed

[2015-09-03 23:49] gigiadamantopoulos commented on #15
passed in 201

[2015-09-03 23:49] #15 closed

[2015-09-03 23:49] gigiadamantopoulos commented on #16
Passed in 201

[2015-09-03 23:49] #16 closed

[2015-09-03 23:50] gigiadamantopoulos commented on #17
passed in 201

[2015-09-03 23:50] #17 closed

[2015-09-03 23:58] gigiadamantopoulos commented on #18
Error in 201:

[2015-09-03 23:59] gigiadamantopoulos commented on #21
passed in 201

[2015-09-03 23:59] #21 closed

[2015-09-04 00:03] gigiadamantopoulos commented on #22
passed in 201

[2015-09-04 00:03] #22 closed

[2015-09-04 00:09] chrisperez commented on #62
For testing in 201

[2015-09-04 00:10] gigiadamantopoulos commented on #23
passed in 201

[2015-09-04 00:10] #23 closed

[2015-09-04 00:21] gigiadamantopoulos commented on #24
passed in 201

[2015-09-04 00:21] #24 closed

[2015-09-04 00:33] gigiadamantopoulos commented on #26
passed in 201

[2015-09-04 00:33] #26 closed

[2015-09-04 00:45] gigiadamantopoulos commented on #25
passed in 201

[2015-09-04 00:45] gigiadamantopoulos commented on #29
passed in 201

[2015-09-04 00:46] gigiadamantopoulos commented on #28
passed in 201

[2015-09-04 00:46] #28 closed

[2015-09-04 00:46] gigiadamantopoulos commented on #27
passed in 201

[2015-09-04 00:46] #27 closed

[2015-09-04 00:46] gigiadamantopoulos commented on #30
passed in 201

[2015-09-04 00:46] gigiadamantopoulos commented on #32
passed in 201

[2015-09-04 00:46] gigiadamantopoulos commented on #33
passed in 201

[2015-09-04 00:47] gigiadamantopoulos commented on #34
passed in 201

[2015-09-04 01:06] gigiadamantopoulos commented on #36
Passed in 201

[2015-09-04 01:07] gigiadamantopoulos commented on #39
passed in 201

[2015-09-04 01:08] #38 closed

[2015-09-04 01:08] gigiadamantopoulos commented on #40
passed in 201

[2015-09-04 01:08] #40 closed

[2015-09-04 01:08] gigiadamantopoulos commented on #58
passed in 201

[2015-09-04 01:08] #58 closed

[2015-09-04 01:09] gigiadamantopoulos commented on #53
passed in 201

[2015-09-04 01:09] #53 closed

[2015-09-04 01:09] gigiadamantopoulos commented on #50
passed in 201

[2015-09-04 01:09] #50 closed

[2015-09-04 01:09] gigiadamantopoulos commented on #49
passed in 201

[2015-09-04 01:09] gigiadamantopoulos commented on #45
passed in 201

[2015-09-04 01:09] gigiadamantopoulos commented on #43
passed in 201

[2015-09-04 01:10] gigiadamantopoulos commented on #61
passed in 201

[2015-09-04 01:10] #61 closed

[2015-09-04 01:32] chrisperez commented on #18
Please pull and test in 203

[2015-09-04 02:27] Jinsuke commented on #65
Update
-
- Can now filter anything from the table (except for flexitime checkboxes)
- VL and P status have been changed to 'Vacation Leave' and 'Present'

![image](https://cloud.githubusercontent.com/assets/10201846/9675375/1eb475f2-52ef-11e5-892a-1e37fc345421.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- *

[2015-09-04 03:04] asjr4584 commented on #65
Hi Jin,

Please use the full description for all statuses.

[2015-09-04 04:52] gigiadamantopoulos commented on #34
Additional feature as suggested:

1. Add a Search function in the Notification Page
2. Add a pagination.

[2015-09-04 05:32] Jinsuke commented on #46
Update
-
- **ADDED** Agent notification after filing a VL. This helps Agents know what have they filed and to allow them to check the Leave Status.

  - Screenshots

![image](https://cloud.githubusercontent.com/assets/10201846/9677158/01751c52-5309-11e5-9084-fdef938c18b8.png)

  - **Pending**
![image](https://cloud.githubusercontent.com/assets/10201846/9677166/14811fbc-5309-11e5-9889-c46bcb1a81ad.

[2015-09-04 05:43] Jinsuke commented on #34
Updated
-
- **Added Search Filter**
![image](https://cloud.githubusercontent.com/assets/10201846/9677303/f1b291f8-530a-11e5-931e-1531a9c8c3d8.png)

[2015-09-04 07:57] alvincrisuycorel commented on #1
Hi Gigi

Kindly test if the overlapping shift has still an issue.
Example 9PM - 6AM displaying wrong information in dashboard for some agent

[2015-09-04 08:03] alvincrisuycorel commented on #19
Hi Gigi

Kindly test this also :smile:

[2015-09-06 23:41] alvincrisuycorel commented on #59
Test in 201 po :smile:

[2015-09-06 23:44] alvincrisuycorel commented on #47
Related to #60

[2015-09-06 23:45] alvincrisuycorel commented on #60
Related to #47

[2015-09-07 00:01] alvincrisuycorel commented on #64
This will also affect instance page and reports page :smile:

@Jinsuke

[2015-09-07 00:01] asjr4584 commented on #34
Deadline: September 11, 2015

[2015-09-07 00:14] Jinsuke opened #66 "Functionality - Dashboard Admin Filter"
Task
-
- Do not display the Admins and TLs on the Dashboard
- Do not track Admin's attendance (including supervisor, manager, TL, workforce, QA)

[2015-09-07 06:52] Jinsuke commented on #66
Update
-
- Dashboard
![image](https://cloud.githubusercontent.com/assets/10201846/9710708/e22ed8c4-556f-11e5-9fe8-d664da6781ff.png)

- Member's Page
![image](https://cloud.githubusercontent.com/assets/10201846/9710713/f11789ee-556f-11e5-87ba-6667289116a8.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Super

[2015-09-07 06:54] Jinsuke commented on #34
Update
-
- Added Notification Search by Month and Filter
![image](https://cloud.githubusercontent.com/assets/10201846/9710768/47868fbe-5570-11e5-9b92-717a115fdbd4.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@h

[2015-09-07 06:54] lyn2711 commented on #1
Please put color legends in Dashboard at the top right side:

![image](https://cloud.githubusercontent.com/assets/7370325/9710772/508994a8-5570-11e5-8f17-f7cdc7b97617.png)

[2015-09-07 07:17] lyn2711 commented on #18
Can we show in the report details the following:

Expected headcount
Actual headcount
% of Absences

[2015-09-07 07:30] lyn2711 commented on #19
Pass, test done in 201

[2015-09-07 07:31] lyn2711 commented on #46
Passed, test done in 201

[2015-09-07 07:35] lyn2711 commented on #34
Passed, test done in 181

[2015-09-07 07:37] lyn2711 commented on #66
Passed, test done in 181

[2015-09-07 07:38] lyn2711 commented on #62
Passed, test done in 201

[2015-09-07 07:38] #62 closed

[2015-09-07 07:43] lyn2711 commented on #34
Pass, test done in 203

[2015-09-07 07:44] lyn2711 commented on #66
Pass, test done in 203

[2015-09-07 07:45] lyn2711 commented on #59
Pass, test done in 203

[2015-09-07 07:47] lyn2711 commented on #65
Passed, test done in 201

[2015-09-07 07:47] #65 closed

[2015-09-07 07:49] lyn2711 commented on #34
Passed, test done in 203

[2015-09-07 07:49] #34 closed

[2015-09-07 07:49] lyn2711 commented on #59
Pass, test done in 201

[2015-09-07 07:49] #59 closed

[2015-09-07 07:51] lyn2711 commented on #66
Pass, test done in 201

[2015-09-07 07:51] #66 closed

[2015-09-08 01:56] lyn2711 opened #67 "Message under Notifications was cut"
![image](https://cloud.githubusercontent.com/assets/7370325/9724796/da1ca0e4-560f-11e5-8aa3-166aacb29dd7.png)

[2015-09-08 03:33] Jinsuke commented on #1
Update
-
- ADDED Legends on Dashboard Main Page
- Tool tips will appear when highlighting texts.

![image](https://cloud.githubusercontent.com/assets/10201846/9725896/6ada2950-561d-11e5-9d92-652e7f774bbb.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Accou

[2015-09-08 04:41] Jinsuke commented on #67
Update
-
- This is now fixed on my local server. For testing on Local.

![image](https://cloud.githubusercontent.com/assets/10201846/9726517/53c7944c-5626-11e5-9a6c-557888ef3417.png)

http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Mark: marktri

[2015-09-08 04:50] lyn2711 commented on #67
Passed, test done in 181

[2015-09-08 04:52] lyn2711 commented on #1
Passed, test done in 181

[2015-09-08 05:17] Jinsuke opened #68 "Software - Installer with Shortcut creation"
Task
-
Export the software as a full installer with create shortcut.

[2015-09-08 06:34] Jinsuke commented on #68
Update
-
- Created program installer with shortcut.

![image](https://cloud.githubusercontent.com/assets/10201846/9727921/b8d9c908-5636-11e5-8a40-4acdee07ed6f.png)

- For testing by ma'am @lyn2711 .

[2015-09-08 06:39] alvincrisuycorel commented on #67
Pull in 203

[2015-09-08 06:39] alvincrisuycorel commented on #1
Pull in 203

[2015-09-08 06:44] lyn2711 commented on #67
Passed, test done in 203

[2015-09-08 07:41] lyn2711 commented on #68
Passed, test done in 203

[2015-09-08 23:22] Jinsuke commented on #67
For testing on 201.
http://16.178.42.201/
-

[2015-09-08 23:22] Jinsuke commented on #1
For testing on 201.
http://16.178.42.201/
-

[2015-09-08 23:22] Jinsuke commented on #68
For testing on 201.
http://16.178.42.201/
-

[2015-09-08 23:46] Jinsuke commented on #68
Hi @gigiadamantopoulos ,
For testing :grimacing:

[2015-09-09 01:28] gigiadamantopoulos commented on #68
Passed in 201

[2015-09-09 01:33] gigiadamantopoulos commented on #67
passed in 201

[2015-09-09 01:40] gigiadamantopoulos commented on #1
Passed in 201... although...

minor suggestion:
Can we remove the border separating the color and the text?
from
![image](https://cloud.githubusercontent.com/assets/10202106/9751379/85233a36-56d6-11e5-83e2-a373a39eef9d.png)
to this:
![image](https://cloud.githubusercontent.com/assets/10202106/9751397/b78c68ee-56d6-11e5-8d9c-41366ddde1c2.png)

And can we combine the Late/Overbreak/Absent, and also

[2015-09-09 01:59] Jinsuke commented on #1
Update
-
- Changed Legend texts.

![image](https://cloud.githubusercontent.com/assets/10201846/9751610/6ee8ecfe-56d9-11e5-858c-aa9666490d95.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Mark: ma

[2015-09-09 03:02] gigiadamantopoulos commented on #1
Hi kuya @Jinsuke ...

Please correct the typo:
![image](https://cloud.githubusercontent.com/assets/10202106/9752400/345713dc-56e2-11e5-9f59-67b0379772ce.png)

Training/Off-Day

Thanks!

[2015-09-09 23:52] Jinsuke commented on #1
Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Mark: marktristan.cruz@hpe.com

- **Agent Account:**
  - Dev Team:
    - christopher.perez@hpe.com
  - Team Mark:
    - reynan.fortes@hpe.com

[2015-09-10 00:59] Jinsuke commented on #64
Update
-
### Absent Status can now be seen on Dashboard if Agents did not log in during their whole shift period.

![image](https://cloud.githubusercontent.com/assets/10201846/9777665/d2c70df8-5799-11e5-9d56-fd91514834ab.png)

### Absent Status will be filed in the Agent's Calendar.

![image](https://cloud.githubusercontent.com/assets/10201846/9777689/ffa54b96-5799-11e5-8d5d-f9a51452d248.png)

###

[2015-09-10 02:25] gigiadamantopoulos commented on #1
Passed in 181... please merge in 203 :D

[2015-09-10 02:26] gigiadamantopoulos commented on #64
Passed in 181... please merge in 203

[2015-09-10 02:43] Jinsuke commented on #1
203 Admin Account: jin@gmail.com
agent account: chris@gmail.com

[2015-09-10 02:43] Jinsuke commented on #64
203 Admin Account: jin@gmail.com
agent account: chris@gmail.com

[2015-09-10 06:28] asjr4584 commented on #18
Deadline: 201 by September 18, 2015

[2015-09-10 06:33] #68 closed

[2015-09-10 06:35] #67 closed

[2015-09-10 06:42] asjr4584 commented on #48
Deadline: 201 by September 30, 2015

[2015-09-10 06:45] asjr4584 commented on #64
Deadline: 201 by September 10, 2015

[2015-09-10 06:55] asjr4584 opened #69 "Functionality - Apply Pagination to Dashboard and Refine Search Box"
This is to improve the loading time of Dashboard.

[2015-09-10 07:00] asjr4584 commented on #60
Deadline: 201 by October 15, 2015.

[2015-09-11 02:02] asjr4584 commented on #33
OVERDUE

[2015-09-11 02:03] gigiadamantopoulos commented on #33
Hi @alvincrisuycorel ,

As experienced by Sir @asjr4584 , there is no notification sent to the TL when we occurred an instance , also when the TL clicked on the Reset Tardiness Count, the Supervisor did not receive any notification as well and the checkbox is not clickable...

Can you please double check?

[2015-09-11 02:06] alvincrisuycorel commented on #33
Hi Gigi I will investigate.

[2015-09-11 02:09] gigiadamantopoulos commented on #32
Hi @alvincrisuycorel ,

Additional issue on this one, when the TL checked the reset tardiness account, the Supervisor did not receive any notification as well and the checkbox is not clickable...

Can you please double check?

[2015-09-11 02:11] asjr4584 commented on #32
OVERDUE

[2015-09-11 02:36] alvincrisuycorel commented on #32
Hi Gigi could you check this issue if this also exist in 203?

[2015-09-11 02:37] alvincrisuycorel commented on #33
https://github.com/HP-Corel/AttendanceTracker/issues

[2015-09-11 03:09] asjr4584 commented on #33
Hi Team,

Can you we prioritize this, please?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/33#issuecomment-139432989>.

[2015-09-11 03:10] asjr4584 commented on #32
Hi Team,

Can you we prioritize this, please?

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/32#issuecomment-139432952>.

[2015-09-11 03:29] alvincrisuycorel commented on #33
Hi sir ok po.

Deadline September 14, 2015

[2015-09-11 03:29] alvincrisuycorel commented on #32
Hi sir ok po.

Deadline September 14, 2015

[2015-09-11 07:08] asjr4584 commented on #32
I see, Thanks @gigiadamantopoulos ,

@Alvin, can you add this feature by September 14, too? We must find a way to auto-refresh the page so that the instances will be updated.

[2015-09-11 07:11] alvincrisuycorel commented on #32
Noted sir

[2015-09-11 07:38] gigiadamantopoulos commented on #1
Passed in 203... ready to merge in 201

[2015-09-13 23:16] Jinsuke opened #70 "Software Updates Deployment"
**CURRENT VERSION: Attendance Tracker 1.0**
-

- **Our program should have continuous updates on the fixes/changes**
- Task is to make the program an updater instead of becoming another installer. If a different version is available, the newer version should overwrite the old version.

[2015-09-13 23:18] Jinsuke opened #71 "Software - Change aux before pop up warning"
Task
-
- Task is to let the Aux change before the Warning pop up appears.
- e.g. If I click on Aux 9, time should now run before the Pop up ("Please change Aux 9 to AVAYA") appears.

[2015-09-13 23:19] Jinsuke opened #72 "Functionality - Groups Calendar"
Task
-
- Groups Calendar should also have their own month selection that will load the page every change of months.
- Events should also follow by the month selected.

[2015-09-13 23:20] Jinsuke opened #73 "Functionality - Organization Holiday should reflect on Dashboard"
Task
-
- Organization Holiday should reflect on Dashboard

[2015-09-13 23:29] Jinsuke commented on #70
Update
-
- Done on my local computer. Will provide the next update every 15 days as discussed.

[2015-09-13 23:29] Jinsuke commented on #71
Update
-
- Done on my local computer. Will provide the next update every 15 days as discussed.

[2015-09-13 23:39] asjr4584 commented on #70
Hi Jin,

Thanks for this. We should release an update twice a month, every 15 days.

Let’s provide an updated installer tomorrow, September 15.

@DevTeam,

Please make sure that the deadlines is fixed and tested prior to the distribution of the updated installer tomorrow.

Regards,
Alfredo “Allan” A. Salvador, Jr.
Team Lead, Customer Solutions Rep V
HP ES Business Process Services

M + 63922890135

[2015-09-13 23:39] gigiadamantopoulos commented on #64
Absence appears in the Dashboard...
![image](https://cloud.githubusercontent.com/assets/10202106/9839666/bccd0170-5ab3-11e5-9a1c-264424ce10d0.png)

but not on the calendar
![image](https://cloud.githubusercontent.com/assets/10202106/9839664/b3bf93d6-5ab3-11e5-94f0-3eefa15a201c.png)

[2015-09-13 23:42] asjr4584 commented on #71
Hi @Jinsuke ,

Can we include this fix in tomorrow’s update?

Please advise.

[2015-09-13 23:43] gigiadamantopoulos commented on #1
Still not merged in 201....

![image](https://cloud.githubusercontent.com/assets/10202106/9839702/55948482-5ab4-11e5-9192-ad289125dea9.png)

[2015-09-13 23:50] asjr4584 commented on #70
@DevTeam,

Updated installer must be fully tested before distribution. This Github issue must be regularly updated prior to the distribution.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/70#issuecomment-139928233>.

[2015-09-13 23:51] Jinsuke commented on #71
Hi Sir @asjr4584 ,

This will be included in the next version. :)

[2015-09-13 23:52] asjr4584 commented on #71
Hi Jin,

Can we include this fix in tomorrow’s update?

Please advise.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/71#issuecomment-139928244>.

[2015-09-14 01:40] gigiadamantopoulos opened #74 "Error Handling: Change Password during shift"
Task
-
We should add an error handling here once the password have been changed so that the application will  be automatically shut down and then the user will be required to sign in again.

[2015-09-14 02:08] asjr4584 commented on #74
By the way,

I would like to see a pop-up window telling… “Your have been automatically closed due to the changes in your password. Please sign in with your new password.”

Then the app will be closed; not log out.

[2015-09-14 02:25] asjr4584 commented on #19
@Jinsuke @chrisperez re-opening this issue as the Reports page is inaccessible right now:

![image](https://cloud.githubusercontent.com/assets/4827031/9840865/e1a1c17c-5aca-11e5-9484-30f9e24b7849.png)

Please fix this ASAP. This is OVERDUE.

[2015-09-14 04:50] Jinsuke commented on #64
Update
-
- This appears to be working. It's because, dashboard needs to be refreshed in order to make it appear on the Agent's Calendar.

[2015-09-14 07:30] alvincrisuycorel commented on #32
Added
- Notification for Supervisor when TL check the checkbox in instance page
- Notification for TL when Supervisor check the checkbox in instance page
- Notification for TL when Supervisor click the button of reset tardy count
- Notification for TL when Supervisor click the button of reset instance
- Notification for TL when an Agent occur an instance when a TL or a Supervisor access the instan

[2015-09-14 07:30] alvincrisuycorel commented on #33
Added
- Notification for Supervisor when TL check the checkbox in instance page
- Notification for TL when Supervisor check the checkbox in instance page
- Notification for TL when Supervisor click the button of reset tardy count
- Notification for TL when Supervisor click the button of reset instance
- Notification for TL when an Agent occur an instance when a TL or a Supervisor access the instan

[2015-09-15 00:08] gigiadamantopoulos commented on #1
Based on some investigation, there is an existing bug regarding the rest day and not logged in status:

Tested using random sample:
![image](https://cloud.githubusercontent.com/assets/10202106/9864825/95a9df64-5b80-11e5-8627-f415ecc29fbd.png)

Findings:
1. For shifts 11pm-8am, no bugs found
2. For shifts 9pm-6am, 2 different findings:
- No rest day indicated on the dashboard even if it was indicat

[2015-09-15 00:54] asjr4584 commented on #1
@chrisperez please work on this ASAP.

[2015-09-15 00:57] asjr4584 commented on #1
@chrisperez<https://github.com/chrisperez> please work on this ASAP.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/1#issuecomment-140237666>.

[2015-09-15 02:25] chrisperez commented on #1
@alvincrisuycorel will work on this according to him.

[2015-09-15 05:36] Jinsuke commented on #72
Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Supervisor Account:** alvincris.uy@hpe.com

- **TL Account:**
  - Dev Team: alfredoa.salvadorjr@hp.com
  - Team Mark: marktristan.cruz@hpe.com

- **Agent Account:**
  - Dev Team:
    - christopher.perez@hpe.com
  - Team Mark:
    - reynan.fortes@hpe.com

[2015-09-15 07:24] gigiadamantopoulos commented on #33
Hi @alvincrisuycorel .... there are still some issues as discussed.

[2015-09-15 07:34] gigiadamantopoulos commented on #32
Hi @alvincrisuycorel , as discussed, there are still issues

[2015-09-15 07:43] gigiadamantopoulos commented on #64
Passed

[2015-09-15 07:43] alvincrisuycorel commented on #32
Hi Gigi could you test it again?

@gigiadamantopoulos

[2015-09-15 07:44] alvincrisuycorel commented on #33
Hi Gigi could you test it again?

@gigiadamantopoulos

[2015-09-15 07:44] gigiadamantopoulos commented on #70
Passed!

[2015-09-15 07:45] gigiadamantopoulos commented on #71
Passed!

[2015-09-15 07:47] gigiadamantopoulos commented on #72
Passed!

[2015-09-15 07:53] gigiadamantopoulos commented on #33
Passed! Please merge to 201

[2015-09-15 07:55] gigiadamantopoulos commented on #32
Hi Alvin, notification works already... although some minor errors:

When notification alerts:
![image](https://cloud.githubusercontent.com/assets/10202106/9870844/0deb4328-5bc2-11e5-90b6-ddaf1e557d2d.png)

When notifications are read:
![image](https://cloud.githubusercontent.com/assets/10202106/9870853/194736e6-5bc2-11e5-8071-d9fa351cd3f4.png)

Kindly arrange the messages according to the receive

[2015-09-15 23:36] alvincrisuycorel opened #75 "Software: Error Reporting when the app crashes"
Error reporting regarding WPF.

Here are some reference of error reporting that might be useful for this issue.
http://www.codeproject.com/Articles/90866/Unhandled-Exception-Handler-For-WPF-Applications
https://crashreporterdotnet.codeplex.com/
http://www.codeproject.com/Articles/308634/Integrating-Crash-Reporting-into-Your-Application

[2015-09-15 23:37] alvincrisuycorel commented on #33
Hi kuya Jerome :smile:

Kindly merge po in 201 :smile:

[2015-09-15 23:42] Jinsuke commented on #64
Issue
-
- VL is overwritten by Absent status if the Absent status code is true. This should be fixed that if VL is present, there will be no Absent Status tagging.

[2015-09-16 00:19] asjr4584 commented on #64
Hi Jin,

Chris was on VL last Monday, September 14 but after the fixes yesterday, it has changed into “Absent”.

However, if I view his calendar or group calendar, he was VL that day.

http://16.178.42.201/organization/dashboard/2015-09-14

1

ADAMANTOPOULOS, Gianisse<http://16.178.42.201/users/profile/35002200>

Dev - Allan<http://16.178.42.201/groups/view/2>

07:00 AM - 04:00 PM

06:24:09 AM

04

[2015-09-16 02:54] alvincrisuycorel commented on #32
Hi Gigi @gigiadamantopoulos

Kindly check this again po :smile:

[2015-09-16 03:00] asjr4584 commented on #32
@lyn2711 i'm assigning this to you now so you can test since Gigi is on VL today.

[2015-09-16 03:02] asjr4584 commented on #32
@lyn2711<https://github.com/lyn2711> i'm assigning this to you now so you can test since Gigi is on VL today.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/32#issuecomment-140610251>.

[2015-09-16 05:18] lyn2711 commented on #32
Test done in 201.  Notifications are listed from oldest date to newest date as shown in screenshot:

![image](https://cloud.githubusercontent.com/assets/7370325/9896965/5df71f82-5c75-11e5-8483-eb4f06e30567.png)

[2015-09-16 06:31] Jinsuke commented on #64
Updated
-
For testing on Local. Let me know if you need to move the time to see the Absent status appear.

[2015-09-16 06:49] lyn2711 commented on #64
Passed, test done in 203

[2015-09-16 06:51] alvincrisuycorel commented on #64
Done. merge in 203

[2015-09-16 06:57] lyn2711 commented on #64
Passed, test done in 203

[2015-09-16 07:22] Jinsuke commented on #33
Thank you kuya @alvincrisuycorel  :grimacing:

For testing on 201.

[2015-09-16 07:22] Jinsuke commented on #64
Pushed to 201
-
For testing. Take note that Absent status will reflect on the next day if an agent wasn't able to log in for the whole period.

[2015-09-16 07:45] Jinsuke commented on #30
Issue
-
- On Profile page, Event tab doesn't view right month. (e.g. If I select October as a Calendar view on profile page, Events should only display filed events on October only.)

[2015-09-16 11:14] asjr4584 commented on #64
Hi Team,

Please deploy and test this ASAP to the 201.

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/64#issuecomment-140648344>.

[2015-09-16 23:50] Jinsuke commented on #74
Update
-
- **Added** "Password has been changed. Please Log In Again."

![image](https://cloud.githubusercontent.com/assets/10201846/9921439/47fd7262-5d10-11e5-9334-f5ff0c84a697.png)

**Instructions**
- Log in on the tracker using an Agent account
- Change password to see the message pop up.

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Ac

[2015-09-17 02:14] gigiadamantopoulos commented on #74
Passed as tested in kuya @Jinsuke 's pc...

[2015-09-17 02:16] Jinsuke commented on #74
For Attendance Tracker 1.2 Update
-

[2015-09-17 05:48] gigiadamantopoulos commented on #33
This is passed in 201

[2015-09-17 06:47] Jinsuke commented on #32
Issue
-
- PRESENT STATUS is tagged on Absenteeism Table on Instances Tab. Only Absent, SL, NCNS, EL, and JA should be tagged inside Absenteeism Table.

![image](https://cloud.githubusercontent.com/assets/10201846/9926777/f1402dbc-5d4a-11e5-8c4b-a5ab2aa6e9ec.png)

Done in my local pc. For Testing on local.
http://16.178.42.181/
-
**All Passwords are: 123**
- **Admin Account:** jin@gmail.com

- **Su

[2015-09-17 06:52] gigiadamantopoulos commented on #32
Passed... merged to 203... @alvincrisuycorel

[2015-09-17 07:13] Jinsuke commented on #32
Issue
-
- Undertime Error. Even if Agent log in early and logs out exactly at four (by the auto logout feature). It will still list it as an Undertime record.

![image](https://cloud.githubusercontent.com/assets/10201846/9927160/b1581fee-5d4e-11e5-8a34-b00a026650d7.png)

[2015-09-17 07:41] asjr4584 commented on #32
Hi Jin,

I am still seeing “Present” status in the Absenteeism section.

This screen shot is from Gigi’s user profile:

Please advise.

[cid:image001.png@01D0F15E.FEB1CF30]

—
Reply to this email directly or view it on GitHub<https://github.com/HP-Corel/AttendanceTracker/issues/32#issuecomment-140984669>.

[2015-09-17 23:38] Jinsuke commented on #32
Hi Sir,

The Present Statuses were already created by the system before we were able to push the new code. As discussed, database will be reset later. :)

[2015-09-18 00:50] Jinsuke commented on #32
Update
-
- **ADDED** *fix for UNDERTIME Status*

![image](https://cloud.githubusercontent.com/assets/10201846/9949660/38d48eb0-5de2-11e5-987c-8a7ed94c97c3.png)

[2015-09-18 02:16] alvincrisuycorel commented on #1
- Absent should reflect only from the previous dates. (DONE)
- Not logged in should only reflect on the current date. (DONE)
- Not logged out will be remove because we already have an auto logged out. (DONE)
- Previous attendance shift will only reflect on previous days. (DONE)
- Current attendance shift will only display when you are showing the current date and future date in the dashboard. (DON

[2015-09-18 02:57] Jinsuke commented on #30
Fix
-
- **FIXED** *Event Month issue. Event will now display Events on specific month only. Different months will display different Events.*

![image](https://cloud.githubusercontent.com/assets/10201846/9951021/0271ed10-5df4-11e5-8a03-fb93c6bd2f7d.png)

![image](https://cloud.githubusercontent.com/assets/10201846/9951026/19b80496-5df4-11e5-99f3-d2003e46041b.png)

[2015-09-18 06:22] chrisperez commented on #18
Adjusted the max_execution_time to -1 in php.ini

This is now loading in 201 though it is still taking too long to load when many people are accessing it.
I tried accessing the reports page around 5 pm yesterday and it loaded fast.

[2015-09-18 06:25] #71 closed

[2015-09-18 06:32] asjr4584 commented on #18
@chrisperez are we applying pagination to the reports page to make it load much faster? Please advise.

[2015-09-18 06:34] asjr4584 commented on #18
@chrisperez please include the pagination to the reports page before assigning this back to @gigiadamantopoulos for testing.

[2015-09-18 06:45] asjr4584 commented on #32
@gigiadamantopoulos please prioritize this overdue issue.

[2015-09-18 06:46] asjr4584 commented on #30
@gigiadamantopoulos please prioritize this overdue issue.

[2015-09-18 06:47] asjr4584 commented on #64
@gigiadamantopoulos please prioritize this overdue issue.

[2015-09-18 06:48] asjr4584 commented on #74
@Jinsuke is the 1.2 update scheduled on September 30? Please advise.

[2015-09-18 06:49] #70 closed

[2015-09-21 01:31] gigiadamantopoulos commented on #30
Passed in 181... please merge to 203 :D

[2015-09-21 01:38] gigiadamantopoulos commented on #32
As discussed with kuya @Jinsuke , this is not done.

[2015-09-21 03:19] Jinsuke commented on #32
Update
-
Will transfer issue to @alvincrisuycorel as this is connected to the Dashboard revision.

[2015-09-21 06:28] alvincrisuycorel commented on #30
Hi Gigi please test po :smile:

[2015-09-21 06:35] gigiadamantopoulos commented on #30
Passed in 203... ready for merging in 201 :D

[2015-09-21 07:36] chrisperez commented on #19
For testing in 201.

[2015-09-21 07:36] gigiadamantopoulos commented on #30
Passed in 201.

[2015-09-21 07:36] chrisperez commented on #18
For testing in 201.

[2015-09-21 07:39] gigiadamantopoulos commented on #19
Reports are now accessible in 201.

[2015-09-21 07:40] gigiadamantopoulos commented on #18
Pagination is showing. Passed in 201

[2015-09-21 07:44] gigiadamantopoulos commented on #64
Hi kuya @Jinsuke ,

Why is there a VL mark on the Off-day in the calendar?

![image](https://cloud.githubusercontent.com/assets/10202106/9987185/9aa20072-6077-11e5-9968-a4ae3a49be04.png)

As well as they are tagged as absent eventhough they are in VL...

thanks

[2015-09-22 02:32] asjr4584 commented on #32
@Jinsuke can we fix this today?

[2015-09-22 02:33] asjr4584 commented on #30
@lyn2711 can you test and then close this if needed, please?

[2015-09-22 02:35] asjr4584 commented on #18
@lyn2711 can you test this today and close if needed, please?

[2015-09-22 02:36] asjr4584 commented on #1
@alvincrisuycorel can you remind me the due date of this, please?

[2015-09-22 02:38] asjr4584 commented on #64
@Jinsuke please fix this today.

[2015-09-22 03:23] alvincrisuycorel commented on #1
Hi sir,

Today po.

Currently merging with a copy of database of 201 on my local server (203).

[2015-09-22 03:41] chrisperez commented on #48
Please pull and test to dev, QA and Prod Servers.

[2015-09-22 03:42] chrisperez commented on #18
Please pull latest changes before testing. (Dev, QA and Prod Servers)

[2015-09-22 03:42] chrisperez commented on #19
Please pull latest changes before testing. (Dev, QA and Prod Servers)

[2015-09-22 05:03] asjr4584 commented on #19
@lyn2711 for testing, please.

[2015-09-22 05:03] asjr4584 commented on #48
@gigiadamantopoulos for testing please.

[2015-09-22 07:41] lyn2711 commented on #48
Passed, test done in 203

[2015-09-24 04:53] chrisperez commented on #18
@lyn2711 your comments please.

[2015-09-24 23:59] Jinsuke commented on #30
:warning: ISSUE!
-
- Double records on Calendar Event Tab.

![image](https://cloud.githubusercontent.com/assets/10201846/10089852/2dfe7392-635b-11e5-8989-a0389ea4661a.png)

[2015-09-25 02:43] Jinsuke commented on #64
Waiting for the revised Dashboard Page. Will continue once it has been finalized.

[2015-09-25 02:45] gigiadamantopoulos commented on #32
As reported by Sir @asjr4584

Hi Gigi,
I did change Chris’ Unauthorized Absences yesterday to SL but it still reflected in his instance as Unathorized Absence. Please see below:

![image](https://cloud.githubusercontent.com/assets/10202106/10091836/86702bda-6372-11e5-8f3d-7de153201aa1.png)

http://16.178.42.201/users/instances/35002199

[2015-09-25 02:49] gigiadamantopoulos commented on #33
Hi Kuya @Jinsuke , as reported by sir @asjr4584 :

Hi Gigi,
I noticed that you would not see the new notifications unless you open the instance tab of a user:
Is there a workaround on this to make it automatic?

![image](https://cloud.githubusercontent.com/assets/10202106/10091870/04ee81c8-6373-11e5-983a-27adcb0ff126.png)

http://16.178.42.201/profile/notifications

[2015-09-25 03:21] Jinsuke commented on #32
*Update: As per Alvin, this is already working on the revised Dashboard page*

[2015-09-25 03:30] gigiadamantopoulos opened #76 "Enhancement: New Shift Event"
As per Sir @asjr4584 's request:

Hi Alvin,
When can we add the New Shift scheduling feature to the system?

![image](https://cloud.githubusercontent.com/assets/10202106/10092432/ce27ff4c-6378-11e5-82e8-523c03d0b378.png)

http://16.178.42.201/users/profile/35002168

[2015-09-25 04:44] asjr4584 commented on #76
@alvincrisuycorel I would like this feature to be added in our next update release next week. Please let me know if this is doable.

[2015-09-25 06:35] asjr4584 commented on #76
Deploy in 201: Deadline: September 30, 2015

[2015-09-25 06:36] asjr4584 commented on #73
Deploy in 201 Deadline: September 29, 2015

[2015-09-25 06:37] asjr4584 commented on #72
@lyn2711 please test.

[2015-09-25 06:39] asjr4584 commented on #69
Deploy in 201 Deadline: October 15, 2015.

[2015-09-25 06:39] asjr4584 commented on #48
@gigiadamantopoulos please test in 201.

[2015-09-25 06:41] asjr4584 commented on #64
@alvincrisuycorel waiting daw oh.

[2015-09-28 02:02] alvincrisuycorel commented on #73
Hi Gigi @gigiadamantopoulos

Please test in 203 :smile:

[2015-09-28 02:04] alvincrisuycorel commented on #64
Hi Gigi @gigiadamantopoulos

Ready for testing in 203

Please inform me if you would like to see the Absent status

[2015-09-28 02:04] alvincrisuycorel commented on #1
Hi Gigi @gigiadamantopoulos

Please test in 203 :smile:

[2015-09-28 02:04] alvincrisuycorel commented on #30
Hi Gigi @gigiadamantopoulos

Please test in 203 :smile:

[2015-09-28 02:15] alvincrisuycorel commented on #32
Hi Gigi @gigiadamantopoulos

Kindly check in 203 :smile:

[2015-09-28 02:38] chrisperez commented on #75
Push in github.. Please test. Please ask @Jinsuke for the latest .exe

[2015-09-28 03:09] Jinsuke commented on #33
Hi @gigiadamantopoulos  and Sir @asjr4584 ,

As discussed with @alvincrisuycorel , it seems that this is the most feasible way to notify supervisors/team leads about their Agent's instances. We would need a *'bot'* if we need to check who occurred an instance in real time.

[2015-09-28 05:13] gigiadamantopoulos opened #77 "Error Handling: Filing Two events in one day"
As discussed with @alvincrisuycorel , please restrict the user in filing 2 events in the same day. An error should be displayed preventing the user to continue...

We must avoid this occurrence in one day

![image](https://cloud.githubusercontent.com/assets/10202106/10128271/a333fbee-65e2-11e5-8625-ddee017f7158.png)

[2015-09-28 05:32] gigiadamantopoulos commented on #32
Passed in 203

[2015-09-28 07:05] gigiadamantopoulos commented on #77
Tested this, functionality wise is Passed... UI needs revision. Please transfer the error message to the Add Event window, please make it red, and please change the message to: " Only one event is allowed to be filed in a day."

![image](https://cloud.githubusercontent.com/assets/10202106/10129572/319ec472-65f2-11e5-8029-ce08f110e27b.png)

[2015-09-28 07:08] gigiadamantopoulos commented on #1
As what me and kuya @Jinsuke tested in 203, here are some errors we received for dayshift accounts:

1. Filing a Rest Day.
      - Must be restricted.
2. Instances tardiness not working
3. No not logged out status
4. Org calendar working on dashboard not working on user profile and group calendar
5. Dashboard calendar filter always shows own computer date

[2015-09-28 07:09] gigiadamantopoulos commented on #64
Passed in 203...

[2015-09-28 07:12] gigiadamantopoulos commented on #30
Passed in 203

[2015-09-28 07:52] gigiadamantopoulos commented on #73
Passed in 203 and 201

[2015-09-28 07:53] gigiadamantopoulos commented on #75
Passed in 203 and 201

[2015-09-28 07:57] alvincrisuycorel commented on #76
Hi Gigi, @gigiadamantopoulos

Please test in 203 :smile:

[2015-09-29 00:16] alvincrisuycorel commented on #77
Hi Gigi @gigiadamantopoulos

For Testing in 203 :smile:

[2015-09-29 01:23] alvincrisuycorel commented on #1
#5 Dashboard calendar filter always shows own computer date [Fixed]

Hi kuya chris and kuya jerome please check the following issues.
Pwede nyo po ihuli yung #2

#1 Just remove on the list
#3 Not yet supported
#4 This is not related to dashboard page

[2015-09-29 02:22] lyn2711 commented on #19
Passed, test done in 201

[2015-09-29 02:23] lyn2711 commented on #18
Passed, test done in 201

[2015-09-29 02:55] asjr4584 commented on #33
@Jinsuke can we run a 'bot' on our local computer?

[2015-09-29 03:09] asjr4584 commented on #32
@lyn2711 for testing in 201.

[2015-09-29 03:11] asjr4584 commented on #1
@Jinsuke please fix this by 2PM today, September 29.

[2015-09-29 03:11] asjr4584 commented on #64
@lyn2711 for testing in 201.

[2015-09-29 03:14] asjr4584 commented on #30
@lyn2711 for testing in 201.

[2015-09-29 03:15] asjr4584 commented on #73
@lyn2711 for testing in 201.

[2015-09-29 03:16] asjr4584 commented on #75
@lyn2711 for final testing.

[2015-09-29 06:02] asjr4584 commented on #77
@gigiadamantopoulos what is the status of this?

[2015-09-29 06:12] asjr4584 commented on #1
@Jinsuke any update on this?

[2015-09-29 06:15] gigiadamantopoulos commented on #77
Passed in 203... ready for merging in 201

![image](https://cloud.githubusercontent.com/assets/10202106/10156510/7522a020-66b4-11e5-807e-046c3019bf2f.png)

[2015-09-29 06:15] asjr4584 commented on #69
Put on Hold

[2015-09-29 06:34] Jinsuke commented on #1
Update
-
- **DONE.** Prevent Filing a Rest Day.
- Instances tardiness not working
- No not logged out status
- **DONE.** Org calendar working on dashboard not working on user profile and group calendar
- **DONE.** Dashboard calendar filter always shows own computer date

[2015-09-29 06:42] gigiadamantopoulos commented on #76
Hi @alvincrisuycorel , UI - wise it's ok.... but I think the functionality is not yet working

[2015-09-29 07:04] asjr4584 commented on #60
Put on Hold.

[2015-09-29 07:05] asjr4584 commented on #19
@chrisperez please fix this ASAP.

[2015-09-29 07:06] asjr4584 commented on #18
@chrisperez please fix this ASAP.

[2015-09-29 07:20] asjr4584 commented on #1
@Jinsuke how about the other two?

- Instances tardiness not working
- No not logged out status

Can we make this work tomorrow, together with the 1.2 release?

[2015-09-29 07:37] Jinsuke commented on #1
Update
-
- **DONE.** Prevent Filing a Rest Day.
- Instances tardiness not working
- **DONE.** No not logged out status
- **DONE.** Org calendar working on dashboard not working on user profile and group calendar
- **DONE.** Dashboard calendar filter always shows own computer date

[2015-09-29 07:38] Jinsuke commented on #73
Update
-
- This is related to issue #1 and will be pushed to Production tomorrow - September 30, 2015.

[2015-09-29 07:50] chrisperez commented on #18
Hi Miss @lyn2711,

Since this issue is regarding UI, maybe we could close this one unless you have additional requirements for me to add.

[2015-09-29 07:50] lyn2711 commented on #18
None for now. Passed, test done in 201

[2015-09-29 07:50] #18 closed

[2015-09-29 07:51] asjr4584 commented on #1
This is great @Jinsuke @alvincrisuycorel thanks!

How about the issue in the instances tardiness? Can we fix this tomorrow?

[2015-09-30 02:42] chrisperez commented on #2
Status: On Going

Please see image below for the UI layout.

![image](https://cloud.githubusercontent.com/assets/4833394/10183220/d0955744-675f-11e5-9416-e31ea9865e93.png)

For functionalities please reffer to ISSUE #3

[2015-09-30 02:44] chrisperez commented on #3
Status: On Going

Still having problems with Not Logged out and Overlapping Schedules

Please see image below.

![image](https://cloud.githubusercontent.com/assets/4833394/10183249/089b2560-6760-11e5-9702-9c06e6a8728d.png)

-----

For UI issues, please reffer to ISSUE #2

[2015-09-30 05:04] asjr4584 opened #78 "Reports Page: Add Status Column for Notifications"
Location: Notification Page
-
Requirement:
-Add Columns for:
1.) Date
2.) Subject
3.) Agent Concerned
4.) Reviewed By
5.) Status: Approved or Disapproved

![status column](https://cloud.githubusercontent.com/assets/4827031/10184812/a337ae00-6773-11e5-8eb2-1909f27927ef.png)

[2015-09-30 05:44] lyn2711 commented on #75
Installed new exe file yesterday, and until today, app has not crashed.  Passed in 201

[2015-09-30 05:44] #75 closed

[2015-09-30 06:11] lyn2711 commented on #1
Passed, test done in 181

[2015-09-30 06:12] lyn2711 commented on #73
Passed, test done in 181

[2015-09-30 06:18] lyn2711 commented on #72
Passed, test done in 203

[2015-09-30 07:19] asjr4584 commented on #76
Overdue

[2015-10-01 00:25] Jinsuke opened #79 "Error Handling: No Internet Connection"
Task
-
- Prevent program from crashing on Start-Up while the computer is still connecting to the internet.

![eee](https://cloud.githubusercontent.com/assets/10201846/10210156/fb486d76-6815-11e5-9c59-2be5d2b61e60.png)

[2015-10-01 00:27] Jinsuke commented on #72
Production 201 testing
-
- Tested on 201 - OK

[2015-10-01 00:43] Jinsuke commented on #48
Testing Production 201
-
- Results: OK :+1:

![image](https://cloud.githubusercontent.com/assets/10201846/10210351/6147af72-6818-11e5-87ee-dee4238a8d55.png)

[2015-10-01 00:43] Jinsuke commented on #77
Testing Production 201
-
- Passed! OK! :+1:

[2015-10-01 00:50] Jinsuke commented on #64
Testing Production 201
-
- Results: OK! :+1:
- Tried Changing Absent Status to SL and checked Instances and Dashboard Page.

![image](https://cloud.githubusercontent.com/assets/10201846/10210421/674e0dca-6819-11e5-864e-cf511d1b49e5.png)

[2015-10-01 00:52] Jinsuke commented on #32
Testing Production 201
-
- Results: OK! :+1:
- Tried Changing Absent Status to SL and checked Instances and Dashboard Page.

![image](https://cloud.githubusercontent.com/assets/10201846/10210421/674e0dca-6819-11e5-864e-cf511d1b49e5.png)

[2015-10-01 00:59] Jinsuke commented on #30
Testing Production 201
-
- Results: OK! :+1:
- Visited Gigi's Calendar Profile.

![image](https://cloud.githubusercontent.com/assets/10201846/10210545/ac792726-681a-11e5-9c10-c733791c2a31.png)

[2015-10-01 01:03] Jinsuke commented on #64
Testing Production 201
-
- Filed a VL October 02 - October 05 using Payusan, Severino's account.
- Will check results on Monday to see if issue is still the same.

![image](https://cloud.githubusercontent.com/assets/10201846/10210580/4c39443a-681b-11e5-969e-2784168d6fbe.png)

[2015-10-01 01:24] Jinsuke commented on #79
Update
-
- Added Error Message to catch error if there's no internet connection.
- This will be added on Attedance Tracker 1.3

![image](https://cloud.githubusercontent.com/assets/10201846/10210801/2f7e4eaa-681e-11e5-9b1c-f65af42cccac.png)

[2015-10-01 02:02] Jinsuke opened #80 "Error Handling: Logout Notification"
Task
-
- Make changes to the log out message to inform the user that the shift will end if the logout button is pressed. Also, if there's a need to close the program, end the program via Task Manager.

[2015-10-01 02:53] Jinsuke commented on #80
Update
-
- New Logout Alert for review.

![image](https://cloud.githubusercontent.com/assets/10201846/10211885/9eb00776-682a-11e5-97a4-38e11219845a.png)

[2015-10-01 06:26] Jinsuke opened #81 "Filing for 1SL and 2SL"
Task
-
![image](https://cloud.githubusercontent.com/assets/10201846/10214189/581ee746-6848-11e5-8284-304047ce5418.png)

[2015-10-01 07:47] asjr4584 commented on #64
@lyn2711 please check this on Monday if this is working.

[2015-10-02 01:23] asjr4584 commented on #33
@Jinsuke why I am still getting a lot of instances with the same date in the notification?

![2015-10-02_0922](https://cloud.githubusercontent.com/assets/4827031/10237666/2eb27946-68e7-11e5-8a21-7b7fd8c0b6cf.png)

[2015-10-02 02:21] asjr4584 commented on #81
From: Salvador Jr., Allan Agura
Sent: Friday, October 02, 2015 10:20 AM
To: Aganda, Dale; Saguyod, Sarih Viel S; Comandante, Monica
Cc: BPO_Corel_Support
Subject: RE: Attendance Tracker - Half Day VL
Importance: High

Hi Dale,

That is correct. Right now, the attendance tracker app does not compute for half-day Leaves. So when you file a VL and it was approved, this will be considered as whole-day

[2015-10-02 02:27] Jinsuke commented on #32
Update
-
- Fixed Instances Reset Function

![image](https://cloud.githubusercontent.com/assets/10201846/10238285/29901140-68f0-11e5-8575-e35a5818719b.png)

For testing on Local http://16.178.42.181/users/instances/35002194
-

[2015-10-02 02:37] asjr4584 commented on #33
@Jinsuke we have now identified that every time you refresh the user profile page, the TL keeps getting notification of the same instances. Please fix this ASAP.

[2015-10-02 02:39] Jinsuke commented on #33
Update
-
- For testing on local.

[2015-10-02 02:46] lyn2711 commented on #32
Passed, test done in 181

[2015-10-02 02:46] lyn2711 commented on #33
Passed, test done in 181

[2015-10-02 02:47] alvincrisuycorel commented on #73
Merged in 203

[2015-10-02 02:48] alvincrisuycorel commented on #1
Merged in 203

[2015-10-02 02:49] alvincrisuycorel commented on #33
Merged in 203

[2015-10-02 02:49] alvincrisuycorel commented on #32
Merged in 203

[2015-10-02 02:51] alvincrisuycorel commented on #19
Please test again po :smile:

[2015-10-02 03:00] asjr4584 commented on #19
@lyn2711 for testing please.

[2015-10-02 03:15] lyn2711 commented on #33
Passed, test done in 203

[2015-10-02 03:15] lyn2711 commented on #73
Passed, test done in 203

[2015-10-02 03:16] lyn2711 commented on #1
Passed, test done in 203

[2015-10-02 03:23] Jinsuke commented on #32
Issue
-
- Issues found with Overall Instances Computation
- Dashboard 201 full of Undertime Status.

[2015-10-02 04:58] Jinsuke opened #82 "Functionality - Admin Leave Filing"
Task
-
- Make a feature for Admins to be able to file a leave just like the agents does.
- Only Supervisor approval is required before the leave appears on the Dashboard.

[2015-10-02 05:46] asjr4584 commented on #30
@Jinsuke there is a problem in the Edit button where in the changes could not be saved.

According to @alvincrisuycorel this is because the Status fields in the "Add Event" doesn't match with the "Edit Event" pop-up window.

![untitled](https://cloud.githubusercontent.com/assets/4827031/10240238/ff8c1c56-690b-11e5-8779-812d3fb3fb56.png)

[2015-10-02 05:54] alvincrisuycorel commented on #32
Hi kuya Jerome,

Regarding
- Dashboard 201 full of Undertime Status.

I have a fix for this issue that is already in #1

Though we need to re'submit all the filed leaves if ever they already have because the status are already "Undertime". Before doing so we need to fix the issue of Edit button of the Event.

[2015-10-02 06:05] Jinsuke commented on #1
For testing on Production 201 http://16.178.42.201/
-

[2015-10-02 06:06] Jinsuke commented on #32
For testing on Production 201 http://16.178.42.201/
-

[2015-10-02 06:06] Jinsuke commented on #33
For testing on Production 201 http://16.178.42.201/
-