[2015-10-02 06:06] Jinsuke commented on #73
For testing on Production 201 http://16.178.42.201/
-

[2015-10-02 06:24] lyn2711 commented on #73
Passed, test done in 201

[2015-10-02 06:28] lyn2711 commented on #33
Passed, test done in 201

[2015-10-02 06:36] lyn2711 commented on #19
Passed, test done in 201

[2015-10-02 06:36] #19 closed

[2015-10-04 23:52] Jinsuke commented on #73
Issue

[2015-10-05 00:35] chrisperez commented on #78
Hi Sir @asjr4584,

This is not applicable since the page is purely for notifying the user only.  If you want to have a report for leave approvals, we can create another page under the Reports Section named Leave Approvals.

[2015-10-05 00:40] chrisperez commented on #80
I will handle this one. I need to create a new popup window for this.

[2015-10-05 05:15] gigiadamantopoulos commented on #73
Passed in 181

[2015-10-05 06:40] gigiadamantopoulos commented on #73
Passed in 201

[2015-10-05 07:03] alvincrisuycorel commented on #1
Please test again in 203 :smile:

[2015-10-06 00:11] Jinsuke commented on #32
Please test again in 203 :grin: :

[2015-10-06 06:12] gigiadamantopoulos commented on #73
Passed in 201

[2015-10-06 06:18] gigiadamantopoulos commented on #79
Passed in 201 when you tried logging in but there is no internet..... but I suggest that this message should also appear when you are already logged in.

![image](https://cloud.githubusercontent.com/assets/10202106/10301417/e908ac3e-6c34-11e5-900a-804a5cbe2d6c.png)

[2015-10-06 06:49] Jinsuke commented on #82
Update Flow
-
- **Leave Filing Link**
![image](https://cloud.githubusercontent.com/assets/10201846/10301824/e9620a64-6c38-11e5-960e-adab6f19dcab.png)

- **Leave Filing Page**
![image](https://cloud.githubusercontent.com/assets/10201846/10301835/0a36fac4-6c39-11e5-936a-842078c008be.png)

- **Team Lead Receives Notification**
![image](https://cloud.githubusercontent.com/assets/10201846/10301841/25b8

[2015-10-06 07:12] gigiadamantopoulos commented on #82
Hi kuya @Jinsuke ,

Suggestion: When u click submit button, the page will just refresh and display the status
![image](https://cloud.githubusercontent.com/assets/10202106/10302186/7bd898f6-6c3c-11e5-9611-686087ae041b.png)

Instead of this:
![image](https://cloud.githubusercontent.com/assets/10202106/10302203/a82a288e-6c3c-11e5-9920-4a947d5a1a0b.png)

[2015-10-06 07:31] gigiadamantopoulos commented on #82
As tested... passed in 181

[2015-10-06 07:43] gigiadamantopoulos commented on #82
Passed in 203

[2015-10-06 23:33] gigiadamantopoulos commented on #32
Hi kuya @Jinsuke ,

I tested this in 201, I noticed that I was marked as Late on Oct 1 and 2 because I am on VL that day...
Also, the computation on total minutes late is the same in all instances, which is weird...

![image](https://cloud.githubusercontent.com/assets/10202106/10325594/628b4388-6cc5-11e5-893a-54617b3a01cb.png)

[2015-10-07 01:06] #73 closed

[2015-10-07 01:09] asjr4584 commented on #78
@chrisperez Okay please move this page under the Report Section >> Leave Approvals.

[2015-10-07 01:10] asjr4584 commented on #78
Also, please provide a deadline for this task.

[2015-10-07 01:12] asjr4584 commented on #80
@chrisperez please take note that this is included in the October 15 update release.

[2015-10-07 01:16] asjr4584 commented on #1
@gigiadamantopoulos what is the status of this testing?

[2015-10-07 01:37] Jinsuke commented on #79
Update
-
- *Added No Internet Pop up whenever there is a sudden Internet Interruption on the Main Window*
https://cloud.githubusercontent.com/assets/10202106/10301417/e908ac3e-6c34-11e5-900a-804a5cbe2d6c.png

[2015-10-07 01:42] asjr4584 commented on #79
@gigiadamantopoulos for testing please.

[2015-10-07 02:06] gigiadamantopoulos commented on #1
Hi Sir, as mentioned by kuya @Jinsuke , he will be waiting for @alvincrisuycorel for this

[2015-10-07 23:55] alvincrisuy opened #83 "Server Setup AttendanceTracker in dev, stage, prod"

[2015-10-08 00:20] alvincrisuycorel commented on #83
![capture2](https://cloud.githubusercontent.com/assets/7260700/10354711/62177400-6d95-11e5-9bf1-508de7d7b61e.PNG)

[2015-10-08 00:21] alvincrisuycorel commented on #83
https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu

[2015-10-08 01:03] alvincrisuycorel commented on #83
https://help.github.com/articles/generating-ssh-keys/#platform-linux

[2015-10-08 01:03] alvincrisuycorel commented on #83
https://www.digitalocean.com/community/questions/copy-ssh-key-to-clipboard

[2015-10-09 00:42] gigiadamantopoulos commented on #74
This is passed in 201.

[2015-10-09 00:42] #74 closed

[2015-10-09 01:36] #48 closed

[2015-10-09 01:39] #72 closed

[2015-10-09 01:47] #77 closed

[2015-10-09 01:53] gigiadamantopoulos commented on #79
Passed in 201

[2015-10-09 01:58] chrisperez commented on #78
Are we going to edit this Issue, close and create new or delete and create new since this issue in no longer applicable?

[2015-10-09 02:01] asjr4584 commented on #78
@chrisperez please use this existing issue to create the said feature. no need to create a new one.

[2015-10-09 02:02] chrisperez commented on #78
Deadline: October 17, Friday.

[2015-10-09 02:14] asjr4584 commented on #78
@chrisperez October 17 is Saturday, please finish this task by October 15 and include it to version 1.3 update release.

[2015-10-09 06:41] gigiadamantopoulos commented on #29
Issue on Server: http://c9t16755.itcs.hpecorp.net/users/profile/3

UI:
![image](https://cloud.githubusercontent.com/assets/10202106/10387409/c2c9abde-6e93-11e5-9b46-b64ddde94785.png)

[2015-10-09 06:55] gigiadamantopoulos commented on #36
Server Link: http://c9t16755.itcs.hpecorp.net/organization/members
Manager account should not have a restriction in editing the supervisor and team lead accounts.

![image](https://cloud.githubusercontent.com/assets/10202106/10387498/74a042fa-6e94-11e5-8999-dbea81d71588.png)

[2015-10-09 07:18] asjr4584 commented on #83
Deadline: October 15, 2015 (Production)

[2015-10-12 00:41] chrisperez commented on #80
@Jinsuke,

Please pull and create an installer so that @gigiadamantopoulos can test.

[2015-10-12 01:01] gigiadamantopoulos commented on #30
Hi kuya @Jinsuke , can we remove the "Weekend" filing. You should not file a weekend.

http://c9t16755.itcs.hpecorp.net/users/profile/6
![image](https://cloud.githubusercontent.com/assets/10202106/10420209/c0fafe06-70bf-11e5-8efe-d6702b704b2a.png)

[2015-10-12 01:42] gigiadamantopoulos commented on #25
Issue in Server: http://c9t16755.itcs.hpecorp.net/users/change/87

When editing and saving the profile, it displays this error.
![image](https://cloud.githubusercontent.com/assets/10202106/10420396/8cb97af4-70c5-11e5-8d26-7691ffd25abc.png)

[2015-10-12 01:44] gigiadamantopoulos commented on #39
Issue related to
https://github.com/HP-Corel/AttendanceTracker/issues/36

[2015-10-12 01:51] gigiadamantopoulos commented on #49
When creating the manager's account for the first time use and clicked Save, this error is displayed:

![image](https://cloud.githubusercontent.com/assets/10202106/10420436/af8a735c-70c6-11e5-83fa-2479b95a0012.png)

after that, I cannot see the side navigation.

![image](https://cloud.githubusercontent.com/assets/10202106/10420439/bf55f176-70c6-11e5-8bcb-2f452e2f82ae.png)

[2015-10-12 01:59] gigiadamantopoulos commented on #46
Error found in Server:

When approving the filed VL, the checkbox is not clickable:
![image](https://cloud.githubusercontent.com/assets/10202106/10420491/cce17314-70c7-11e5-8243-4c7de6652a8c.png)

[2015-10-12 02:00] gigiadamantopoulos commented on #45
Issue related to https://github.com/HP-Corel/AttendanceTracker/issues/36

[2015-10-12 02:07] gigiadamantopoulos commented on #43
Server issue:
There is no "Remove" button
![image](https://cloud.githubusercontent.com/assets/10202106/10420552/00dec6e8-70c9-11e5-9ae4-40ac7c891de6.png)

Issue related to https://github.com/HP-Corel/AttendanceTracker/issues/25

[2015-10-12 05:44] alvincrisuycorel commented on #43
Hi Gigi, @gigiadamantopoulos

What user account are you using? :smile:

[2015-10-12 06:33] alvincrisuycorel commented on #25
Hi Gigi, @gigiadamantopoulos

Kindly test when editing profile when using an account for manager, supervisor, team lead and agent.

[2015-10-12 07:11] alvincrisuycorel commented on #30
Hi Gigi, @gigiadamantopoulos

Please test in dev server

[2015-10-12 07:17] alvincrisuycorel commented on #36
Hi Gigi,

Kindly check in dev server. :smile:

[2015-10-12 07:18] alvincrisuycorel commented on #39
Hi Gigi, @gigiadamantopoulos

Kindly check in dev server. Issue related to #36

[2015-10-12 07:19] alvincrisuycorel commented on #43
Hi Gigi, @gigiadamantopoulos

What page does this happened? :smile:

[2015-10-12 07:20] alvincrisuycorel commented on #45
Hi Gigi, @gigiadamantopoulos

Kindly test in dev server. Issue related to #36

[2015-10-12 07:23] alvincrisuycorel commented on #82
@Jinsuke

:smile:

[2015-10-12 07:23] alvincrisuycorel commented on #46
Hi Gigi, @gigiadamantopoulos

What user account are you currently using? :smile:

[2015-10-12 07:27] alvincrisuycorel commented on #49
Hi Gigi, @gigiadamantopoulos

Kindly test in dev server. :smile:

[2015-10-12 07:27] alvincrisuycorel commented on #80
@Jinsuke

:smile:

[2015-10-12 07:45] alvincrisuycorel commented on #29
Hi Gigi, @gigiadamantopoulos

Kindly check in dev server :smile:

[2015-10-13 00:38] alvincrisuycorel commented on #32
Hi Gigi, @gigiadamantopoulos

Just fixed the issue. I think the data in 201 are not applicable.

Can you test it on 203?

[2015-10-13 01:03] alvincrisuycorel commented on #1
Hi Gigi, @gigiadamantopoulos

Can you also test the issue regarding tardiness in dashboard and instance page? :smile:

[2015-10-13 01:04] alvincrisuycorel commented on #83
Done in Staging and Dev

[2015-10-13 01:11] alvincrisuycorel commented on #64
Ma'am Evs, @lyn2711

[2015-10-13 02:28] gigiadamantopoulos commented on #49
Manager account used: email: manager@123.com     pass: 123

Passed for initial manager account. Suggestion: please add an error message if the email and  employee id are already existing instead of displaying the error message.

[2015-10-13 02:55] gigiadamantopoulos commented on #25
Email / Employee ID
manager@123.com     -12345
supervisor@123.com   -124
tl1@123.com                -125
tl2@123.com                -126
agent1@123.com         -127
agent2@123.com         -128

All Passed...

[2015-10-13 03:03] gigiadamantopoulos opened #84 "Accessing accounts from other organization"
Hi @alvincrisuycorel ,

I found out that I can access different accounts in different organization by entering their employee number on the URL...

This should not be allowed.

Thanks!

[2015-10-13 03:05] gigiadamantopoulos commented on #29
Passed:

![image](https://cloud.githubusercontent.com/assets/10202106/10444525/5f36f1f8-719a-11e5-98c3-5abc4e3f97b6.png)

[2015-10-13 03:06] gigiadamantopoulos commented on #30
Passed

[2015-10-13 03:07] gigiadamantopoulos commented on #46
Hi @alvincrisuycorel , the TL account that will approve the Leave

[2015-10-13 03:08] gigiadamantopoulos commented on #36
Passed
![image](https://cloud.githubusercontent.com/assets/10202106/10444557/bee2e7a6-719a-11e5-8919-da9e99164f37.png)

[2015-10-13 03:09] gigiadamantopoulos commented on #45
PAssed

[2015-10-13 03:09] alvincrisuycorel commented on #76
Hi Gigi, @gigiadamantopoulos

Please test in dev :smile:

[2015-10-13 03:10] gigiadamantopoulos commented on #43
this page: http://c9t16755.itcs.hpecorp.net/organization/members

But this is already passed since it's related to Issue 36

[2015-10-13 03:12] gigiadamantopoulos commented on #39
PAssed

[2015-10-13 04:48] alvincrisuycorel commented on #49
Hi Gigi, @gigiadamantopoulos

Kindly test in 203 :smile:

[2015-10-13 07:27] alvincrisuycorel commented on #84
Hi Gigi, @gigiadamantopoulos

For testing in 203.

[2015-10-13 23:01] gigiadamantopoulos commented on #46
Hi @alvincrisuycorel ,

As you mentioned, can we just remove the checkbox? Since as we tested it with the other TL, they initially assumed that the checkbox needs to be ticked before clicking the "Approve" button, which reflects the user experience to be a bit confusing...

Thanks!

[2015-10-13 23:09] gigiadamantopoulos commented on #76
HI @alvincrisuycorel , when I filed for a new schedule, I can't file any other leaves/trainings on that dates because we only allow one instance of filing per day.

Can we have an exception in this case? we can allow filling another date only if the existing filed date is New Schedule?

![image](https://cloud.githubusercontent.com/assets/10202106/10470823/821d61cc-7242-11e5-8a96-164bc21375aa.png)

[2015-10-14 00:04] gigiadamantopoulos commented on #32
Hi kuya @Jinsuke , can you give me a copy of the software connected to the server so that i can proceed with the testing for this issue?

thanks

[2015-10-14 00:06] gigiadamantopoulos commented on #49
Hi @alvincrisuycorel , the error message for an existing employee ID is not a message but the sign in page is the one showing up...

![image](https://cloud.githubusercontent.com/assets/10202106/10471620/7c906936-724a-11e5-9594-101defb9b06e.png)

[2015-10-14 00:07] gigiadamantopoulos commented on #84
Passed!

[2015-10-14 00:07] gigiadamantopoulos commented on #1
Hi kuya @Jinsuke , can you give me a copy of the software connected to the server so i can proceed with the testing for this issue.

thanks!

[2015-10-14 01:42] Jinsuke commented on #32
Copy sent! :) For testing again.

[2015-10-14 01:42] Jinsuke commented on #1
Copy Sent! For testing again. :grimacing:

[2015-10-14 02:38] Jinsuke commented on #80
Update
-
- Edited New Logout Message.
![image](https://cloud.githubusercontent.com/assets/10201846/10473586/af8cd81e-725f-11e5-8ead-a8aa66c4a9ae.png)

For testing! Installer has been sent on your email!

[2015-10-14 03:16] gigiadamantopoulos commented on #32
As of now, we have to wait for the times to be recorded since we can alter the time.

Suggestion: Can we hide the Instances tab for admin accounts since they don't need it

[2015-10-14 05:20] Jinsuke commented on #32
Update
-
- Instances Page now only appears on Agent accounts.

**SUPERVISOR ACCOUNT**
![image](https://cloud.githubusercontent.com/assets/10201846/10475441/450e821e-7276-11e5-98ac-beadce1ee88c.png)

**AGENT ACCOUNT**
![image](https://cloud.githubusercontent.com/assets/10201846/10475442/4bfcb0c8-7276-11e5-8c34-3df04bde9862.png)

[2015-10-15 00:09] alvincrisuycorel commented on #76
Hi Gigi, @gigiadamantopoulos

Kindly test in 203 :)

[2015-10-15 00:22] alvincrisuycorel commented on #49
Hi Gigi, @gigiadamantopoulos

Kindly test in 203 :smile:

[2015-10-15 00:54] alvincrisuycorel commented on #49
Hi Gigi, @gigiadamantopoulos

Kindly test in 203 :smile:

[2015-10-15 00:57] gigiadamantopoulos commented on #30
Hi @alvincrisuycorel , Additional issue found by sir @asjr4584 :

Absences are not reflected on the Individual and Group Calendars.
![image](https://cloud.githubusercontent.com/assets/10202106/10502070/b991163e-731a-11e5-8d33-ecd0da0e7e73.png)

[2015-10-15 01:02] gigiadamantopoulos commented on #32
hi kuya @Jinsuke, there is an existing issue with the instances tab in the Total Time Late section:
![image](https://cloud.githubusercontent.com/assets/10202106/10502102/011cb940-731b-11e5-928e-80ea49148ece.png)

and the Absenteesim section does not reflect the correct info:
![image](https://cloud.githubusercontent.com/assets/10202106/10502150/83766454-731b-11e5-8902-83f6aa77caea.png)

[2015-10-15 01:23] gigiadamantopoulos commented on #49
Hi @alvincrisuycorel , this is passed already!

![image](https://cloud.githubusercontent.com/assets/10202106/10502395/4ed3ecb4-731e-11e5-940a-8f5e7540cb10.png)

[2015-10-15 02:14] alvincrisuycorel commented on #46
Hi Gigi, @gigiadamantopoulos

Kindly check in 203 :smile:

[2015-10-15 02:19] alvincrisuycorel commented on #30
Hi Gigi, @gigiadamantopoulos

What are the statuses needed to display on the calendar?
Like
VL
SL
Undertime?
Unauthorized absent

:smile:

[2015-10-15 04:46] alvincrisuycorel commented on #32
Hi Gigi, @gigiadamantopoulos

Can you try creating a new org? :smile:

[2015-10-15 05:35] gigiadamantopoulos opened #85 "Email Notification"
Hi @alvincrisuycorel ,

Here's the list of actions that should trigger the system to send an email to the user.

1. Requesting a leave - When agents file a leave, email TL first, if approved, email Agent and Supervisor, Supervisor will approve the request or not, email both TL and Agent.

2. Flexi Button - When TL/Supervisor clicks on the Flexi Button CheckBox

3. Reset Instances - When Instances

[2015-10-15 05:42] asjr4584 commented on #85
@lyn2711 please kindly review the list above and add any items missing there.

[2015-10-15 05:42] asjr4584 commented on #85
Deadline of Implementation: October 30, 2015.

[2015-10-15 06:48] asjr4584 commented on #85
From: Uy, Alvin Cris Leonardo
Sent: Thursday, October 15, 2015 2:30 PM
To: Salvador Jr., Allan Agura; Adamantopoulos, Gigi Placido; Gokapi, Jin Tuason; Llamas, Evs Dela Rosa; Perez, Christopher Denosta
Subject: RE: Attendance Tracker: Setting up Email Notification via EMAIL

Hi sir,

Here’s a sample code on how the email works.

$Email = new CakeEmail();
$Email->from(array('jerome.gokapi@hp.com'))

[2015-10-15 06:59] gigiadamantopoulos commented on #80
Passed!

Suggestion though, a space between the two paragraph...

[2015-10-15 23:44] Jinsuke commented on #80
For testing.
-
- Updated text.
![image](https://cloud.githubusercontent.com/assets/10201846/10530354/ac0d509e-73d9-11e5-853f-ba890ab02b52.png)

[2015-10-15 23:50] gigiadamantopoulos commented on #80
Passed!

[2015-10-16 02:13] chrisperez commented on #78
Please test in 181.

If passed, please pull changes in dev server.

[2015-10-16 07:45] gigiadamantopoulos commented on #30
Unauthorized absence

[2015-10-19 00:02] gigiadamantopoulos commented on #46
passed.... please push to 201

[2015-10-19 00:07] gigiadamantopoulos commented on #78
passed in 181. please push to dev server

[2015-10-20 03:25] alvincrisuycorel commented on #30
ok

[2015-10-20 06:49] Jinsuke opened #86 "Functionality - Global Calendar to display all approved VLs"
Tasks
-
- Modify Global Calendar to display all the approved VLs regardless of Team
- VL entries must be color coded according to team.
- Can be exported into Excel file

[2015-10-20 06:50] Jinsuke opened #87 "Functionality: Vacation Leave Allocation"
Task
-
- TLs and Supervisors can only approve a maximum of only 4 VLs per day.
- Approval of VLs will be disabled when the maximum VL per day has been reached.

[2015-10-21 00:02] Jinsuke opened #88 "VL Text Area"
Task
-
-Please add these enhancements to Github; I would like to implement this to 1.4 update release (October 30).

•	Details field: change to text area to display the whole message without scrolling.
•	Add a comment box (after Team Lead field) dedicated for Team / leads and Supervisors so they can put the reasons why they are approving or disapproving a VL request.

![image](https://cloud.github

[2015-10-26 00:21] chrisperez commented on #78
@Jinsuke, Please pull in 201 so that @gigiadamantopoulos can test again. Thanks!

[2015-10-26 00:24] alvincrisuycorel commented on #30
:cry:

[2015-10-30 02:31] Jinsuke commented on #78
For testing on Prod - http://16.178.42.201/

[2015-10-30 02:49] Jinsuke commented on #81
Update
-
- Enabled Filing for 1SL and 2VL on File a Leave Option.
![image](https://cloud.githubusercontent.com/assets/10201846/10837350/7d2e0460-7ef3-11e5-8070-b6708d7bb8df.png)

- After approval, 1SL and 2SL status will reflect on the user's calendar.
![image](https://cloud.githubusercontent.com/assets/10201846/10837376/d19d9c68-7ef3-11e5-8972-234b6d39ebed.png)

![image](https://cloud.githubuserc

[2015-10-30 03:13] asjr4584 commented on #81
@Jinsuke is this ready for testing?

[2015-10-30 05:09] Jinsuke commented on #88
Update
-
- Changed Input to Text Area to fit the details.

![image](https://cloud.githubusercontent.com/assets/10201846/10838861/6a771532-7f07-11e5-8108-d46634db327e.png)

For testing on local
-

[2015-11-01 23:23] gigiadamantopoulos commented on #88
Passed in 181... ready to push to 203

[2015-11-01 23:24] gigiadamantopoulos commented on #78
203 is not working :'(

[2015-11-02 00:30] Jinsuke commented on #88
For testing in QA http://16.178.42.203/
-
- Pulled in 203

[2015-11-02 01:49] asjr4584 commented on #78
@gigiadamantopoulos please try again.

[2015-11-02 01:50] asjr4584 commented on #46
@chrisperez @Jinsuke please update the 201 and re-assign this to @gigiadamantopoulos for testing.

[2015-11-02 02:10] asjr4584 commented on #30
@chrisperez editing an existing event in the calendar displays an error after saving the changes:

![2015-11-02_1008](https://cloud.githubusercontent.com/assets/4827031/10873101/ff80ea92-8149-11e5-9651-02fee3f21879.png)
![2015-11-02_1009](https://cloud.githubusercontent.com/assets/4827031/10873102/ff8fd430-8149-11e5-9406-418d838ae7f6.png)

[2015-11-02 02:59] asjr4584 commented on #85
@chrisperez @lyn2711 @Jinsuke Can we configure this now in Dev Server so we can include this in the next update release, please?

[2015-11-02 05:02] Jinsuke opened #89 "VL Comment Box"
Task
-
- Add a comment box (after Team Lead field) dedicated for Team / leads and Supervisors so they can put the reasons why they are approving or disapproving a VL request.

[2015-11-02 05:14] Jinsuke commented on #46
Pulled in 201. For testing on prod.
-

[2015-11-02 07:10] #29 closed

[2015-11-02 07:11] #25 closed

[2015-11-02 07:27] asjr4584 commented on #81
Deadline for 201: November 18, 2015

[2015-11-02 07:29] #80 closed

[2015-11-02 07:30] #79 closed

[2015-11-02 07:31] asjr4584 commented on #78
Deadline: November 5, 2015

[2015-11-02 07:32] asjr4584 commented on #85
Deadline: November 18, 2015

[2015-11-02 07:33] asjr4584 commented on #3
Deadline: November 30, 2015

[2015-11-02 07:35] asjr4584 commented on #2
Deadline: November 30, 2015 (Milestone 11)

[2015-11-03 02:57] chrisperez commented on #78
Please test.. http://16.178.42.201/reports/leaverequest

![image](https://cloud.githubusercontent.com/assets/4833394/10900361/a640c080-8219-11e5-83ef-34f6bf6b0df5.png)

[2015-11-03 03:07] gigiadamantopoulos commented on #78
Can we change the visual representation of the approved and not approved instead of displaying "1"

![image](https://cloud.githubusercontent.com/assets/10202106/10900459/12bd8e90-821b-11e5-9bb2-3623f8831fe4.png)

[2015-11-04 00:34] gigiadamantopoulos opened #90 "Functionality: Gray out the option to file a leave if we no longer have the allocation for a specific date"
Suggestion from Tara:

Hi Allan,
Question, can we grey out the option to file a leave if we no longer have the allocation for a specific date?

Thank you,

Tara

[2015-11-04 01:15] gigiadamantopoulos commented on #88
Passed in 203, 201, and in Server

[2015-11-04 01:20] asjr4584 commented on #78
@chrisperez please refer to @gigiadamantopoulos comments above.

[2015-11-04 01:24] gigiadamantopoulos commented on #76
Passed in 203 and Server

[2015-11-04 01:32] gigiadamantopoulos commented on #46
Passed in 203, and server

[2015-11-04 01:55] asjr4584 commented on #90
@chrisperez please provide your feedback about this suggestion.

[2015-11-04 03:24] gigiadamantopoulos opened #91 "Uploading files in Events Tab"
As suggested by Sir @asjr4584 :

Hi Gigi,

Can you create a new GitHub issue for attaching files in the Event tab, please?

When an event is created, the Admin has an option to upload a file (e.g. medical certificate)
![image](https://cloud.githubusercontent.com/assets/10202106/10928773/a4f5c95a-82e6-11e5-861a-7d542a816d8d.png)

[2015-11-04 05:42] gigiadamantopoulos commented on #36
As suggested by Sir @asjr4584

Hi Team,

Should Team Leads be able to see the Save and Delete Organizations?

Can we hide these options to all Admins except to the Manager Role?

http://16.178.42.201/organization/settings
![image](https://cloud.githubusercontent.com/assets/10202106/10930519/d98ce9b0-82f9-11e5-8b40-0a3162161ba9.png)

[2015-11-04 09:27] chrisperez commented on #36
For testing. Please pull and test.

[2015-11-05 02:02] asjr4584 commented on #36
@chrisperez please pull the changes in 181 and 203 and advise @gigiadamantopoulos once this is ready for testing.

[2015-11-05 02:07] asjr4584 commented on #36
@gigiadamantopoulos 181 and 203 is now ready for testing.

[2015-11-05 08:32] chrisperez commented on #78
This is now working in 203

http://16.178.42.203/reports/leaverequest

![image](https://cloud.githubusercontent.com/assets/4833394/10963360/cac2da3e-83da-11e5-9074-3a571cfdec20.png)

[2015-11-05 23:26] asjr4584 commented on #78
@gigiadamantopoulos please test.

[2015-11-06 05:07] gigiadamantopoulos commented on #78
Passed. Please push to 201 and server.

[2015-11-06 05:13] gigiadamantopoulos commented on #36
Passed in 203... ready to push to 201 and server

[2015-11-09 01:00] chrisperez commented on #87
The same with https://github.com/HP-Corel/AttendanceTracker/issues/90

[2015-11-09 01:00] chrisperez commented on #90
Duplicate issue #87

[2015-11-10 03:03] gigiadamantopoulos commented on #33
Old notification is disappeared on the page as reported by Peter Chan.

[2015-11-10 03:14] asjr4584 commented on #36
@gigiadamantopoulos can you test this issue in 201 and get back us with the result, please?

[2015-11-10 05:46] gigiadamantopoulos opened #92 "Flexi Notification"
As suggested by Sir @asjr4584 :

Can we have each flexi notification be pointed to the date where it should be adjusted?

![image](https://cloud.githubusercontent.com/assets/10202106/11055338/5d0f22e2-87b1-11e5-80d2-eb4589b72106.png)

![image](https://cloud.githubusercontent.com/assets/10202106/11055346/68e508b6-87b1-11e5-964a-dd8691921488.png)

[2015-11-10 05:48] gigiadamantopoulos commented on #82
As suggested by sir @asjr4584 :

I can still add a VL in my calendar without going to "File a Leave" form.

Can we link the Add Event to File A Leave form? Meaning, Either the Admins request for VL, the request will be forwarded to their supervisor for approval.

![image](https://cloud.githubusercontent.com/assets/10202106/11055374/bfe2b492-87b1-11e5-86d2-0b7197def656.png)

[2015-11-10 07:35] asjr4584 commented on #82
@chrisperez As discussed, please hide the three options of VL in the Add Event section under the Calendar tab to resolve this issue.

Please finish this by Monday, November 16.

[2015-11-10 07:38] asjr4584 commented on #92
@chrisperez Please finish this by November 16.

[2015-11-10 08:29] chrisperez commented on #82
Please pull changes to 203 for testing.

[2015-11-10 09:07] chrisperez commented on #92
Please pull to 203 for testing.

[2015-11-11 03:25] gigiadamantopoulos commented on #46
Issue found by Tara:

Hi Allan—
I revisit the pending leaves as stated below and upon validation I kept on receiving below error message.

![image](https://cloud.githubusercontent.com/assets/10202106/11083142/e602afbe-8866-11e5-96d3-d137e1853c7f.png)

[2015-11-11 03:37] gigiadamantopoulos commented on #91
Mock up:

![image](https://cloud.githubusercontent.com/assets/10202106/11083175/3ba23264-8867-11e5-9955-95786b157e79.png)

They can view the files by clicking the "VIEW" link on the Event tab. If there are no attached file, there is no "VIEW" link

![image](https://cloud.githubusercontent.com/assets/10202106/11083277/609fb950-8868-11e5-897f-c88f5feebe10.png)

[2015-11-11 03:44] asjr4584 commented on #46
@chrisperez this happens when you click the Approve button.

[2015-11-13 00:17] asjr4584 commented on #32
@lyn2711 I'm assigning this to you further testing. @chrisperez this must be treated as Critical and must be fixed ASAP.

[2015-11-13 02:13] chrisperez commented on #46
Here are the errors found:

After a Leave was approved by TL via File A Leave Page:

![image](https://cloud.githubusercontent.com/assets/4833394/11136976/7df09542-89ee-11e5-8c1f-ee3b215cf958.png)

After Supervisor click approve

![image](https://cloud.githubusercontent.com/assets/4833394/11137010/dbaf132a-89ee-11e5-9ba9-5ce5951d0ddb.png)

@Jinsuke might have some changes that has not yet been push

[2015-11-13 06:47] asjr4584 commented on #78
From: Perez, Christopher Denosta
Sent: Monday, November 09, 2015 1:46 PM
To: Allan Salvador Jr.; Llamas, Evs Dela Rosa; Gokapi, Jin Tuason; Adamantopoulos, Gigi Placido; Salvador Jr., Allan Agura
Subject: RE: Attendance Tracker: Additional Columns for Leave Request Report

Ready to pull changes in 201..

![image](https://cloud.githubusercontent.com/assets/4827031/11140433/5f7181e0-8a15-11e5-82d3-5

[2015-11-13 07:07] asjr4584 commented on #1
@lyn2711 for testing, please.

[2015-11-13 07:17] asjr4584 commented on #64
@lyn2711 follow up.

[2015-11-13 07:20] asjr4584 commented on #76
@lyn2711 can you test the functionality of New Shift in the Add event, please?

[2015-11-13 07:21] asjr4584 commented on #82
@lyn2711 for testing, please.

[2015-11-13 07:28] asjr4584 commented on #85
@chrisperez follow up.

[2015-11-13 07:29] asjr4584 commented on #2
@chrisperez is this possible to be implemented by November 30?

[2015-11-13 07:32] asjr4584 commented on #92
@lyn2711 for testing, please.

[2015-11-13 07:33] asjr4584 commented on #91
@chrisperez follow up.

[2015-11-13 07:35] asjr4584 commented on #87
@chrisperez follow up.

[2015-11-13 07:36] asjr4584 commented on #90
Duplicate

[2015-11-13 07:36] #90 closed

[2015-11-13 07:38] asjr4584 commented on #88
@lyn2711 for testing.

[2015-11-13 09:57] chrisperez commented on #46
We need to add a new field to the leave table for this to work properly..

attendancestatusid - tinyint(3)

[2015-11-13 09:57] chrisperez commented on #30
Please pull and test to 181.

[2015-11-13 10:17] chrisperez commented on #78
Please pull changes and test.

[2015-11-13 10:19] chrisperez commented on #81
Please pull and test

[2015-11-17 00:15] chrisperez commented on #92
@Jinsuke, please pull and test in 181.

[2015-11-17 00:16] chrisperez commented on #88
@Jinsuke, please pull and test in 181.

[2015-11-17 00:20] chrisperez commented on #84
@lyn2711, please pull and test in 201.

[2015-11-17 00:21] chrisperez commented on #82
@Jinsuke, please pull and test in 181.

[2015-11-17 00:22] chrisperez commented on #81
@Jinsuke, please pull and test in 181.

[2015-11-17 00:22] chrisperez commented on #78
@Jinsuke, please pull and test in 181.

[2015-11-17 00:23] chrisperez commented on #64
@Jinsuke, please pull and test in 181.

[2015-11-17 00:23] asjr4584 commented on #30
@Jinsuke please pull this and assign to @lyn2711 for testing.

[2015-11-17 00:23] chrisperez commented on #49
@Jinsuke, please pull and test in 181.

[2015-11-17 00:23] asjr4584 commented on #78
@Jinsuke please pull this and assign to @lyn2711 for testing.

[2015-11-17 00:23] asjr4584 commented on #81
@Jinsuke please pull this and assign to @lyn2711 for testing.

[2015-11-17 00:25] chrisperez commented on #45
@lyn2711, please pull and test in 201.

[2015-11-17 00:26] chrisperez commented on #43
@Jinsuke, please pull and test in 181.

[2015-11-17 00:27] chrisperez commented on #39
@lyn2711, please pull and test in 201.

[2015-11-17 00:28] chrisperez commented on #32
@lyn2711, please test in 201.

[2015-11-17 01:55] chrisperez commented on #91
Work in progress..

[2015-11-19 23:33] Jinsuke commented on #92
Testing 181 : **Passed**!
-

[2015-11-19 23:40] Jinsuke commented on #88
Testing 181 : **Passed**!
-
- For testing on 201

[2015-11-19 23:42] Jinsuke commented on #82
Testing 181 : **Passed**!
-
- VL is now hidden in Add Event feature on own account. For testing on 201

[2015-11-20 00:24] asjr4584 commented on #92
@lyn2711 for testing in 201.

[2015-11-20 00:25] asjr4584 commented on #82
@lyn2711 for testing in 201.

[2015-11-20 00:25] asjr4584 commented on #88
@lyn2711 for testing in 201.

[2015-11-20 02:26] Jinsuke commented on #43
Issue
-
- Tested in 181 Local
- Tried editing Mark Cruz's account to Manager - failed. Role is still Team Lead.

[2015-11-20 02:38] asjr4584 commented on #43
@chrisperez please check.

[2015-11-20 02:58] Jinsuke commented on #49
Testing 181 : **Passed**!
-
- For testing on 201

[2015-11-20 03:04] Jinsuke commented on #64
Testing 181: Passed!
-
- For testing on 201
![image](https://cloud.githubusercontent.com/assets/10201846/11290976/7454570c-8f76-11e5-8f13-c08e3c9697f4.png)

[2015-11-20 03:08] Jinsuke commented on #78
Testing 181: Passed!
-
- For testing on 201
![image](https://cloud.githubusercontent.com/assets/10201846/11290976/7454570c-8f76-11e5-8f13-c08e3c9697f4.png)

[2015-11-20 04:45] Jinsuke commented on #81
Testing 181: Passed!
-
- For testing on 201
- Functionality: **Pending**

[2015-11-20 04:51] Jinsuke commented on #81
Issue
-
- Used Supervisor account to approve sample VL filed: error happened.

![image](https://cloud.githubusercontent.com/assets/10201846/11292195/5cefb9f8-8f85-11e5-8157-31e3fc02326d.png)

![image](https://cloud.githubusercontent.com/assets/10201846/11292198/64c670d6-8f85-11e5-95d6-daab2174cbb1.png)

[2015-11-23 00:33] Jinsuke commented on #81
This is now working. Just need to update 'leave' table and add 'attendancestatusid' tinyint 3 to make it work again. :)

[2015-11-23 00:53] Jinsuke commented on #43
Issue Fixed on Local 181.
-
- Can now change roles again.
![image](https://cloud.githubusercontent.com/assets/10201846/11328148/999830c4-91bf-11e5-8b9b-33ab2973ac14.png)

![image](https://cloud.githubusercontent.com/assets/10201846/11328151/a0414352-91bf-11e5-8c61-0f41aadc60fc.png)

[2015-11-23 03:19] Jinsuke commented on #89
Mockup
-
![image](https://cloud.githubusercontent.com/assets/10201846/11329212/0e42513e-91d4-11e5-9001-ed03fc422e6b.png)

[2015-11-23 03:34] Jinsuke opened #93 "Separated Status Functionality"
Can you come up with a flow, where in the Status: "Separated" in the Add Event tab can be used to request an employee to be removed in the Attendance Tracker System.

When the TL files this in the Calendar tab of a separated employee, a notification will be forwarded to the Supervisor and Manager for approval to remove the employee in the system.

The Date in must not be in range.

The request mus

[2015-11-23 06:37] Jinsuke commented on #46
Passed on local. For testing on 201
-
This is now working. Just need to update 'leave' table and add 'attendancestatusid' tinyint 3 to make it work again. :)

**Please let me know if you're now going to test to 201 so we can edit the database there and add the 'attendancestatusid'**

[2015-11-23 06:40] Jinsuke commented on #33
The reason why the old notification disappeared is probably because we have cleaned the database and filed their approved leaves. Peter Chan might be looking for his past notifications which what happened was, we plotted the leaves ourselves.

[2015-11-23 09:35] chrisperez commented on #91
Please pull and test in 181.

[2015-11-24 00:54] chrisperez commented on #91
Please create a database named attachments to your local and test.

[2015-11-24 03:05] asjr4584 commented on #30
@lyn2711 please test this today.

[2015-11-24 03:07] asjr4584 commented on #32
@lyn2711 please test this today.

[2015-11-24 03:08] asjr4584 commented on #76
@lyn2711 please test this today.

[2015-11-24 03:10] asjr4584 commented on #81
@lyn2711 for testing please.

[2015-11-24 03:11] asjr4584 commented on #82
@lyn2711 please test this today.

[2015-11-24 03:13] asjr4584 commented on #85
@chrisperez we need to implement this in our next release (November 30). Please prioritize.

[2015-11-24 03:17] asjr4584 commented on #88
@lyn2711 please test this today.

[2015-11-24 03:17] asjr4584 commented on #91
@Jinsuke please provide your feedback on this today.

[2015-11-24 03:21] asjr4584 commented on #92
@lyn2711 please test this today.

[2015-11-24 03:31] asjr4584 commented on #83
@chrisperez please develop three attendance tracker applications pointing to the following servers:

(1) dev: c9t16755.itcs.hpecorp.net 16.250.43.122
(2) stg: c9t16850.itcs.hpecorp.net 16.250.55.83
(3) prd: c4t16973.itcs.hpecorp.net 16.248.19.91

[2015-11-24 04:53] asjr4584 commented on #78
@lyn2711 for testing please.

[2015-11-24 04:54] asjr4584 commented on #46
@lyn2711 for testing in 201, please.

[2015-11-24 05:53] asjr4584 opened #94 "Functionality: Database Error when registering a new employee without Group"
@chrisperez @Jinsuke @lyn2711

An error occurs when I registering a new employee without selecting a Group:

http://16.178.42.181/organization/registermembers

[2015-11-24 05:55] asjr4584 commented on #94
![dfasdf](https://cloud.githubusercontent.com/assets/4827031/11359009/023122a0-92b3-11e5-8b55-632533fa99d4.png)
![dsfad](https://cloud.githubusercontent.com/assets/4827031/11359010/02b15394-92b3-11e5-98f2-512572594060.png)

[2015-11-24 06:01] asjr4584 opened #95 "Functionality: Remove Button in the Members page does not work"
Hi Team,

I’m trying to remove the test members but the it doesn’t work.

http://16.178.42.181/organization/members
![3241234](https://cloud.githubusercontent.com/assets/4827031/11359100/de4a0f9a-92b3-11e5-8b92-108c93df9c83.png)

[2015-11-24 06:28] Jinsuke commented on #45
Issue
-
- Roles and Group cannot be edited.

![image](https://cloud.githubusercontent.com/assets/10201846/11359495/a2783254-92b7-11e5-96f1-d80857c054c5.png)

[2015-11-24 06:45] lyn2711 commented on #30
Can edit dates and save changes correctly but after saving, page goes to overview (select org) page. It should be back to the user's profile.

[2015-11-24 06:51] lyn2711 commented on #36
Issue
-
- Only Manager (Abi) can access the settings page. Team Leads and Supervisors can't access both in 181 and 201

[2015-11-24 06:52] lyn2711 commented on #39
Related to issue #36.

[2015-11-24 06:57] lyn2711 commented on #43
Passed in 181 and 201
-
- For testing on cloud server

[2015-11-24 06:59] lyn2711 commented on #46
Passed in 181 and 201
-
- For testing on cloud server

[2015-11-24 07:03] lyn2711 commented on #78
Passed in 201
-
-For testing on Cloud server. :grin:

[2015-11-24 07:06] lyn2711 commented on #81
Passed in 181 and 201
-
- Please create issue for functionality :grinning:

[2015-11-24 07:08] lyn2711 commented on #82
Passed in 181 and 201
-
- For testing in cloud :smiley:

[2015-11-24 07:11] lyn2711 commented on #88
Issue
-
- Text Area was not adjusted in Team Lead's leave filing

[2015-11-24 07:13] lyn2711 commented on #92
Passed in 201
-
- For testing in cloud. :cloud:

[2015-11-24 07:15] asjr4584 commented on #43
@lyn2711 testing the cloud servers must be in the following order:

(1) Development Cloud: 16.250.43.122
(2) Staging Cloud: 16.250.55.83
(3) Production Cloud: 16.248.19.91

[2015-11-24 07:15] asjr4584 commented on #46
@lyn2711 testing the cloud servers must be in the following order:

(1) Development Cloud: 16.250.43.122
 (2) Staging Cloud: 16.250.55.83
 (3) Production Cloud: 16.248.19.91

[2015-11-24 07:18] asjr4584 commented on #78
@lyn2711 testing the cloud servers must be in the following order:

(1) Development Cloud: 16.250.43.122
 (2) Staging Cloud: 16.250.55.83
 (3) Production Cloud: 16.248.19.91

[2015-11-24 07:19] asjr4584 commented on #81
@Jinsuke •Please create issue for functionality.

[2015-11-24 07:19] asjr4584 commented on #82
@lyn2711 testing the cloud servers must be in the following order:

(1) Development Cloud: 16.250.43.122
 (2) Staging Cloud: 16.250.55.83
 (3) Production Cloud: 16.248.19.91

[2015-11-24 07:21] asjr4584 commented on #92
@lyn2711 testing the cloud servers must be in the following order:

(1) Development Cloud: 16.250.43.122
 (2) Staging Cloud: 16.250.55.83
 (3) Production Cloud: 16.248.19.91

[2015-11-24 07:28] lyn2711 commented on #76
"New Shift Schedule" does not work in 181.

System still follows original schedule set in Profile page thus agent incurs instances when changing schedule using the New Shift in the Event tab

[2015-11-24 07:30] lyn2711 commented on #32
connected with Issue #76

[2015-11-24 07:33] lyn2711 commented on #1
Passed, test done in 181.

[2015-11-24 07:40] lyn2711 commented on #49
After creating org, next page should show create group page then create members page.

[2015-11-24 07:42] lyn2711 commented on #84
Passed, test done in 181 and 201

[2015-11-24 07:44] lyn2711 commented on #64
Absences appear in Calendar but not on Instances.  Test done in 181

[2015-11-25 00:31] Jinsuke opened #96 "Functionality - Filing for 1SL and 2SL"
Task
-
- Create a functionality for 1SL and 2SL filing
- Function must work on Attendance Tracker website. Sample (Agent files for 1SL, shift is 7-4pm, schedule on attendance tracker website should be cut and agent should not be tagged as undertime).

![image](https://cloud.githubusercontent.com/assets/10201846/10214189/581ee746-6848-11e5-8284-304047ce5418.png)

[2015-11-25 00:32] Jinsuke commented on #81
Created Issue #96 for functionality. UI is already done. :grin:
-

[2015-11-25 00:34] Jinsuke commented on #45
For testing on 181 and 201.
-

[2015-11-25 01:16] Jinsuke commented on #88
For Testing on 181
-
- Added Text Area for Admin leave filing

![image](https://cloud.githubusercontent.com/assets/10201846/11385570/1c776a0a-9355-11e5-8356-e67322127c49.png)

[2015-11-25 03:16] Jinsuke commented on #91
Passed on 181 for testing on 201
-
- Tested by creating a sample SL and uploaded a photo - was able to see the photo.

![image](https://cloud.githubusercontent.com/assets/10201846/11387469/d761f42e-9365-11e5-94fd-78a7580afdec.png)

![image](https://cloud.githubusercontent.com/assets/10201846/11387477/e0dd7366-9365-11e5-96e7-5eec8c0faaec.png)

[2015-11-25 03:38] lyn2711 commented on #89
Suggestion:

Just to be safe, should we just include "Comment" instead of putting in TL Comment and Supervisor Comment for Agent's view?

[2015-11-25 05:25] lyn2711 commented on #88
Passed, test done in 181.

For testing on cloud server

[2015-11-25 05:32] lyn2711 commented on #45
Passed, test done in 181 and 201.

For testing on cloud server

[2015-11-25 05:34] lyn2711 commented on #81
For testing on cloud server

[2015-11-25 05:42] lyn2711 commented on #91
Passed, test done in 181

For testing on cloud server

[2015-11-25 06:45] chrisperez commented on #30
Please pull and retest in 181 first.

[2015-11-25 06:47] chrisperez commented on #91
Please pull and retest in 181

[2015-11-25 06:49] lyn2711 commented on #30
Pass test done in 181.

For testing in cloud server

[2015-11-25 06:54] chrisperez commented on #30
Please test in Cloud Dev Server..

http://c9t16755.itcs.hpecorp.net/

[2015-11-25 06:54] chrisperez commented on #91
Please test in Cloud Dev Server..

http://c9t16755.itcs.hpecorp.net/

[2015-11-25 06:58] Jinsuke commented on #95
Passed testing in 181.
-
- Please test again for checking~
- Added Members of test org 'grouptest'
![image](https://cloud.githubusercontent.com/assets/10201846/11390376/799f8bac-9384-11e5-9e9b-b95acd168737.png)

- Deleted member2 from organization
![image](https://cloud.githubusercontent.com/assets/10201846/11390380/8802db2c-9384-11e5-8718-918e74364170.png)
![image](https://cloud.githubusercontent

[2015-11-25 06:58] lyn2711 commented on #30
Test done in http://c9t16755.itcs.hpecorp.net/

Cannot view uploaded file

[2015-11-25 06:59] lyn2711 commented on #91
Test done in http://c9t16755.itcs.hpecorp.net/

No option to View uploaded image

[2015-11-25 07:19] Jinsuke commented on #94
Update
-
- Adding Roles and Group is now a required item so it will not save if there is no Role and Group set to the new account.

![image](https://cloud.githubusercontent.com/assets/10201846/11390741/ddeb5890-9387-11e5-869a-28d55eadd0b6.png)

For testing on 181
-

[2015-11-25 07:46] lyn2711 commented on #91
Passed, test done in http://c9t16755.itcs.hpecorp.net/

[2015-11-25 23:00] #33 closed

[2015-11-26 00:00] Jinsuke commented on #89
Mockup
-
![image](https://cloud.githubusercontent.com/assets/10201846/11412131/a7df3384-9413-11e5-8585-fd8ea51e18ad.png)

[2015-11-26 00:36] Jinsuke commented on #49
For testing on 181
-
- After Create Organization Page, the page will redirect to Create Group Page.

[2015-11-26 00:49] asjr4584 commented on #95
@lyn2711 for testing in 181 please.

[2015-11-26 00:52] asjr4584 commented on #94
@lyn2711 for testing, please.

[2015-11-26 02:03] asjr4584 commented on #89
@Jinsuke can you also show the time in the Date column, please?

[2015-11-26 03:27] Jinsuke opened #97 "Functionality - Changing Shift Multiple Selection"
Task
-
TL should be able to change a shift schedule in multiple selections of agents under his group.
@Ms. Evelyn, please analyze the flow and provide your feedback via Github (Create a new issue on this one).
@Jin, please create a mockup once Ms. Evelyn is done providing her feedback.

![image](https://cloud.githubusercontent.com/assets/10201846/11414478/ac81b516-9430-11e5-9173-aaf642f4a034.png)

[2015-11-26 03:42] lyn2711 commented on #97
Suggestion is to move the "More Actions" button beside the "Members" button and rename that to "Change Schedule".  Flow now would be:

1. Select All
2. Change Schedule
3. Show page where to input new shift and break schedules

[2015-11-26 05:28] Jinsuke commented on #97
Mockup for Review
-
- Added Change Schedule feature on the right side of the Members Page.

![groupschedmockup](https://cloud.githubusercontent.com/assets/10201846/11415730/72a48498-9441-11e5-8f8a-66235fa33f20.jpg)

[2015-11-26 05:53] lyn2711 commented on #97
This is okay. :)

[2015-11-26 06:02] lyn2711 commented on #94
Pass, test done in 181.

For testing in 201

[2015-11-26 06:04] lyn2711 commented on #95
Passed, test done in 181.

For testing in 201

[2015-11-26 06:06] lyn2711 commented on #49
Passed, test done in 181.

For testing in 201

[2015-11-26 07:25] lyn2711 commented on #85
Working but sent email (re: subject and content) should be changed:

![image](https://cloud.githubusercontent.com/assets/7370325/11417365/80798810-9451-11e5-8d7c-5d1444f321ff.png)

![image](https://cloud.githubusercontent.com/assets/7370325/11417404/ef213b14-9451-11e5-91a1-d9c139ff3438.png)

[2015-11-26 07:36] lyn2711 commented on #1
Test done in Dev server.

Please rename "Absent" to "Absence"

![image](https://cloud.githubusercontent.com/assets/7370325/11417606/6982c822-9453-11e5-9875-ab48c08ce727.png)

[2015-11-26 07:38] lyn2711 commented on #36
Passed, test done in Dev server

[2015-11-26 07:41] lyn2711 commented on #39
Passed, test done in Dev server

[2015-11-26 07:44] lyn2711 commented on #43
Passed, test done on Dev server

[2015-11-26 07:45] lyn2711 commented on #45
Passed, test done on Dev server

[2015-11-26 07:56] lyn2711 commented on #49
Passed, test done on Dev server

[2015-11-26 07:58] lyn2711 commented on #78
Passed, test done on Dev server

[2015-11-26 08:07] lyn2711 commented on #81
TL's Notification indicates that agent has filed Vacation leave when in fact, agent filed for 1SL.

![image](https://cloud.githubusercontent.com/assets/7370325/11418107/b88a2146-9457-11e5-8e26-b00156cd4aa9.png)

![image](https://cloud.githubusercontent.com/assets/7370325/11418115/ca56fd2c-9457-11e5-98e9-70c7ade321ac.png)

And when TL approved the leave, there was an error

![image](https://cloud.g

[2015-11-26 08:09] lyn2711 commented on #46
TL's Notification indicates that agent has filed Vacation leave when in fact, agent filed for 1SL.

![image](https://cloud.githubusercontent.com/assets/7370325/11418107/b88a2146-9457-11e5-8e26-b00156cd4aa9.png)

![image](https://cloud.githubusercontent.com/assets/7370325/11418115/ca56fd2c-9457-11e5-98e9-70c7ade321ac.png)

And when TL approved the leave, there was an error

![image](https://cloud.g

[2015-11-26 08:13] lyn2711 commented on #82
Passed, test done in Dev server

[2015-11-26 08:14] lyn2711 commented on #84
Passed, test done on Dev server

[2015-11-26 08:28] jin commented on #97
Hi guys, I think you have been tagging the wrong @Jin :)

[2015-11-26 23:30] asjr4584 commented on #97
Hi Jin,

Sorry for the wrong tagging. ☺

Thanks for letting us know.

Regards,

Alfredo A. Salvador, Jr.
Team Lead, Customer Solutions Rep V
HP ES Business Process Services

M + 639228901356
E alfredoa.salvadorjr@hpe.com<mailto:alfredoa.salvadorjr@hpe.com>
Hewlett Packard Enterprise Services
2F Two World Square
22 Upper McKinley Road, McKinley Town Center
Fort Bonifacio, Taguig City, 1634
Philippi

[2015-11-27 00:03] Jinsuke commented on #1
Done Testing on Local
-
- Changed text to "Unauthorized Absence"

![image](https://cloud.githubusercontent.com/assets/10201846/11431924/47de199e-94dd-11e5-86dd-98b623d24e7a.png)

[2015-11-27 00:21] Jinsuke commented on #95
Passed in 201
-
- For testing on Dev

[2015-11-27 00:22] Jinsuke commented on #1
Passed on 201. For testing on Dev.

[2015-11-27 00:23] Jinsuke commented on #94
Passed on 201. For testing on Dev.
-

[2015-11-27 01:31] Jinsuke commented on #1
Passed on Dev
-
- For Testing on Stagin :+1:

[2015-11-27 01:32] Jinsuke commented on #94
Passed on Dev
-
- For testing on Staging :cloud:

[2015-11-27 01:36] Jinsuke commented on #95
Issue on Dev
-
- Can successfully delete members on Organization on the first time, the removed member will also be removed on the Dashboard page
- Issue is if you add the removed member on the same organization, the removed member will no longer be displayed on the Dashboard even though it is included on the Organization members page.
- Once the removed member has been re-added into the group, he

[2015-11-27 01:41] Jinsuke commented on #92
Passed on Dev
-
- For testing on Staging :cloud:

[2015-11-27 01:43] Jinsuke commented on #88
Issue on 201
-
- Get this issue once I file a leave. Possibly connected to the email feature.

![image](https://cloud.githubusercontent.com/assets/10201846/11432529/53534890-94eb-11e5-9b29-2103375938b0.png)

[2015-11-27 01:58] Jinsuke commented on #88
Passed in Dev
-
- For testing on Staging :+1:

[2015-11-27 02:06] Jinsuke commented on #89
UI is done. Functionality is to Follow.
-
- Code is already pushed on SourceTree ISSUE-089

[2015-11-27 02:23] asjr4584 commented on #86
@chrisperez @Jinsuke @lyn2711 we need to include this in the 1.5 update release (December 15).

[2015-11-27 02:23] asjr4584 commented on #87
@chrisperez @Jinsuke @lyn2711 we need to include this in the 1.5 update release (December 15).

[2015-11-27 02:57] Jinsuke commented on #85
For Review
-
- Email Notification Tracking

![image](https://cloud.githubusercontent.com/assets/10201846/11433250/8f98c438-94f5-11e5-822d-9bfb52c58352.png)

[2015-11-27 03:17] Jinsuke commented on #46
Passed on Dev
-
- Tested this again on Dev

![image](https://cloud.githubusercontent.com/assets/10201846/11433456/7fe8b19e-94f8-11e5-9270-716fa1da69e5.png)

[2015-11-27 06:21] asjr4584 opened #98 "Functionality - Email Notifications from Instances (Instance Tab)"
Functionality - Email Notifications from Instances:

TARDY:
(1) LOGIN late
(2) LOGOUT early (undertime)
(3) SHORT BREAK (over break)
(4) LONG BREAK (over lunch)

ABSENTEEISM:
			i. Absence Without Leave (AWOL)
			ii. No Call No Show (NCNS)
			iii. Job Abandonment
			iv. Critical Work Day
				1) Days on, before or after pay day
				2) Holidays both regular and special
				3) Before or after rest da

[2015-11-27 06:24] asjr4584 opened #99 "UI Design: Redirecting Users from Local (http://16.178.42.201) to Dev Server (http://c9t16755.itcs.hpecorp.net/)"
Revise the Front Page to Redirect Users from Local (http://16.178.42.201) to Dev Server (http://c9t16755.itcs.hpecorp.net/)

[2015-11-27 06:38] asjr4584 commented on #2
Deadline: December 15.

[2015-11-27 06:47] asjr4584 commented on #99
put on hold.

201 will be shutdown upon the release of Development Cloud Instance.

[2015-11-27 06:50] asjr4584 commented on #3
Deadline: December 15.

[2015-11-27 06:53] asjr4584 commented on #76
@chrisperez @lyn2711 @Jinsuke please fix this ASAP.

[2015-11-27 07:01] asjr4584 commented on #64
@chrisperez please fix this ASAP.

[2015-11-27 07:04] asjr4584 commented on #85
Deadline: December 15.

[2015-11-27 08:51] chrisperez commented on #85
Hi Guys,

I have sent an email for the testing. Please check your email. Thanks!.

[2015-12-03 07:43] asjr4584 opened #100 "Server: Staging and Production redirecting to Dev"
Issue in Redirection resolved:

Go to: cd opt/cloudhost/apache/www/AttendanceTracker/app/Config

vim core.php

Make sure this line is pointing to the correct URL website:

Configure::write('App.fullBaseUrl', 'http://c9t16755.itcs.hpecorp.net');

Save and quit the file: :wq!

service httpd restart

[2015-12-04 00:41] chrisperez commented on #83
Done by @Jinsuke.

[2015-12-04 00:45] chrisperez commented on #86
On going..

[2015-12-04 00:46] chrisperez commented on #85
On going..

[2015-12-04 00:57] chrisperez commented on #89
Please paste UI here, @Jinsuke. Thanks!

[2015-12-04 07:26] asjr4584 opened #101 "Functionality: Hyperlink of Flexi Notification leads to incorrect Date in Dashboard"
Hi Team,

Scenario:
I am using Supervisors account and I would like to approve the flexi time requested by the Team Leads.

However, I noticed that when you clicked the Flexi Time link under the Notification page, you will be redirected to a wrong date in the Dashboard; please see screen shot below:

@Jin, please log this issue to GitHub,

Thank you!

Regards,

Alfredo A. Salvador, Jr.
Team Lead,

[2015-12-04 07:27] asjr4584 opened #102 "Functionality: Uploading PDF and Zip files in the Add Event tab"
From: Allan Salvador Jr. [mailto:asjr4584@gmail.com]
Sent: Thursday, December 03, 2015 3:34 PM
To: Salvador Jr., Allan Agura; Llamas, Evs Dela Rosa; Gokapi, Jin Tuason; Perez, Christopher Denosta
Subject: Attendance Tracker: Uploading PDF and Zip files in the Add Event tab

Hi Team,

Can you we allow the attendance tracker system to accept uploading PDF and Zip files, please?

@Jin, please create

[2015-12-04 07:28] asjr4584 opened #103 "Functionality: Email Notification when adding an Event in the Calendar"
From: Allan Salvador Jr. [mailto:asjr4584@gmail.com]
Sent: Thursday, December 03, 2015 2:56 PM
To: Salvador Jr., Allan Agura; Perez, Christopher Denosta; Gokapi, Jin Tuason; Llamas, Evs Dela Rosa
Subject: Attendance Tracker: Email Notification when adding an Event in the Calendar

Hi Team,

Can we notify the following users when an admin is adding event to the one's calendar, please?
•	Agent's Con

[2015-12-04 07:28] asjr4584 opened #104 "Functionality: Add Hour Field in the Edit Event (New Shift)"
From: Allan Salvador Jr. [mailto:asjr4584@gmail.com]
Sent: Thursday, December 03, 2015 2:50 PM
To: Salvador Jr., Allan Agura; Perez, Christopher Denosta; Gokapi, Jin Tuason; Llamas, Evs Dela Rosa
Subject: Attendance Tracker: Add Hour Field in the Edit Event (New Shift)

http://c9t16755.itcs.hpecorp.net/users/profile/35002199

Hi Team,

I just added an event in the Calendar and would like to edit i

[2015-12-04 07:29] asjr4584 opened #105 "Functionality: Broken Link from the Header"
Issue
-
- Clicking the Attendance Tracker from the header shows an error page.

http://c9t16755.itcs.hpecorp.net/organization/

Can you fix this, please?
Thank you!

[2015-12-04 07:30] asjr4584 opened #106 "Functionality: Add new column for Shift in the Events tab"
From: Salvador Jr., Allan Agura
Sent: Wednesday, December 02, 2015 12:54 PM
To: Gokapi, Jin Tuason; Llamas, Evs Dela Rosa; Perez, Christopher Denosta; Salvador Jr., Allan Agura
Subject: Attendance Tracker: Add new column for Shift in the Events tab
Importance: High

Hi Everyone,

I would like to see another column in the Events History tab showing the shift of a particular entry:

@Jin, Please add

[2015-12-04 07:31] asjr4584 opened #107 "Functionality: Change Date of VL Request"
From: Salvador Jr., Allan Agura
Sent: Wednesday, December 02, 2015 9:21 AM
To: Gokapi, Jin Tuason; Llamas, Evs Dela Rosa; Perez, Christopher Denosta; Salvador Jr., Allan Agura
Subject: Attendance Tracker: Change Date of VL Request
Importance: High

Hi Team,

As discussed, I would like to add the “Change Date” button under a leave approval form for approved VL requests.

Scenario:
(1)	An agent requ

[2015-12-04 07:33] asjr4584 commented on #86
Deadline: December 15.

[2015-12-04 07:33] asjr4584 commented on #87
Deadline: December 15.

[2015-12-04 07:51] asjr4584 commented on #92
Deadline: December 15.

[2015-12-04 07:51] asjr4584 commented on #91
Deadline: December 15.

[2015-12-04 07:51] asjr4584 commented on #88
Deadline: December 15.

[2015-12-04 07:51] asjr4584 commented on #81
Deadline: December 15.

[2015-12-04 07:51] asjr4584 commented on #78
Deadline: December 15.

[2015-12-04 07:52] asjr4584 commented on #89
Deadline: December 15.

[2015-12-08 23:50] chrisperez commented on #2
UI is done. For functionality, refer to #3

[2015-12-09 00:11] chrisperez commented on #3
Still have problems computing with Not Logged out and overlapping schedules.

[2015-12-09 00:19] chrisperez commented on #76
New Shift applies only for the specified dates. It does not necessary change the agent's shift permanently. To change the schedule permanently, edit it in the profile page.

[2015-12-09 00:25] asjr4584 commented on #76
@lyn2711 for testing in Dev Server please.

[2015-12-09 00:53] chrisperez commented on #32
@lyn2711 please explain how it is connected to #76.

[2015-12-09 01:03] chrisperez commented on #107
Not yet started.

[2015-12-09 01:06] asjr4584 commented on #107
Deadline: December 15.

[2015-12-09 01:06] chrisperez commented on #64
Not yet started.

[2015-12-09 01:07] asjr4584 commented on #64
Deadline: December 15.

[2015-12-09 01:09] chrisperez commented on #85
Need to change email messages.

[2015-12-09 01:10] asjr4584 commented on #85
Deadline: December 15.

[2015-12-09 01:24] chrisperez commented on #87
Not yet started.

[2015-12-09 01:26] chrisperez commented on #89
Not yet started.

[2015-12-09 01:27] chrisperez commented on #95
Not yet started.

[2015-12-09 01:33] chrisperez commented on #96
Not yet started.

The changes for these issue may affect the following:
- Dashboard
- Profile and global calendars
- Profile Instances

[2015-12-09 01:34] chrisperez commented on #98
Not yet started.

[2015-12-09 01:35] chrisperez commented on #101
Not yet started.

[2015-12-09 01:36] chrisperez commented on #102
Not yet started.

[2015-12-09 01:37] chrisperez commented on #103
Not yet started.

[2015-12-09 01:41] asjr4584 commented on #95
Deadline: December 15.

[2015-12-09 01:42] asjr4584 commented on #96
Deadline: December 30.

[2015-12-09 01:44] asjr4584 commented on #98
Deadline: December 30.

[2015-12-09 01:44] asjr4584 commented on #101
Deadline: December 30.

[2015-12-09 01:45] asjr4584 commented on #102
Deadline: December 30.

[2015-12-09 01:45] asjr4584 commented on #103
Deadline: December 30.

[2015-12-09 02:17] chrisperez commented on #106
On going..

[2015-12-09 02:18] jin commented on #106
Hello,

Please use the correct username for tagging, thanks :-)

On Fri, Dec 4, 2015 at 3:30 PM, asjr4584 <notifications@github.com> wrote:

[2015-12-09 02:21] asjr4584 commented on #106
@jin sorry for that, your name was added in the previous post.

[2015-12-10 08:02] asjr4584 commented on #106
Deadline: December 30

[2015-12-10 08:02] asjr4584 commented on #105
Deadline: December 15.

[2015-12-10 08:03] asjr4584 commented on #104
Deadline: December 30

[2015-12-10 08:03] #100 closed

[2015-12-10 08:03] asjr4584 commented on #97
Deadline: December 30.

[2015-12-10 08:04] asjr4584 commented on #94
Deadline: December 30

[2015-12-10 08:05] asjr4584 commented on #93
Deadline: December 30

[2015-12-10 08:09] asjr4584 commented on #84
Deadline: December 15.

[2015-12-10 08:10] #83 closed

[2015-12-10 08:37] Jinsuke commented on #107
Suggested UI:
-
- Change Date Request on Agent Side

1) Click Change Date button
![image](https://cloud.githubusercontent.com/assets/10201846/11710536/d85236f4-9f5a-11e5-8759-43bc3288020f.png)

2) Redirects to File a Leave page with editable Date Range
![image](https://cloud.githubusercontent.com/assets/10201846/11710559/19af6342-9f5b-11e5-9416-a05939aa1285.png)

3) Notifies TL and Supervisor abou

[2015-12-10 08:40] Jinsuke commented on #106
Suggested UI
-
![image](https://cloud.githubusercontent.com/assets/10201846/11710787/b2f088a0-9f5c-11e5-8d89-05297e981f21.png)

[2015-12-10 08:42] Jinsuke commented on #105
Hi Sir @asjr4584,

- Upon testing, this seems to work fine. Can you tell me how you're able to access just the /organization/ page? Tried troubleshooting it and the link seems to work fine.

![image](https://cloud.githubusercontent.com/assets/10201846/11710820/022497fe-9f5d-11e5-90ad-00e7b4b69335.png)

[2015-12-10 08:51] Jinsuke commented on #89
Hi Kuya @chrisperez ,
- Code is already pushed on SourceTree ISSUE-089

[2015-12-10 09:28] Jinsuke commented on #93
Flow
-
- TL Files Separated status of Agent
  - Needs to input last working day of Agent and possible comments.
![image](https://cloud.githubusercontent.com/assets/10201846/11711538/222806a8-9f62-11e5-8024-4a9885ac15d5.png)

:exclamation: After TL files for Agent's separation, Supervisor will be notified on the site and on email about the removal of the Agent.

- Supervisor gets notified about the

[2015-12-10 10:46] Jinsuke commented on #97
Update
-
- UI is pushed to #97
![image](https://cloud.githubusercontent.com/assets/10201846/11713419/42580d4a-9f6e-11e5-90cd-f1ed65b16eb1.png)

**FUNCTIONALITY IS TO FOLLOW**

[2015-12-10 12:15] Jinsuke commented on #103
Hi Sir @asjr4584 ,

This issue is somewhat related to the original issue #85 about Email Notifications. This might be a duplicate issue.

[2015-12-10 12:15] Jinsuke commented on #98
Hi Sir @asjr4584 ,

This issue is somewhat related to the original issue #85 about Email Notifications. This might be a duplicate issue.

[2015-12-10 12:49] asjr4584 commented on #107
@lyn2711 please review the mockup above and provide your feedback.

[2015-12-10 12:52] asjr4584 commented on #106
@Jinsuke I'm okay with this one, please proceed.

[2015-12-10 12:55] asjr4584 commented on #105
@Jinsuke i did encounter that before, but now it seems working fine :)

[2015-12-10 12:55] #105 closed

[2015-12-10 12:57] asjr4584 commented on #93
@lyn2711 please review the flow of the mockup below and provide your feedback.

[2015-12-10 13:01] asjr4584 commented on #103
@Jinsuke let's keep this open along with #85

[2015-12-10 13:01] asjr4584 commented on #98
@Jinsuke let's keep this open along with #85

[2015-12-10 13:05] Jinsuke commented on #38
Added Table Color
-
![image](https://cloud.githubusercontent.com/assets/10201846/11716019/c7f4338a-9f81-11e5-8617-76844a596e1d.png)

[2015-12-10 13:13] Jinsuke commented on #106
UI Done and pushed on ISSUE-106
-
![image](https://cloud.githubusercontent.com/assets/10201846/11716155/c13f6c02-9f82-11e5-9ef5-05a4260e2b2d.png)

Functionality is to follow
-

[2015-12-10 13:14] asjr4584 commented on #106
@chrisperez please work on the functionality for this issue.

[2015-12-10 13:46] Jinsuke commented on #87
Hi Sir @asjr4584 ,

I have a question regarding this issue. It's indicated that:

If TLs can approve 4 VLs per day and Supervisor can only

[2015-12-11 10:02] asjr4584 commented on #107
Moving the Deadline to December 30.

[2015-12-11 10:04] asjr4584 commented on #106
Deadline: December 30

[2015-12-13 23:28] asjr4584 commented on #97
@Jinsuke @chrisperez @lyn2711

Suggestions:
(1) Add the Select All button at the top of the Members list
(2) When no one is selected in the Members section, the Change Schedule is grayed out

[2015-12-18 02:53] Jinsuke commented on #101
For testing on Local
-
- Fixed notification hyperlink for Flexi Time approval flow.

![image](https://cloud.githubusercontent.com/assets/10201846/11888145/8363b5c0-a575-11e5-956d-0e43e6dae831.png)

[2015-12-23 06:07] asjr4584 commented on #78
OVERDUE.

[2015-12-23 06:08] asjr4584 commented on #92
overdue

[2015-12-23 06:08] asjr4584 commented on #91
overdue

[2015-12-23 06:08] asjr4584 commented on #88
overdue

[2015-12-23 06:08] asjr4584 commented on #81
overdue

[2015-12-23 06:10] asjr4584 commented on #89
overdue

[2015-12-23 06:14] asjr4584 commented on #95
overdue

[2015-12-23 06:14] asjr4584 commented on #87
overdue

[2015-12-23 06:14] asjr4584 commented on #86
overdue

[2015-12-23 06:15] asjr4584 commented on #85
overdue

[2015-12-23 06:15] asjr4584 commented on #84
overdue

[2015-12-23 06:15] asjr4584 commented on #3
overdue

[2015-12-23 06:16] asjr4584 commented on #2
overdue